In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
# Import data
batting_by_team_df = pd.read_csv("FanGraphs Leaderboard.csv")
batting_by_team_df.head()

,Team,G,PA,HR,R,RBI,SB,BB%,K%,ISO,...,AVG,OBP,SLG,wOBA,xwOBA,wRC+,BsR,Off,Def,WAR
0,HOU,2319,6291,221,863,834,53,9.0%,19.4%,0.177,...,0.267,0.339,0.444,0.336,NaN,116,-6.2,117.4,20.3,35.2
1,TBR,2389,6213,222,857,810,88,9.4%,24.8%,0.186,...,0.243,0.321,0.429,0.322,NaN,109,11.2,82.4,22.8,31.7
2,SFG,2597,6196,241,804,768,66,9.7%,23.6%,0.191,...,0.249,0.329,0.440,0.329,NaN,108,-6.4,54.8,55.1,31.7
3,LAD,2459,6239,237,830,799,65,9.8%,22.6%,0.185,...,0.244,0.330,0.429,0.327,NaN,106,9.3,54.7,31.2,29.4
4,TOR,2383,6070,262,846,816,81,8.2%,20.1%,0.200,...,0.266,0.330,0.466,0.340,NaN,112,2.8,95.1,-9.4,29.3

In [3]:
# Import data
pitching_by_team_df = pd.read_csv("FanGraphs Leaderboard (1).csv")
pitching_by_team_df.head()

,Team,W,L,SV,G,GS,IP,K/9,BB/9,HR/9,BABIP,LOB%,GB%,HR/FB,vFA (pi),ERA,xERA,FIP,xFIP,WAR
0,CHW,93,69,43,674,162,1403.1,10.18,3.11,1.17,0.288,74.4%,41.2%,12.8%,95.5,3.73,NaN,3.74,3.85,27.1
1,LAD,106,56,56,762,162,1452.0,9.91,3.01,1.00,0.260,76.5%,44.5%,11.8%,94.1,3.03,NaN,3.54,3.75,26.9
2,MIL,95,67,44,695,162,1436.0,10.14,3.37,1.05,0.275,74.7%,44.5%,13.3%,93.2,3.50,NaN,3.72,3.75,23.6
3,NYY,92,70,47,674,162,1435.1,9.84,3.08,1.23,0.284,74.0%,41.9%,12.9%,94.9,3.76,NaN,3.90,4.00,22.3
4,SFG,107,55,56,761,162,1455.0,8.81,2.57,0.93,0.279,74.9%,45.6%,10.9%,93.7,3.25,NaN,3.55,3.87,21.9

In [4]:
# Import data
fielding_by_team_df = pd.read_csv("FanGraphs Leaderboard (2).csv")
fielding_by_team_df.head()

,Team,Inn,rSZ,rCERA,rSB,rGDP,rARM,rGFP,rPM,rTS,...,ARM,DPR,RngR,ErrR,UZR,UZR/150,FRM,OAA,RAA,Def
0,Rangers,12819.0,13,0,2,-4,14,11,39,17,...,13.3,-1.5,16.7,4.9,33.4,6.1,16.7,28,25,71.6
1,Cardinals,12753.0,-6,3,3,-7,8,4,60,11,...,3.2,-6.6,21.6,12.8,31.0,4.0,-7.9,51,40,43.1
2,Astros,13005.0,-5,-4,1,-2,1,5,57,16,...,0.5,-1.3,18.2,2.7,20.1,2.8,0.8,41,34,37.4
3,Rays,13101.0,14,2,2,4,0,-5,45,18,...,0.4,2.0,17.7,-5.6,14.4,2.4,5.1,32,29,34.8
4,Royals,12756.0,-7,2,4,3,3,10,-4,11,...,3.6,5.7,7.0,5.8,22.1,3.4,-17.3,23,18,34.3

In [5]:
# Import data
batting_by_player_df = pd.read_csv("FanGraphs Leaderboard (3).csv")
batting_by_player_df.head()

,Name,Team,G,PA,HR,R,RBI,SB,BB%,K%,...,OBP,SLG,wOBA,xwOBA,wRC+,BsR,Off,Def,WAR,playerid
0,Fernando Tatis Jr.,SDP,130,546,42,99,97,25,11.4%,28.0%,...,0.364,0.611,0.403,0.406,156,9.3,48.5,6.2,7.3,19709
1,Juan Soto,WSN,151,654,29,111,95,9,22.2%,14.2%,...,0.465,0.534,0.420,0.430,163,-3.3,48.7,-1.1,7.0,20123
2,Trea Turner,- - -,148,646,28,107,77,32,6.3%,17.0%,...,0.375,0.536,0.386,0.362,142,5.0,39.5,6.4,6.8,16252
3,Bryce Harper,PHI,141,599,35,101,84,13,16.7%,22.4%,...,0.429,0.615,0.431,0.430,170,-2.5,50.7,-5.4,6.5,11579
4,Jose Ramirez,CLE,152,636,36,111,103,27,11.3%,13.7%,...,0.355,0.538,0.372,0.374,137,6.3,35.4,7.4,6.5,13510

In [6]:
# Import data
pitching_by_player_df = pd.read_csv("FanGraphs Leaderboard (4).csv")
pitching_by_player_df.head()

,Name,Team,W,L,SV,G,GS,IP,K/9,BB/9,...,LOB%,GB%,HR/FB,vFA (pi),ERA,xERA,FIP,xFIP,WAR,playerid
0,Corbin Burnes,MIL,11,5,0,28,28,167.0,12.61,1.83,...,75.7%,48.8%,6.1%,96.5,2.43,1.99,1.63,2.30,7.5,19361
1,Zack Wheeler,PHI,14,10,0,32,32,213.1,10.42,1.94,...,75.3%,49.8%,10.8%,97.3,2.78,2.77,2.59,2.84,7.3,10310
2,Nathan Eovaldi,BOS,11,9,0,32,32,182.1,9.63,1.73,...,70.4%,42.0%,8.2%,97.1,3.75,3.35,2.79,3.48,5.6,9132
3,Walker Buehler,LAD,16,4,0,33,33,207.2,9.19,2.25,...,80.9%,44.7%,10.1%,95.5,2.47,3.08,3.16,3.57,5.5,19374
4,Max Scherzer,- - -,15,4,0,30,30,179.1,11.84,1.81,...,84.3%,33.5%,11.7%,94.5,2.46,2.88,2.97,3.24,5.4,3137

In [7]:
# Import data
fielding_by_player_df = pd.read_csv("FanGraphs Leaderboard (5).csv")
fielding_by_player_df.head()

,Name,Team,Pos,Inn,rSZ,rCERA,rSB,rGDP,rARM,rGFP,...,DPR,RngR,ErrR,UZR,UZR/150,FRM,OAA,RAA,Def,playerid
0,Nicky Lopez,KCR,SS,1233.2,NaN,NaN,NaN,0.0,NaN,2,...,2.4,-0.8,3.6,5.2,4.6,NaN,24.0,18.0,27.3,19339
1,Francisco Lindor,NYM,SS,1029.1,NaN,NaN,NaN,0.0,NaN,-1,...,-0.1,1.2,-1.2,-0.1,-0.3,NaN,20.0,15.0,20.8,12916
2,Sean Murphy,OAK,C,923.1,5.0,0.0,2.0,NaN,NaN,-1,...,NaN,NaN,NaN,NaN,NaN,9.7,NaN,NaN,19.7,19352
3,Nick Ahmed,ARI,SS,1028.0,NaN,NaN,NaN,-1.0,NaN,1,...,-1.2,-1.3,2.7,0.2,0.4,NaN,19.0,14.0,18.4,12147
4,Andrelton Simmons,MIN,SS,1091.2,NaN,NaN,NaN,0.0,NaN,0,...,0.5,1.3,-1.9,-0.1,-1.1,NaN,16.0,12.0,18.4,10847