In [12]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from config import db_password

In [4]:
attendance_data = pd.read_csv("../../NBA_scrape/attendance.csv")
attendance_data.head(30)

In [ ]:
len(attendance_data)

In [ ]:
attendance_data.columns

In [ ]:
attendance_df = attendance_data.drop(columns = ['Unnamed: 0'])
attendance_df

In [ ]:
attendance_df = attendance_df.rename(columns = {'1':'TEAM_NAME', '2':'HOME_GAMES', '3':'HOME_ATTENDANCE', '4':'HOME_ATTENDANCE_AVG',
                                               '5':'HOME_ATTENDANCE_PCT', '6':'AWAY_GAMES', '7':'AWAY_ATTENDANCE_AVG', 
                                                '8':'AWAY_ATTENDANCE_PCT', '9':'TOTAL_GAMES', '10':'OVERALL_ATTENDANCE_AVG',
                                               '11':'OVERALL_ATTENDANCE_PCT'})

attendance_df

In [ ]:
attendance_df.isnull().sum()

In [ ]:
attendance_df.dtypes

In [ ]:
attendance_df['HOME_ATTENDANCE_PCT'] = attendance_df['HOME_ATTENDANCE_PCT'].astype('float64').astype('int64')

attendance_df.dtypes

In [23]:
attendance_df = attendance_df.drop(columns = ['HOME_ATTENDANCE_PCT', 'AWAY_ATTENDANCE_PCT', 'OVERALL_ATTENDANCE_PCT'])
attendance_df

,TEAM_NAME,HOME_GAMES,HOME_ATTENDANCE,HOME_ATTENDANCE_AVG,AWAY_GAMES,AWAY_ATTENDANCE_AVG,TOTAL_GAMES,OVERALL_ATTENDANCE_AVG,Year
0,Pistons,41,872902,21290,41,17127,82,19209,2004
1,Mavericks,41,825594,20136,41,17452,82,18794,2004
2,Bulls,41,809177,19736,41,16517,82,18126,2004
3,76ers,41,788128,19222,41,17672,82,18447,2004
4,NY Knicks,41,785739,19164,41,17589,82,18376,2004
...,...,...,...,...,...,...,...,...,...
534,Magic,41,622881,15192,41,17062,82,16127,2022
535,Spurs,41,615588,15014,41,16939,82,15965,2022
536,Thunder,41,595112,14877,41,16638,82,15768,2022
537,Kings,41,577583,14439,41,16598,82,15532,2022
538,Pacers,41,588743,14359,41,16794,82,15577,2022

In [14]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

attendance_df.to_sql(name='attendance_data', con=engine)

In [15]:
attendance_data_df = pd.read_sql_table("attendance_data", con=engine)

attendance_data_df

,index,TEAM_NAME,HOME_GAMES,HOME_ATTENDANCE,HOME_ATTENDANCE_AVG,AWAY_GAMES,AWAY_ATTENDANCE_AVG,TOTAL_GAMES,OVERALL_ATTENDANCE_AVG,Year
0,0,Pistons,41,872902,21290,41,17127,82,19209,2004
1,1,Mavericks,41,825594,20136,41,17452,82,18794,2004
2,2,Bulls,41,809177,19736,41,16517,82,18126,2004
3,3,76ers,41,788128,19222,41,17672,82,18447,2004
4,4,NY Knicks,41,785739,19164,41,17589,82,18376,2004
...,...,...,...,...,...,...,...,...,...,...
534,534,Magic,41,622881,15192,41,17062,82,16127,2022
535,535,Spurs,41,615588,15014,41,16939,82,15965,2022
536,536,Thunder,41,595112,14877,41,16638,82,15768,2022
537,537,Kings,41,577583,14439,41,16598,82,15532,2022
538,538,Pacers,41,588743,14359,41,16794,82,15577,2022

In [16]:
attendance_data_df = attendance_data_df.drop(columns = ['index'])
attendance_data_df

,TEAM_NAME,HOME_GAMES,HOME_ATTENDANCE,HOME_ATTENDANCE_AVG,AWAY_GAMES,AWAY_ATTENDANCE_AVG,TOTAL_GAMES,OVERALL_ATTENDANCE_AVG,Year
0,Pistons,41,872902,21290,41,17127,82,19209,2004
1,Mavericks,41,825594,20136,41,17452,82,18794,2004
2,Bulls,41,809177,19736,41,16517,82,18126,2004
3,76ers,41,788128,19222,41,17672,82,18447,2004
4,NY Knicks,41,785739,19164,41,17589,82,18376,2004
...,...,...,...,...,...,...,...,...,...
534,Magic,41,622881,15192,41,17062,82,16127,2022
535,Spurs,41,615588,15014,41,16939,82,15965,2022
536,Thunder,41,595112,14877,41,16638,82,15768,2022
537,Kings,41,577583,14439,41,16598,82,15532,2022
538,Pacers,41,588743,14359,41,16794,82,15577,2022

In [ ]:
attendance_data_df.to_csv('../Resources/attendance_data.csv')