# Draft Data

In [1]:
import sqlite3
import pandas as pd

dat = sqlite3.connect('basketball.sqlite')
query = dat.execute("SELECT * From Draft")
cols = [column[0] for column in query.description]
draft = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [2]:
draft

,yearDraft,numberPickOverall,numberRound,numberRoundPick,namePlayer,slugTeam,nameOrganizationFrom,typeOrganizationFrom,idPlayer,idTeam,nameTeam,cityTeam,teamName,PLAYER_PROFILE_FLAG,slugOrganizationTypeFrom,locationOrganizationFrom
0,2020.0,1.0,1.0,1.0,Anthony Edwards,MIN,Georgia,College/University,1630162.0,1.610613e+09,Minnesota Timberwolves,Minnesota,Timberwolves,1.0,COL,None
1,2020.0,2.0,1.0,2.0,James Wiseman,GSW,Memphis,College/University,1630164.0,1.610613e+09,Golden State Warriors,Golden State,Warriors,1.0,COL,None
2,2020.0,3.0,1.0,3.0,LaMelo Ball,CHA,Illawarra,Other Team/Club,1630163.0,1.610613e+09,Charlotte Hornets,Charlotte,Hornets,1.0,PRO,Australia
3,2020.0,4.0,1.0,4.0,Patrick Williams,CHI,Florida State,College/University,1630172.0,1.610613e+09,Chicago Bulls,Chicago,Bulls,1.0,COL,None
4,2020.0,5.0,1.0,5.0,Isaac Okoro,CLE,Auburn,College/University,1630171.0,1.610613e+09,Cleveland Cavaliers,Cleveland,Cavaliers,1.0,COL,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7885,1949.0,6.0,1.0,6.0,Ron Livingstone,BAL,Wyoming,College/University,77392.0,1.610610e+09,Baltimore Bullets,Baltimore,Bullets,1.0,COL,None
7886,1949.0,7.0,1.0,7.0,Dick McGuire,NYK,St. John's (NY),College/University,77537.0,1.610613e+09,New York Knicks,New York,Knicks,1.0,COL,None
7887,1949.0,8.0,1.0,8.0,Wallace Jones,WAS,Kentucky,College/University,77199.0,1.610610e+09,Washington Capitols,Washington,Capitols,1.0,COL,None
7888,1949.0,9.0,1.0,9.0,Jack Kerris,CHS,Loyola-Chicago,College/University,77249.0,1.610610e+09,Chicago Stags,Chicago,Stags,1.0,COL,None
7889,1949.0,10.0,1.0,10.0,Frank Saul,ROC,Seton Hall,College/University,78063.0,1.610613e+09,Rochester Royals,Rochester,Royals,1.0,COL,None

In [3]:
print(draft.columns)

Index(['yearDraft', 'numberPickOverall', 'numberRound', 'numberRoundPick',
       'namePlayer', 'slugTeam', 'nameOrganizationFrom',
       'typeOrganizationFrom', 'idPlayer', 'idTeam', 'nameTeam', 'cityTeam',
       'teamName', 'PLAYER_PROFILE_FLAG', 'slugOrganizationTypeFrom',
       'locationOrganizationFrom'],
      dtype='object')

In [4]:
draft.isnull().sum()

yearDraft                      0
numberPickOverall              0
numberRound                    0
numberRoundPick                0
namePlayer                     0
slugTeam                       0
nameOrganizationFrom          15
typeOrganizationFrom          15
idPlayer                       0
idTeam                         0
nameTeam                       0
cityTeam                       0
teamName                       0
PLAYER_PROFILE_FLAG            0
slugOrganizationTypeFrom       0
locationOrganizationFrom    7594
dtype: int64

In [5]:
draft[draft['nameOrganizationFrom'].isnull()]

,yearDraft,numberPickOverall,numberRound,numberRoundPick,namePlayer,slugTeam,nameOrganizationFrom,typeOrganizationFrom,idPlayer,idTeam,nameTeam,cityTeam,teamName,PLAYER_PROFILE_FLAG,slugOrganizationTypeFrom,locationOrganizationFrom
155,2018.0,36.0,2.0,6.0,Mitchell Robinson,NYK,None,None,1629011.0,1.610613e+09,New York Knicks,New York,Knicks,1.0,UNK,None
249,2016.0,10.0,1.0,10.0,Thon Maker,MIL,None,None,1627748.0,1.610613e+09,Milwaukee Bucks,Milwaukee,Bucks,1.0,UNK,None
5932,1968.0,193.0,16.0,4.0,Dick Harris,CIN,None,None,80797.0,1.610613e+09,Cincinnati Royals,Cincinnati,Royals,0.0,UNK,None
5950,1968.0,211.0,19.0,4.0,Jay Reffords,CIN,None,None,80802.0,1.610613e+09,Cincinnati Royals,Cincinnati,Royals,0.0,UNK,None
6331,1965.0,101.0,15.0,1.0,Dave Hicks,BLT,None,None,80540.0,1.610613e+09,Baltimore Bullets,Baltimore,Bullets,0.0,UNK,None
7007,1957.0,0.0,0.0,0.0,Jerry Gibson,PHW,None,None,79949.0,1.610613e+09,Philadelphia Warriors,Philadelphia,Warriors,0.0,UNK,None
7090,1957.0,82.0,13.0,1.0,Ed Romanoff,STL,None,None,79997.0,1.610613e+09,St. Louis Hawks,St. Louis,Hawks,0.0,UNK,None
7208,1955.0,0.0,0.0,0.0,Joe Fitt,STL,None,None,79867.0,1.610613e+09,St. Louis Hawks,St. Louis,Hawks,0.0,UNK,None
7376,1954.0,98.0,12.0,2.0,John Glinski,PHW,None,None,79746.0,1.610613e+09,Philadelphia Warriors,Philadelphia,Warriors,0.0,UNK,None
7379,1953.0,0.0,0.0,0.0,Edward Walsh,BAL,None,None,79672.0,1.610610e+09,Baltimore Bullets,Baltimore,Bullets,0.0,UNK,None
7381,1953.0,0.0,0.0,0.0,Don Stemmerich,BAL,None,None,79670.0,1.610610e+09,Baltimore Bullets,Baltimore,Bullets,0.0,UNK,None
7385,1953.0,0.0,0.0,0.0,Joe Piorkowski,BAL,None,None,79666.0,1.610610e+09,Baltimore Bullets,Baltimore,Bullets,0.0,UNK,None
7387,1953.0,0.0,0.0,0.0,Bob Kraback,BAL,None,None,79664.0,1.610610e+09,Baltimore Bullets,Baltimore,Bullets,0.0,UNK,None
7388,1953.0,0.0,0.0,0.0,Russ Johnson,BAL,None,None,79663.0,1.610610e+09,Baltimore Bullets,Baltimore,Bullets,0.0,UNK,None
7443,1953.0,0.0,7.0,0.0,Bob Marske,PHW,None,None,79658.0,1.610613e+09,Philadelphia Warriors,Philadelphia,Warriors,0.0,UNK,None

In [6]:
draft_data = draft[['yearDraft', 'numberPickOverall', 'numberRound',
       'namePlayer', 'slugTeam', 'nameOrganizationFrom',
       'idPlayer', 'idTeam',
       'teamName', 'slugOrganizationTypeFrom',
       'locationOrganizationFrom']]

In [7]:
draft_data

,yearDraft,numberPickOverall,numberRound,namePlayer,slugTeam,nameOrganizationFrom,idPlayer,idTeam,teamName,slugOrganizationTypeFrom,locationOrganizationFrom
0,2020.0,1.0,1.0,Anthony Edwards,MIN,Georgia,1630162.0,1.610613e+09,Timberwolves,COL,None
1,2020.0,2.0,1.0,James Wiseman,GSW,Memphis,1630164.0,1.610613e+09,Warriors,COL,None
2,2020.0,3.0,1.0,LaMelo Ball,CHA,Illawarra,1630163.0,1.610613e+09,Hornets,PRO,Australia
3,2020.0,4.0,1.0,Patrick Williams,CHI,Florida State,1630172.0,1.610613e+09,Bulls,COL,None
4,2020.0,5.0,1.0,Isaac Okoro,CLE,Auburn,1630171.0,1.610613e+09,Cavaliers,COL,None
...,...,...,...,...,...,...,...,...,...,...,...
7885,1949.0,6.0,1.0,Ron Livingstone,BAL,Wyoming,77392.0,1.610610e+09,Bullets,COL,None
7886,1949.0,7.0,1.0,Dick McGuire,NYK,St. John's (NY),77537.0,1.610613e+09,Knicks,COL,None
7887,1949.0,8.0,1.0,Wallace Jones,WAS,Kentucky,77199.0,1.610610e+09,Capitols,COL,None
7888,1949.0,9.0,1.0,Jack Kerris,CHS,Loyola-Chicago,77249.0,1.610610e+09,Stags,COL,None
7889,1949.0,10.0,1.0,Frank Saul,ROC,Seton Hall,78063.0,1.610613e+09,Royals,COL,None

In [8]:
draft_df = draft_data.rename(columns = {'yearDraft':'DRAFT_YEAR', 'numberPickOverall':'DRAFT_NUMBER', 
                                        'numberRound':'DRAFT_ROUND','namePlayer':'PLAYER_NAME', 
                                        'slugTeam':'TEAM_ABBREVIATION', 'nameOrganizationFrom':'TEAM_NAME',
                                        'idPlayer':'PLAYER_ID', 'idTeam':'TEAM_ID','teamName':'PRO_TEAM_NAME', 
                                        'slugOrganizationTypeFrom':'COLLEGE_OR_PRO','locationOrganizationFrom':'PRO_COUNTRY'})
draft_df

,DRAFT_YEAR,DRAFT_NUMBER,DRAFT_ROUND,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_NAME,PLAYER_ID,TEAM_ID,PRO_TEAM_NAME,COLLEGE_OR_PRO,PRO_COUNTRY
0,2020.0,1.0,1.0,Anthony Edwards,MIN,Georgia,1630162.0,1.610613e+09,Timberwolves,COL,None
1,2020.0,2.0,1.0,James Wiseman,GSW,Memphis,1630164.0,1.610613e+09,Warriors,COL,None
2,2020.0,3.0,1.0,LaMelo Ball,CHA,Illawarra,1630163.0,1.610613e+09,Hornets,PRO,Australia
3,2020.0,4.0,1.0,Patrick Williams,CHI,Florida State,1630172.0,1.610613e+09,Bulls,COL,None
4,2020.0,5.0,1.0,Isaac Okoro,CLE,Auburn,1630171.0,1.610613e+09,Cavaliers,COL,None
...,...,...,...,...,...,...,...,...,...,...,...
7885,1949.0,6.0,1.0,Ron Livingstone,BAL,Wyoming,77392.0,1.610610e+09,Bullets,COL,None
7886,1949.0,7.0,1.0,Dick McGuire,NYK,St. John's (NY),77537.0,1.610613e+09,Knicks,COL,None
7887,1949.0,8.0,1.0,Wallace Jones,WAS,Kentucky,77199.0,1.610610e+09,Capitols,COL,None
7888,1949.0,9.0,1.0,Jack Kerris,CHS,Loyola-Chicago,77249.0,1.610610e+09,Stags,COL,None
7889,1949.0,10.0,1.0,Frank Saul,ROC,Seton Hall,78063.0,1.610613e+09,Royals,COL,None

In [9]:
len(draft_df)

7890

In [10]:
draft_df.isna().sum()

DRAFT_YEAR              0
DRAFT_NUMBER            0
DRAFT_ROUND             0
PLAYER_NAME             0
TEAM_ABBREVIATION       0
TEAM_NAME              15
PLAYER_ID               0
TEAM_ID                 0
PRO_TEAM_NAME           0
COLLEGE_OR_PRO          0
PRO_COUNTRY          7594
dtype: int64

In [11]:
draft_df['TEAM_NAME'] = draft_df['TEAM_NAME'].fillna('No Team')

In [12]:
draft_df['PRO_COUNTRY'] = draft_df['PRO_COUNTRY'].fillna('Collegiate Player')

In [13]:
draft_df

,DRAFT_YEAR,DRAFT_NUMBER,DRAFT_ROUND,PLAYER_NAME,TEAM_ABBREVIATION,TEAM_NAME,PLAYER_ID,TEAM_ID,PRO_TEAM_NAME,COLLEGE_OR_PRO,PRO_COUNTRY
0,2020.0,1.0,1.0,Anthony Edwards,MIN,Georgia,1630162.0,1.610613e+09,Timberwolves,COL,Collegiate Player
1,2020.0,2.0,1.0,James Wiseman,GSW,Memphis,1630164.0,1.610613e+09,Warriors,COL,Collegiate Player
2,2020.0,3.0,1.0,LaMelo Ball,CHA,Illawarra,1630163.0,1.610613e+09,Hornets,PRO,Australia
3,2020.0,4.0,1.0,Patrick Williams,CHI,Florida State,1630172.0,1.610613e+09,Bulls,COL,Collegiate Player
4,2020.0,5.0,1.0,Isaac Okoro,CLE,Auburn,1630171.0,1.610613e+09,Cavaliers,COL,Collegiate Player
...,...,...,...,...,...,...,...,...,...,...,...
7885,1949.0,6.0,1.0,Ron Livingstone,BAL,Wyoming,77392.0,1.610610e+09,Bullets,COL,Collegiate Player
7886,1949.0,7.0,1.0,Dick McGuire,NYK,St. John's (NY),77537.0,1.610613e+09,Knicks,COL,Collegiate Player
7887,1949.0,8.0,1.0,Wallace Jones,WAS,Kentucky,77199.0,1.610610e+09,Capitols,COL,Collegiate Player
7888,1949.0,9.0,1.0,Jack Kerris,CHS,Loyola-Chicago,77249.0,1.610610e+09,Stags,COL,Collegiate Player
7889,1949.0,10.0,1.0,Frank Saul,ROC,Seton Hall,78063.0,1.610613e+09,Royals,COL,Collegiate Player

In [14]:
draft_df.isnull().sum()

DRAFT_YEAR           0
DRAFT_NUMBER         0
DRAFT_ROUND          0
PLAYER_NAME          0
TEAM_ABBREVIATION    0
TEAM_NAME            0
PLAYER_ID            0
TEAM_ID              0
PRO_TEAM_NAME        0
COLLEGE_OR_PRO       0
PRO_COUNTRY          0
dtype: int64

In [15]:
draft_df.dtypes

DRAFT_YEAR           float64
DRAFT_NUMBER         float64
DRAFT_ROUND          float64
PLAYER_NAME           object
TEAM_ABBREVIATION     object
TEAM_NAME             object
PLAYER_ID            float64
TEAM_ID              float64
PRO_TEAM_NAME         object
COLLEGE_OR_PRO        object
PRO_COUNTRY           object
dtype: object

In [16]:
draft_df[draft_df['PRO_COUNTRY'] == '']

Empty DataFrame
Columns: [DRAFT_YEAR, DRAFT_NUMBER, DRAFT_ROUND, PLAYER_NAME, TEAM_ABBREVIATION, TEAM_NAME, PLAYER_ID, TEAM_ID, PRO_TEAM_NAME, COLLEGE_OR_PRO, PRO_COUNTRY]
Index: []

In [17]:
draft_df.to_csv('../Resources/Draft_data.csv')

# Draft Combine Data

In [18]:
dat = sqlite3.connect('basketball.sqlite')
query = dat.execute("SELECT * From Draft_Combine")
cols = [column[0] for column in query.description]
draft_combine = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [19]:
draft_combine

,yearCombine,idPlayer,nameFirst,nameLast,namePlayer,slugPosition,heightWOShoesInches,heightWOShoes,weightLBS,wingspanInches,...,setOffDribBreakRightCollege,setOffDribBreakLeftCollegeMade,setOffDribBreakLeftCollegeAttempted,setOffDribBreakLeftCollegePct,setOffDribTopKeyCollegeMade,setOffDribTopKeyCollegeAttempted,setOffDribTopKeyCollegePct,setOffDribBreakRightCollegeMade,setOffDribBreakRightCollegeAttempted,setOffDribBreakRightCollegePct
0,2001,2124.0,Malik,Allen,Malik Allen,PF-C,80.25,6' 8.25'',271.0,86.50,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001,12019.0,Harold,Arceneaux,Harold Arceneaux,SG-SF,76.50,6' 4.5'',219.0,80.50,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001,12020.0,Lamont,Barnes,Lamont Barnes,PF-C,80.50,6' 8.5'',235.5,87.50,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001,12131.0,Mario,Bland,Mario Bland,PF,77.50,6' 5.5'',287.0,84.00,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001,2056.0,Primoz,Brezec,Primoz Brezec,C,84.75,7' 0.75'',243.0,86.00,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,2021,1630214.0,Xavier,Tillman Sr.,Xavier Tillman Sr.,PF-C,79.50,6'7.50'',266.5,86.00,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1391,2021,1629700.0,Kaleb,Wesson,Kaleb Wesson,C,81.25,6'9.25'',252.6,87.50,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1392,2021,1630232.0,Kahlil,Whitney,Kahlil Whitney,SF,77.50,6'5.50'',205.0,84.25,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1393,2021,1630216.0,Cassius,Winston,Cassius Winston,PG,72.50,6'0.50'',196.0,78.00,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1394,2021,1630218.0,Robert,Woodard II,Robert Woodard II,SF,77.50,6'5.50'',230.2,86.00,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
len(draft_combine)

1395

In [21]:
draft_combine.isnull().sum()

yearCombine                                0
idPlayer                                   0
nameFirst                                  0
nameLast                                   0
namePlayer                                 0
                                        ...
setOffDribTopKeyCollegeAttempted        1364
setOffDribTopKeyCollegePct              1364
setOffDribBreakRightCollegeMade         1364
setOffDribBreakRightCollegeAttempted    1364
setOffDribBreakRightCollegePct          1364
Length: 116, dtype: int64

In [22]:
print(draft_combine.columns)

Index(['yearCombine', 'idPlayer', 'nameFirst', 'nameLast', 'namePlayer',
       'slugPosition', 'heightWOShoesInches', 'heightWOShoes', 'weightLBS',
       'wingspanInches',
       ...
       'setOffDribBreakRightCollege', 'setOffDribBreakLeftCollegeMade',
       'setOffDribBreakLeftCollegeAttempted', 'setOffDribBreakLeftCollegePct',
       'setOffDribTopKeyCollegeMade', 'setOffDribTopKeyCollegeAttempted',
       'setOffDribTopKeyCollegePct', 'setOffDribBreakRightCollegeMade',
       'setOffDribBreakRightCollegeAttempted',
       'setOffDribBreakRightCollegePct'],
      dtype='object', length=116)

In [23]:
pd.set_option('display.max_columns', None)

In [24]:
pd.set_option('display.max_rows', None)

In [25]:
pd.reset_option("display.max_columns")
pd.reset_option("display.max_rows")

In [26]:
combine_df = draft_combine[['yearCombine', 'idPlayer', 'namePlayer',
                           'slugPosition', 'heightWOShoesInches', 'weightLBS',
                           'wingspanInches', 'reachStandingInches']]
combine_df

,yearCombine,idPlayer,namePlayer,slugPosition,heightWOShoesInches,weightLBS,wingspanInches,reachStandingInches
0,2001,2124.0,Malik Allen,PF-C,80.25,271.0,86.50,109.0
1,2001,12019.0,Harold Arceneaux,SG-SF,76.50,219.0,80.50,103.0
2,2001,12020.0,Lamont Barnes,PF-C,80.50,235.5,87.50,108.0
3,2001,12131.0,Mario Bland,PF,77.50,287.0,84.00,103.0
4,2001,2056.0,Primoz Brezec,C,84.75,243.0,86.00,110.0
...,...,...,...,...,...,...,...,...
1390,2021,1630214.0,Xavier Tillman Sr.,PF-C,79.50,266.5,86.00,106.0
1391,2021,1629700.0,Kaleb Wesson,C,81.25,252.6,87.50,111.5
1392,2021,1630232.0,Kahlil Whitney,SF,77.50,205.0,84.25,105.5
1393,2021,1630216.0,Cassius Winston,PG,72.50,196.0,78.00,97.0
1394,2021,1630218.0,Robert Woodard II,SF,77.50,230.2,86.00,105.5

In [27]:
combine_df.dtypes

yearCombine              int64
idPlayer               float64
namePlayer              object
slugPosition            object
heightWOShoesInches    float64
weightLBS              float64
wingspanInches         float64
reachStandingInches    float64
dtype: object

In [28]:
combine_df.isnull().sum()

yearCombine             0
idPlayer                0
namePlayer              0
slugPosition            0
heightWOShoesInches    13
weightLBS              15
wingspanInches         12
reachStandingInches    14
dtype: int64

In [29]:
combine_df[combine_df['heightWOShoesInches'].isnull()]

,yearCombine,idPlayer,namePlayer,slugPosition,heightWOShoesInches,weightLBS,wingspanInches,reachStandingInches
307,2005,2740.0,Andris Biedrins,C,NaN,NaN,NaN,NaN
374,2005,12015.0,Blake Stepp,PG,NaN,NaN,NaN,NaN
386,2006,200969.0,Mustafa Al-Sayyad,PF-C,NaN,NaN,NaN,NaN
615,2008,201146.0,Jianlian Yi,,NaN,NaN,NaN,NaN
940,2014,203458.0,Alex Len,C,NaN,NaN,87.5,NaN
1165,2018,1628365.0,Markelle Fultz,PG,NaN,NaN,NaN,NaN
1274,2020,1629628.0,RJ Barrett,SF,NaN,NaN,NaN,NaN
1295,2020,1629636.0,Darius Garland,PG,NaN,NaN,NaN,NaN
1305,2020,1629631.0,De'Andre Hunter,,NaN,NaN,NaN,NaN
1320,2020,1629630.0,Ja Morant,PG,NaN,NaN,NaN,NaN
1324,2020,1629643.0,Chuma Okeke,,NaN,NaN,NaN,NaN
1341,2020,1629681.0,Killian Tillie,,NaN,NaN,NaN,NaN
1348,2020,1629627.0,Zion Williamson,PF,NaN,NaN,NaN,NaN

In [30]:
combine_df[combine_df['reachStandingInches'].isnull()]

,yearCombine,idPlayer,namePlayer,slugPosition,heightWOShoesInches,weightLBS,wingspanInches,reachStandingInches
307,2005,2740.0,Andris Biedrins,C,NaN,NaN,NaN,NaN
374,2005,12015.0,Blake Stepp,PG,NaN,NaN,NaN,NaN
386,2006,200969.0,Mustafa Al-Sayyad,PF-C,NaN,NaN,NaN,NaN
615,2008,201146.0,Jianlian Yi,,NaN,NaN,NaN,NaN
679,2009,12259.0,John Riek,C,82.5,237.0,92.75,NaN
940,2014,203458.0,Alex Len,C,NaN,NaN,87.50,NaN
1165,2018,1628365.0,Markelle Fultz,PG,NaN,NaN,NaN,NaN
1274,2020,1629628.0,RJ Barrett,SF,NaN,NaN,NaN,NaN
1295,2020,1629636.0,Darius Garland,PG,NaN,NaN,NaN,NaN
1305,2020,1629631.0,De'Andre Hunter,,NaN,NaN,NaN,NaN
1320,2020,1629630.0,Ja Morant,PG,NaN,NaN,NaN,NaN
1324,2020,1629643.0,Chuma Okeke,,NaN,NaN,NaN,NaN
1341,2020,1629681.0,Killian Tillie,,NaN,NaN,NaN,NaN
1348,2020,1629627.0,Zion Williamson,PF,NaN,NaN,NaN,NaN

In [31]:
combine_df[combine_df['weightLBS'].isnull()]

,yearCombine,idPlayer,namePlayer,slugPosition,heightWOShoesInches,weightLBS,wingspanInches,reachStandingInches
307,2005,2740.0,Andris Biedrins,C,NaN,NaN,NaN,NaN
374,2005,12015.0,Blake Stepp,PG,NaN,NaN,NaN,NaN
386,2006,200969.0,Mustafa Al-Sayyad,PF-C,NaN,NaN,NaN,NaN
615,2008,201146.0,Jianlian Yi,,NaN,NaN,NaN,NaN
940,2014,203458.0,Alex Len,C,NaN,NaN,87.5,NaN
1099,2017,1627739.0,Kris Dunn,PG,75.0,NaN,81.5,100.0
1165,2018,1628365.0,Markelle Fultz,PG,NaN,NaN,NaN,NaN
1274,2020,1629628.0,RJ Barrett,SF,NaN,NaN,NaN,NaN
1295,2020,1629636.0,Darius Garland,PG,NaN,NaN,NaN,NaN
1305,2020,1629631.0,De'Andre Hunter,,NaN,NaN,NaN,NaN
1312,2020,1629641.0,Romeo Langford,SG,76.5,NaN,83.0,103.0
1320,2020,1629630.0,Ja Morant,PG,NaN,NaN,NaN,NaN
1324,2020,1629643.0,Chuma Okeke,,NaN,NaN,NaN,NaN
1341,2020,1629681.0,Killian Tillie,,NaN,NaN,NaN,NaN
1348,2020,1629627.0,Zion Williamson,PF,NaN,NaN,NaN,NaN

In [32]:
combine_df[combine_df['slugPosition'] == '']

,yearCombine,idPlayer,namePlayer,slugPosition,heightWOShoesInches,weightLBS,wingspanInches,reachStandingInches
414,2006,101122.0,Danny Granger,,79.5,225.4,85.5,103.0
615,2008,201146.0,Jianlian Yi,,NaN,NaN,NaN,NaN
1305,2020,1629631.0,De'Andre Hunter,,NaN,NaN,NaN,NaN
1324,2020,1629643.0,Chuma Okeke,,NaN,NaN,NaN,NaN
1341,2020,1629681.0,Killian Tillie,,NaN,NaN,NaN,NaN

In [33]:
combine_df.loc[combine_df['namePlayer'] == 'Danny Granger', ['slugPosition']] = 'SF'

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [34]:
combine_df[combine_df['slugPosition'] == '']

,yearCombine,idPlayer,namePlayer,slugPosition,heightWOShoesInches,weightLBS,wingspanInches,reachStandingInches
615,2008,201146.0,Jianlian Yi,,NaN,NaN,NaN,NaN
1305,2020,1629631.0,De'Andre Hunter,,NaN,NaN,NaN,NaN
1324,2020,1629643.0,Chuma Okeke,,NaN,NaN,NaN,NaN
1341,2020,1629681.0,Killian Tillie,,NaN,NaN,NaN,NaN

In [35]:
combine_df[combine_df['namePlayer'] == 'Danny Granger']

,yearCombine,idPlayer,namePlayer,slugPosition,heightWOShoesInches,weightLBS,wingspanInches,reachStandingInches
414,2006,101122.0,Danny Granger,SF,79.5,225.4,85.5,103.0

In [36]:
len(combine_df)

1395

In [37]:
combine_df.to_csv('../Resources/Draft_combine_data.csv')