In [6]:
import sqlite3
import pandas as pd

dat = sqlite3.connect('basketball.sqlite')
query = dat.execute("SELECT * From Player_Attributes")
cols = [column[0] for column in query.description]
player_attributes = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [7]:
player_attributes

,ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24T00:00:00,Duke,USA,...,Y,Y,1990,1,25,5.7,0.3,3.3,0.0,NaN
1,76002,Zaid,Abdul-Aziz,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",Z. Abdul-Aziz,zaid-abdul-aziz,1946-04-07T00:00:00,Iowa State,USA,...,Y,Y,1968,1,5,9.0,1.2,8.0,0.0,NaN
2,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16T00:00:00,UCLA,USA,...,Y,Y,1969,1,1,24.6,3.6,11.2,18.0,NaN
3,51,Mahmoud,Abdul-Rauf,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",M. Abdul-Rauf,mahmoud-abdul-rauf,1969-03-09T00:00:00,Louisiana State,USA,...,Y,Y,1990,1,3,14.6,3.5,1.9,0.0,NaN
4,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03T00:00:00,San Jose State,France,...,Y,Y,1997,1,11,7.8,1.1,3.3,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04T00:00:00,,Croatia,...,Y,Y,2016,1,23,6.0,0.6,3.9,0.0,NaN
4496,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30T00:00:00,Kent State,USA,...,Y,Y,Undrafted,Undrafted,Undrafted,0.3,0.1,1.1,0.0,NaN
4497,78648,Bill,Zopf,Bill Zopf,"Zopf, Bill",B. Zopf,bill-zopf,1948-06-07T00:00:00,Duquesne,USA,...,Y,Y,1970,2,33,2.2,1.4,0.9,0.0,NaN
4498,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18T00:00:00,Mega Basket,Croatia,...,Y,Y,2016,2,32,8.5,1.1,7.0,NaN,0.126
4499,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19T00:00:00,George Washington,USA,...,Y,Y,1947,None,None,4.9,0.9,NaN,0.0,NaN

In [8]:
print(player_attributes.columns)

Index(['ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'PTS', 'AST', 'REB',
       'ALL_STAR_APPEARANCES', 'PIE'],
      dtype='object')

In [9]:
player_attributes.isnull().sum()

ID                                     0
FIRST_NAME                             0
LAST_NAME                              0
DISPLAY_FIRST_LAST                     0
DISPLAY_LAST_COMMA_FIRST               0
DISPLAY_FI_LAST                        0
PLAYER_SLUG                            0
BIRTHDATE                              0
SCHOOL                                 3
COUNTRY                                0
LAST_AFFILIATION                       0
HEIGHT                                97
WEIGHT                               101
SEASON_EXP                             0
JERSEY                                 0
POSITION                               0
ROSTERSTATUS                           0
GAMES_PLAYED_CURRENT_SEASON_FLAG       0
TEAM_ID                                0
TEAM_NAME                              0
TEAM_ABBREVIATION                      0
TEAM_CODE                              0
TEAM_CITY                              0
PLAYERCODE                             0
FROM_YEAR                              0
TO_YEAR                                0
DLEAGUE_FLAG                           0
NBA_FLAG                               0
GAMES_PLAYED_FLAG                      0
DRAFT_YEAR                             0
DRAFT_ROUND                            0
DRAFT_NUMBER                           0
PTS                                   15
AST                                   15
REB                                  307
ALL_STAR_APPEARANCES                 444
PIE                                 4071
dtype: int64

In [10]:
attributes = player_attributes[['DISPLAY_FIRST_LAST',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CITY', 'FROM_YEAR', 'TO_YEAR',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER',
       'ALL_STAR_APPEARANCES']]
attributes

,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
0,Alaa Abdelnaby,1968-06-24T00:00:00,Duke,USA,82.0,240.0,4,30,Forward,1610612757,Trail Blazers,POR,Portland,1990,1994,1990,1,25,0.0
1,Zaid Abdul-Aziz,1946-04-07T00:00:00,Iowa State,USA,81.0,235.0,9,54,Center,1610612745,Rockets,HOU,Houston,1968,1977,1968,1,5,0.0
2,Kareem Abdul-Jabbar,1947-04-16T00:00:00,UCLA,USA,86.0,225.0,19,33,Center,1610612747,Lakers,LAL,Los Angeles,1969,1988,1969,1,1,18.0
3,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Louisiana State,USA,73.0,162.0,8,1,Guard,1610612743,Nuggets,DEN,Denver,1990,2000,1990,1,3,0.0
4,Tariq Abdul-Wahad,1974-11-03T00:00:00,San Jose State,France,78.0,235.0,6,9,Forward-Guard,1610612758,Kings,SAC,Sacramento,1997,2003,1997,1,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04T00:00:00,,Croatia,82.0,266.0,3,41,Center,1610612739,Cavaliers,CLE,Cleveland,2017,2019,2016,1,23,0.0
4496,Jim Zoet,1953-12-30T00:00:00,Kent State,USA,85.0,240.0,0,34,Center,1610612765,Pistons,DET,Detroit,1982,1982,Undrafted,Undrafted,Undrafted,0.0
4497,Bill Zopf,1948-06-07T00:00:00,Duquesne,USA,73.0,170.0,0,6,Guard,1610612749,Bucks,MIL,Milwaukee,1970,1970,1970,2,33,0.0
4498,Ivica Zubac,1997-03-18T00:00:00,Mega Basket,Croatia,84.0,240.0,4,40,Center,1610612746,Clippers,LAC,LA,2016,2020,2016,2,32,NaN
4499,Matt Zunic,1919-12-19T00:00:00,George Washington,USA,75.0,195.0,0,,Guard,1610610036,Capitols,WAS,Washington,1948,1948,1947,None,None,0.0

In [11]:
attributes_df = attributes.copy().rename(columns={'DISPLAY_FIRST_LAST':'PLAYER_NAME'})
attributes_df

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
0,Alaa Abdelnaby,1968-06-24T00:00:00,Duke,USA,82.0,240.0,4,30,Forward,1610612757,Trail Blazers,POR,Portland,1990,1994,1990,1,25,0.0
1,Zaid Abdul-Aziz,1946-04-07T00:00:00,Iowa State,USA,81.0,235.0,9,54,Center,1610612745,Rockets,HOU,Houston,1968,1977,1968,1,5,0.0
2,Kareem Abdul-Jabbar,1947-04-16T00:00:00,UCLA,USA,86.0,225.0,19,33,Center,1610612747,Lakers,LAL,Los Angeles,1969,1988,1969,1,1,18.0
3,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Louisiana State,USA,73.0,162.0,8,1,Guard,1610612743,Nuggets,DEN,Denver,1990,2000,1990,1,3,0.0
4,Tariq Abdul-Wahad,1974-11-03T00:00:00,San Jose State,France,78.0,235.0,6,9,Forward-Guard,1610612758,Kings,SAC,Sacramento,1997,2003,1997,1,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04T00:00:00,,Croatia,82.0,266.0,3,41,Center,1610612739,Cavaliers,CLE,Cleveland,2017,2019,2016,1,23,0.0
4496,Jim Zoet,1953-12-30T00:00:00,Kent State,USA,85.0,240.0,0,34,Center,1610612765,Pistons,DET,Detroit,1982,1982,Undrafted,Undrafted,Undrafted,0.0
4497,Bill Zopf,1948-06-07T00:00:00,Duquesne,USA,73.0,170.0,0,6,Guard,1610612749,Bucks,MIL,Milwaukee,1970,1970,1970,2,33,0.0
4498,Ivica Zubac,1997-03-18T00:00:00,Mega Basket,Croatia,84.0,240.0,4,40,Center,1610612746,Clippers,LAC,LA,2016,2020,2016,2,32,NaN
4499,Matt Zunic,1919-12-19T00:00:00,George Washington,USA,75.0,195.0,0,,Guard,1610610036,Capitols,WAS,Washington,1948,1948,1947,None,None,0.0

In [13]:
attributes_df.isnull().sum()

PLAYER_NAME               0
BIRTHDATE                 0
SCHOOL                    3
COUNTRY                   0
HEIGHT                   97
WEIGHT                  101
SEASON_EXP                0
JERSEY                    0
POSITION                  0
TEAM_ID                   0
TEAM_NAME                 0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
FROM_YEAR                 0
TO_YEAR                   0
DRAFT_YEAR                0
DRAFT_ROUND               0
DRAFT_NUMBER              0
ALL_STAR_APPEARANCES    444
dtype: int64

In [14]:
attributes_df[attributes_df['SCHOOL'].isnull()]

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
1976,Jonas Jerebko,1987-03-02T00:00:00,None,Sweden,82.0,231.0,9,21,Forward,1610612744,Warriors,GSW,Golden State,2009,2018,2009,2,39,0.0
2322,Joffrey Lauvergne,1991-09-30T00:00:00,None,France,83.0,260.0,4,77,Center,1610612759,Spurs,SAS,San Antonio,2014,2017,2013,2,55,0.0
4002,Axel Toupane,1992-07-23T00:00:00,None,France,79.0,210.0,2,66,Guard-Forward,1610612749,Bucks,MIL,Milwaukee,2015,2020,Undrafted,Undrafted,Undrafted,NaN

In [15]:
attributes_df['SCHOOL'] = attributes_df['SCHOOL'].fillna('No School')

In [16]:
attributes_df[attributes_df['SCHOOL'].isnull()]

Empty DataFrame
Columns: [PLAYER_NAME, BIRTHDATE, SCHOOL, COUNTRY, HEIGHT, WEIGHT, SEASON_EXP, JERSEY, POSITION, TEAM_ID, TEAM_NAME, TEAM_ABBREVIATION, TEAM_CITY, FROM_YEAR, TO_YEAR, DRAFT_YEAR, DRAFT_ROUND, DRAFT_NUMBER, ALL_STAR_APPEARANCES]
Index: []

In [18]:
attributes_df[attributes_df['ALL_STAR_APPEARANCES'].isnull()]

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
18,Jaylen Adams,1996-05-04T00:00:00,St. Bonaventure,USA,72.0,225.0,2,,Guard,0,,,,2018,2020,Undrafted,Undrafted,Undrafted,NaN
21,Steven Adams,1993-07-20T00:00:00,Pittsburgh,New Zealand,83.0,265.0,7,12,Center,1610612740,Pelicans,NOP,New Orleans,2013,2020,2013,1,12,NaN
23,Bam Adebayo,1997-07-18T00:00:00,Kentucky,USA,81.0,255.0,3,13,Center-Forward,1610612748,Heat,MIA,Miami,2017,2020,2017,1,14,NaN
41,LaMarcus Aldridge,1985-07-19T00:00:00,Texas,USA,83.0,250.0,14,12,Center-Forward,1610612759,Spurs,SAS,San Antonio,2006,2020,2006,1,2,NaN
50,Nickeil Alexander-Walker,1998-09-02T00:00:00,Virginia Tech,Canada,78.0,205.0,1,6,Guard,1610612740,Pelicans,NOP,New Orleans,2019,2020,2019,1,17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4447,Delon Wright,1992-04-26T00:00:00,Utah,USA,77.0,185.0,5,55,Guard,1610612765,Pistons,DET,Detroit,2015,2020,2015,1,20,NaN
4476,Thaddeus Young,1988-06-21T00:00:00,Georgia Tech,USA,80.0,235.0,13,21,Forward,1610612741,Bulls,CHI,Chicago,2007,2020,2007,1,12,NaN
4478,Trae Young,1998-09-19T00:00:00,Oklahoma,USA,73.0,180.0,2,11,Guard,1610612737,Hawks,ATL,Atlanta,2018,2020,2018,1,5,NaN
4481,Cody Zeller,1992-10-05T00:00:00,Indiana,USA,83.0,240.0,7,40,Forward-Center,1610612766,Hornets,CHA,Charlotte,2013,2020,2013,1,4,NaN
4498,Ivica Zubac,1997-03-18T00:00:00,Mega Basket,Croatia,84.0,240.0,4,40,Center,1610612746,Clippers,LAC,LA,2016,2020,2016,2,32,NaN

In [19]:
len(attributes_df)

4500

In [20]:
attributes_df.to_csv('../Resources/Player_attributes.csv')