In [65]:
import sqlite3
import pandas as pd
import numpy as np
import sqlalchemy
import psycopg2

from sqlalchemy import create_engine
from config import db_password

In [ ]:
# Importing SQLite data from Kaggle dataset file
dat = sqlite3.connect('basketball.sqlite')
query = dat.execute("SELECT * From Player_Attributes")
cols = [column[0] for column in query.description]
player_attributes = pd.DataFrame.from_records(data = query.fetchall(), columns = cols)

In [2]:
player_attributes

,ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,AST,REB,ALL_STAR_APPEARANCES,PIE
0,76001,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24T00:00:00,Duke,USA,...,Y,Y,1990,1,25,5.7,0.3,3.3,0.0,NaN
1,76002,Zaid,Abdul-Aziz,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",Z. Abdul-Aziz,zaid-abdul-aziz,1946-04-07T00:00:00,Iowa State,USA,...,Y,Y,1968,1,5,9.0,1.2,8.0,0.0,NaN
2,76003,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16T00:00:00,UCLA,USA,...,Y,Y,1969,1,1,24.6,3.6,11.2,18.0,NaN
3,51,Mahmoud,Abdul-Rauf,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",M. Abdul-Rauf,mahmoud-abdul-rauf,1969-03-09T00:00:00,Louisiana State,USA,...,Y,Y,1990,1,3,14.6,3.5,1.9,0.0,NaN
4,1505,Tariq,Abdul-Wahad,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",T. Abdul-Wahad,tariq-abdul-wahad,1974-11-03T00:00:00,San Jose State,France,...,Y,Y,1997,1,11,7.8,1.1,3.3,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,1627790,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04T00:00:00,,Croatia,...,Y,Y,2016,1,23,6.0,0.6,3.9,0.0,NaN
4496,78647,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30T00:00:00,Kent State,USA,...,Y,Y,Undrafted,Undrafted,Undrafted,0.3,0.1,1.1,0.0,NaN
4497,78648,Bill,Zopf,Bill Zopf,"Zopf, Bill",B. Zopf,bill-zopf,1948-06-07T00:00:00,Duquesne,USA,...,Y,Y,1970,2,33,2.2,1.4,0.9,0.0,NaN
4498,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18T00:00:00,Mega Basket,Croatia,...,Y,Y,2016,2,32,8.5,1.1,7.0,NaN,0.126
4499,78650,Matt,Zunic,Matt Zunic,"Zunic, Matt",M. Zunic,matt-zunic,1919-12-19T00:00:00,George Washington,USA,...,Y,Y,1947,None,None,4.9,0.9,NaN,0.0,NaN

In [3]:
print(player_attributes.columns)

Index(['ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'PTS', 'AST', 'REB',
       'ALL_STAR_APPEARANCES', 'PIE'],
      dtype='object')

In [4]:
player_attributes.isnull().sum()

ID                                     0
FIRST_NAME                             0
LAST_NAME                              0
DISPLAY_FIRST_LAST                     0
DISPLAY_LAST_COMMA_FIRST               0
DISPLAY_FI_LAST                        0
PLAYER_SLUG                            0
BIRTHDATE                              0
SCHOOL                                 3
COUNTRY                                0
LAST_AFFILIATION                       0
HEIGHT                                97
WEIGHT                               101
SEASON_EXP                             0
JERSEY                                 0
POSITION                               0
ROSTERSTATUS                           0
GAMES_PLAYED_CURRENT_SEASON_FLAG       0
TEAM_ID                                0
TEAM_NAME                              0
TEAM_ABBREVIATION                      0
TEAM_CODE                              0
TEAM_CITY                              0
PLAYERCODE                             0
FROM_YEAR                              0
TO_YEAR                                0
DLEAGUE_FLAG                           0
NBA_FLAG                               0
GAMES_PLAYED_FLAG                      0
DRAFT_YEAR                             0
DRAFT_ROUND                            0
DRAFT_NUMBER                           0
PTS                                   15
AST                                   15
REB                                  307
ALL_STAR_APPEARANCES                 444
PIE                                 4071
dtype: int64

In [5]:
# Grabbing all valuable data and start cleaning
attributes = player_attributes[['DISPLAY_FIRST_LAST',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CITY', 'FROM_YEAR', 'TO_YEAR',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER',
       'ALL_STAR_APPEARANCES']]
attributes

,DISPLAY_FIRST_LAST,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
0,Alaa Abdelnaby,1968-06-24T00:00:00,Duke,USA,82.0,240.0,4,30,Forward,1610612757,Trail Blazers,POR,Portland,1990,1994,1990,1,25,0.0
1,Zaid Abdul-Aziz,1946-04-07T00:00:00,Iowa State,USA,81.0,235.0,9,54,Center,1610612745,Rockets,HOU,Houston,1968,1977,1968,1,5,0.0
2,Kareem Abdul-Jabbar,1947-04-16T00:00:00,UCLA,USA,86.0,225.0,19,33,Center,1610612747,Lakers,LAL,Los Angeles,1969,1988,1969,1,1,18.0
3,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Louisiana State,USA,73.0,162.0,8,1,Guard,1610612743,Nuggets,DEN,Denver,1990,2000,1990,1,3,0.0
4,Tariq Abdul-Wahad,1974-11-03T00:00:00,San Jose State,France,78.0,235.0,6,9,Forward-Guard,1610612758,Kings,SAC,Sacramento,1997,2003,1997,1,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04T00:00:00,,Croatia,82.0,266.0,3,41,Center,1610612739,Cavaliers,CLE,Cleveland,2017,2019,2016,1,23,0.0
4496,Jim Zoet,1953-12-30T00:00:00,Kent State,USA,85.0,240.0,0,34,Center,1610612765,Pistons,DET,Detroit,1982,1982,Undrafted,Undrafted,Undrafted,0.0
4497,Bill Zopf,1948-06-07T00:00:00,Duquesne,USA,73.0,170.0,0,6,Guard,1610612749,Bucks,MIL,Milwaukee,1970,1970,1970,2,33,0.0
4498,Ivica Zubac,1997-03-18T00:00:00,Mega Basket,Croatia,84.0,240.0,4,40,Center,1610612746,Clippers,LAC,LA,2016,2020,2016,2,32,NaN
4499,Matt Zunic,1919-12-19T00:00:00,George Washington,USA,75.0,195.0,0,,Guard,1610610036,Capitols,WAS,Washington,1948,1948,1947,None,None,0.0

In [6]:
attributes_df = attributes.copy().rename(columns={'DISPLAY_FIRST_LAST':'PLAYER_NAME'})
attributes_df

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
0,Alaa Abdelnaby,1968-06-24T00:00:00,Duke,USA,82.0,240.0,4,30,Forward,1610612757,Trail Blazers,POR,Portland,1990,1994,1990,1,25,0.0
1,Zaid Abdul-Aziz,1946-04-07T00:00:00,Iowa State,USA,81.0,235.0,9,54,Center,1610612745,Rockets,HOU,Houston,1968,1977,1968,1,5,0.0
2,Kareem Abdul-Jabbar,1947-04-16T00:00:00,UCLA,USA,86.0,225.0,19,33,Center,1610612747,Lakers,LAL,Los Angeles,1969,1988,1969,1,1,18.0
3,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Louisiana State,USA,73.0,162.0,8,1,Guard,1610612743,Nuggets,DEN,Denver,1990,2000,1990,1,3,0.0
4,Tariq Abdul-Wahad,1974-11-03T00:00:00,San Jose State,France,78.0,235.0,6,9,Forward-Guard,1610612758,Kings,SAC,Sacramento,1997,2003,1997,1,11,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04T00:00:00,,Croatia,82.0,266.0,3,41,Center,1610612739,Cavaliers,CLE,Cleveland,2017,2019,2016,1,23,0.0
4496,Jim Zoet,1953-12-30T00:00:00,Kent State,USA,85.0,240.0,0,34,Center,1610612765,Pistons,DET,Detroit,1982,1982,Undrafted,Undrafted,Undrafted,0.0
4497,Bill Zopf,1948-06-07T00:00:00,Duquesne,USA,73.0,170.0,0,6,Guard,1610612749,Bucks,MIL,Milwaukee,1970,1970,1970,2,33,0.0
4498,Ivica Zubac,1997-03-18T00:00:00,Mega Basket,Croatia,84.0,240.0,4,40,Center,1610612746,Clippers,LAC,LA,2016,2020,2016,2,32,NaN
4499,Matt Zunic,1919-12-19T00:00:00,George Washington,USA,75.0,195.0,0,,Guard,1610610036,Capitols,WAS,Washington,1948,1948,1947,None,None,0.0

In [7]:
attributes_df.isnull().sum()

PLAYER_NAME               0
BIRTHDATE                 0
SCHOOL                    3
COUNTRY                   0
HEIGHT                   97
WEIGHT                  101
SEASON_EXP                0
JERSEY                    0
POSITION                  0
TEAM_ID                   0
TEAM_NAME                 0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
FROM_YEAR                 0
TO_YEAR                   0
DRAFT_YEAR                0
DRAFT_ROUND               0
DRAFT_NUMBER              0
ALL_STAR_APPEARANCES    444
dtype: int64

In [8]:
attributes_df[attributes_df['SCHOOL'].isnull()]

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
1976,Jonas Jerebko,1987-03-02T00:00:00,None,Sweden,82.0,231.0,9,21,Forward,1610612744,Warriors,GSW,Golden State,2009,2018,2009,2,39,0.0
2322,Joffrey Lauvergne,1991-09-30T00:00:00,None,France,83.0,260.0,4,77,Center,1610612759,Spurs,SAS,San Antonio,2014,2017,2013,2,55,0.0
4002,Axel Toupane,1992-07-23T00:00:00,None,France,79.0,210.0,2,66,Guard-Forward,1610612749,Bucks,MIL,Milwaukee,2015,2020,Undrafted,Undrafted,Undrafted,NaN

In [9]:
attributes_df['SCHOOL'] = attributes_df['SCHOOL'].fillna('No School')

In [10]:
attributes_df[attributes_df['SCHOOL'].isnull()]

Empty DataFrame
Columns: [PLAYER_NAME, BIRTHDATE, SCHOOL, COUNTRY, HEIGHT, WEIGHT, SEASON_EXP, JERSEY, POSITION, TEAM_ID, TEAM_NAME, TEAM_ABBREVIATION, TEAM_CITY, FROM_YEAR, TO_YEAR, DRAFT_YEAR, DRAFT_ROUND, DRAFT_NUMBER, ALL_STAR_APPEARANCES]
Index: []

In [11]:
attributes_df.head(20)

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
0,Alaa Abdelnaby,1968-06-24T00:00:00,Duke,USA,82.0,240.0,4,30,Forward,1610612757,Trail Blazers,POR,Portland,1990,1994,1990,1,25,0.0
1,Zaid Abdul-Aziz,1946-04-07T00:00:00,Iowa State,USA,81.0,235.0,9,54,Center,1610612745,Rockets,HOU,Houston,1968,1977,1968,1,5,0.0
2,Kareem Abdul-Jabbar,1947-04-16T00:00:00,UCLA,USA,86.0,225.0,19,33,Center,1610612747,Lakers,LAL,Los Angeles,1969,1988,1969,1,1,18.0
3,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Louisiana State,USA,73.0,162.0,8,1,Guard,1610612743,Nuggets,DEN,Denver,1990,2000,1990,1,3,0.0
4,Tariq Abdul-Wahad,1974-11-03T00:00:00,San Jose State,France,78.0,235.0,6,9,Forward-Guard,1610612758,Kings,SAC,Sacramento,1997,2003,1997,1,11,0.0
5,Shareef Abdur-Rahim,1976-12-11T00:00:00,California,USA,81.0,245.0,12,3,Forward,1610612763,Grizzlies,VAN,Vancouver,1996,2007,1996,1,3,1.0
6,Tom Abernethy,1954-05-06T00:00:00,Indiana,USA,79.0,220.0,4,5,Forward,1610612744,Warriors,GOS,Golden State,1976,1980,1976,3,43,0.0
7,Forest Able,1932-07-27T00:00:00,Western Kentucky,USA,75.0,180.0,0,6,Guard,1610612755,Nationals,PHI,Syracuse,1956,1956,1956,None,None,0.0
8,John Abramovic,1919-02-09T00:00:00,Salem,USA,75.0,195.0,1,,Forward,1610610031,Ironmen,PIT,Pittsburgh,1946,1947,Undrafted,Undrafted,Undrafted,0.0
9,Alex Abrines,1993-08-01T00:00:00,FC Barcelona,Spain,78.0,200.0,2,,Guard,0,,,,2016,2018,2013,2,32,0.0
10,Alex Acker,1983-01-21T00:00:00,Pepperdine,USA,77.0,185.0,2,3,Guard,1610612746,Clippers,LAC,Los Angeles,2005,2008,2005,2,60,0.0
11,Donald Ackerman,1930-09-04T00:00:00,Long Island-Brooklyn,USA,72.0,183.0,0,,Guard,1610612752,Knicks,NYK,New York,1953,1953,1953,2,None,0.0
12,Mark Acres,1962-11-15T00:00:00,Oral Roberts,USA,83.0,220.0,5,42,Center,1610612753,Magic,ORL,Orlando,1987,1992,1985,2,40,0.0
13,Charles Acton,1942-01-11T00:00:00,Hillsdale,USA,78.0,210.0,0,24,Forward,1610612745,Rockets,SDR,San Diego,1967,1967,Undrafted,Undrafted,Undrafted,0.0
14,Quincy Acy,1990-10-06T00:00:00,Baylor,USA,79.0,240.0,6,,Forward,0,,,,2012,2018,2012,2,37,0.0
15,Alvan Adams,1954-07-19T00:00:00,Oklahoma,USA,81.0,210.0,12,33,Center,1610612756,Suns,PHX,Phoenix,1975,1987,1975,1,4,1.0
16,Don Adams,1947-11-27T00:00:00,Northwestern,USA,79.0,210.0,6,10,Forward,1610612765,Pistons,DET,Detroit,1970,1976,1970,8,120,0.0
17,Hassan Adams,1984-06-20T00:00:00,Arizona,USA,76.0,220.0,1,,Forward,0,,,,2006,2008,2006,2,54,0.0
18,Jaylen Adams,1996-05-04T00:00:00,St. Bonaventure,USA,72.0,225.0,2,,Guard,0,,,,2018,2020,Undrafted,Undrafted,Undrafted,NaN
19,Jordan Adams,1994-07-08T00:00:00,UCLA,USA,77.0,209.0,2,3,Guard,1610612763,Grizzlies,MEM,Memphis,2014,2015,2014,1,22,0.0

In [12]:
attributes_df[attributes_df['ALL_STAR_APPEARANCES'].isnull()]

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
18,Jaylen Adams,1996-05-04T00:00:00,St. Bonaventure,USA,72.0,225.0,2,,Guard,0,,,,2018,2020,Undrafted,Undrafted,Undrafted,NaN
21,Steven Adams,1993-07-20T00:00:00,Pittsburgh,New Zealand,83.0,265.0,7,12,Center,1610612740,Pelicans,NOP,New Orleans,2013,2020,2013,1,12,NaN
23,Bam Adebayo,1997-07-18T00:00:00,Kentucky,USA,81.0,255.0,3,13,Center-Forward,1610612748,Heat,MIA,Miami,2017,2020,2017,1,14,NaN
41,LaMarcus Aldridge,1985-07-19T00:00:00,Texas,USA,83.0,250.0,14,12,Center-Forward,1610612759,Spurs,SAS,San Antonio,2006,2020,2006,1,2,NaN
50,Nickeil Alexander-Walker,1998-09-02T00:00:00,Virginia Tech,Canada,78.0,205.0,1,6,Guard,1610612740,Pelicans,NOP,New Orleans,2019,2020,2019,1,17,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4447,Delon Wright,1992-04-26T00:00:00,Utah,USA,77.0,185.0,5,55,Guard,1610612765,Pistons,DET,Detroit,2015,2020,2015,1,20,NaN
4476,Thaddeus Young,1988-06-21T00:00:00,Georgia Tech,USA,80.0,235.0,13,21,Forward,1610612741,Bulls,CHI,Chicago,2007,2020,2007,1,12,NaN
4478,Trae Young,1998-09-19T00:00:00,Oklahoma,USA,73.0,180.0,2,11,Guard,1610612737,Hawks,ATL,Atlanta,2018,2020,2018,1,5,NaN
4481,Cody Zeller,1992-10-05T00:00:00,Indiana,USA,83.0,240.0,7,40,Forward-Center,1610612766,Hornets,CHA,Charlotte,2013,2020,2013,1,4,NaN
4498,Ivica Zubac,1997-03-18T00:00:00,Mega Basket,Croatia,84.0,240.0,4,40,Center,1610612746,Clippers,LAC,LA,2016,2020,2016,2,32,NaN

In [13]:
attributes_df[attributes_df['JERSEY'] == ''].index

Int64Index([   8,    9,   14,   17,   18,   26,   28,   35,   57,   63,
            ...
            4469, 4471, 4473, 4484, 4485, 4489, 4490, 4491, 4492, 4499],
           dtype='int64', length=955)

In [14]:
attributes_df.isnull().sum()

PLAYER_NAME               0
BIRTHDATE                 0
SCHOOL                    0
COUNTRY                   0
HEIGHT                   97
WEIGHT                  101
SEASON_EXP                0
JERSEY                    0
POSITION                  0
TEAM_ID                   0
TEAM_NAME                 0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
FROM_YEAR                 0
TO_YEAR                   0
DRAFT_YEAR                0
DRAFT_ROUND               0
DRAFT_NUMBER              0
ALL_STAR_APPEARANCES    444
dtype: int64

In [15]:
len(attributes_df)

4500

In [16]:
attributes_df['HEIGHT'] = attributes_df['HEIGHT'].fillna((attributes_df['HEIGHT'].mean()))

In [17]:
attributes_df.isna().sum()

PLAYER_NAME               0
BIRTHDATE                 0
SCHOOL                    0
COUNTRY                   0
HEIGHT                    0
WEIGHT                  101
SEASON_EXP                0
JERSEY                    0
POSITION                  0
TEAM_ID                   0
TEAM_NAME                 0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
FROM_YEAR                 0
TO_YEAR                   0
DRAFT_YEAR                0
DRAFT_ROUND               0
DRAFT_NUMBER              0
ALL_STAR_APPEARANCES    444
dtype: int64

In [18]:
attributes_df['WEIGHT'] = attributes_df['WEIGHT'].fillna((attributes_df['WEIGHT'].mean()))

In [19]:
attributes_df.isna().sum()

PLAYER_NAME               0
BIRTHDATE                 0
SCHOOL                    0
COUNTRY                   0
HEIGHT                    0
WEIGHT                    0
SEASON_EXP                0
JERSEY                    0
POSITION                  0
TEAM_ID                   0
TEAM_NAME                 0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
FROM_YEAR                 0
TO_YEAR                   0
DRAFT_YEAR                0
DRAFT_ROUND               0
DRAFT_NUMBER              0
ALL_STAR_APPEARANCES    444
dtype: int64

In [20]:
attributes_df.head(30)

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,JERSEY,POSITION,TEAM_ID,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CITY,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ALL_STAR_APPEARANCES
0,Alaa Abdelnaby,1968-06-24T00:00:00,Duke,USA,82.000000,240.000000,4,30,Forward,1610612757,Trail Blazers,POR,Portland,1990,1994,1990,1,25,0.0
1,Zaid Abdul-Aziz,1946-04-07T00:00:00,Iowa State,USA,81.000000,235.000000,9,54,Center,1610612745,Rockets,HOU,Houston,1968,1977,1968,1,5,0.0
2,Kareem Abdul-Jabbar,1947-04-16T00:00:00,UCLA,USA,86.000000,225.000000,19,33,Center,1610612747,Lakers,LAL,Los Angeles,1969,1988,1969,1,1,18.0
3,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Louisiana State,USA,73.000000,162.000000,8,1,Guard,1610612743,Nuggets,DEN,Denver,1990,2000,1990,1,3,0.0
4,Tariq Abdul-Wahad,1974-11-03T00:00:00,San Jose State,France,78.000000,235.000000,6,9,Forward-Guard,1610612758,Kings,SAC,Sacramento,1997,2003,1997,1,11,0.0
5,Shareef Abdur-Rahim,1976-12-11T00:00:00,California,USA,81.000000,245.000000,12,3,Forward,1610612763,Grizzlies,VAN,Vancouver,1996,2007,1996,1,3,1.0
6,Tom Abernethy,1954-05-06T00:00:00,Indiana,USA,79.000000,220.000000,4,5,Forward,1610612744,Warriors,GOS,Golden State,1976,1980,1976,3,43,0.0
7,Forest Able,1932-07-27T00:00:00,Western Kentucky,USA,75.000000,180.000000,0,6,Guard,1610612755,Nationals,PHI,Syracuse,1956,1956,1956,None,None,0.0
8,John Abramovic,1919-02-09T00:00:00,Salem,USA,75.000000,195.000000,1,,Forward,1610610031,Ironmen,PIT,Pittsburgh,1946,1947,Undrafted,Undrafted,Undrafted,0.0
9,Alex Abrines,1993-08-01T00:00:00,FC Barcelona,Spain,78.000000,200.000000,2,,Guard,0,,,,2016,2018,2013,2,32,0.0
10,Alex Acker,1983-01-21T00:00:00,Pepperdine,USA,77.000000,185.000000,2,3,Guard,1610612746,Clippers,LAC,Los Angeles,2005,2008,2005,2,60,0.0
11,Donald Ackerman,1930-09-04T00:00:00,Long Island-Brooklyn,USA,72.000000,183.000000,0,,Guard,1610612752,Knicks,NYK,New York,1953,1953,1953,2,None,0.0
12,Mark Acres,1962-11-15T00:00:00,Oral Roberts,USA,83.000000,220.000000,5,42,Center,1610612753,Magic,ORL,Orlando,1987,1992,1985,2,40,0.0
13,Charles Acton,1942-01-11T00:00:00,Hillsdale,USA,78.000000,210.000000,0,24,Forward,1610612745,Rockets,SDR,San Diego,1967,1967,Undrafted,Undrafted,Undrafted,0.0
14,Quincy Acy,1990-10-06T00:00:00,Baylor,USA,79.000000,240.000000,6,,Forward,0,,,,2012,2018,2012,2,37,0.0
15,Alvan Adams,1954-07-19T00:00:00,Oklahoma,USA,81.000000,210.000000,12,33,Center,1610612756,Suns,PHX,Phoenix,1975,1987,1975,1,4,1.0
16,Don Adams,1947-11-27T00:00:00,Northwestern,USA,79.000000,210.000000,6,10,Forward,1610612765,Pistons,DET,Detroit,1970,1976,1970,8,120,0.0
17,Hassan Adams,1984-06-20T00:00:00,Arizona,USA,76.000000,220.000000,1,,Forward,0,,,,2006,2008,2006,2,54,0.0
18,Jaylen Adams,1996-05-04T00:00:00,St. Bonaventure,USA,72.000000,225.000000,2,,Guard,0,,,,2018,2020,Undrafted,Undrafted,Undrafted,NaN
19,Jordan Adams,1994-07-08T00:00:00,UCLA,USA,77.000000,209.000000,2,3,Guard,1610612763,Grizzlies,MEM,Memphis,2014,2015,2014,1,22,0.0
20,Michael Adams,1963-01-19T00:00:00,Boston College,USA,70.000000,165.000000,10,23,Guard,1610612743,Nuggets,DEN,Denver,1985,1995,1985,3,66,1.0
21,Steven Adams,1993-07-20T00:00:00,Pittsburgh,New Zealand,83.000000,265.000000,7,12,Center,1610612740,Pelicans,NOP,New Orleans,2013,2020,2013,1,12,NaN
22,Rafael Addison,1964-07-22T00:00:00,Syracuse,USA,80.000000,241.000000,5,7,Forward,1610612751,Nets,NJN,New Jersey,1986,1996,1986,2,39,0.0
23,Bam Adebayo,1997-07-18T00:00:00,Kentucky,USA,81.000000,255.000000,3,13,Center-Forward,1610612748,Heat,MIA,Miami,2017,2020,2017,1,14,NaN
24,Deng Adel,1997-02-01T00:00:00,Louisville,South Sudan,79.000000,200.000000,1,32,Forward,1610612739,Cavaliers,CLE,Cleveland,2018,2018,Undrafted,Undrafted,Undrafted,0.0
25,Rick Adelman,1946-06-16T00:00:00,Loyola-Marymount,USA,74.000000,175.000000,6,5,Guard,1610612757,Trail Blazers,POR,Portland,1968,1974,1968,7,79,0.0
26,Jeff Adrien,1986-02-10T00:00:00,Connecticut,USA,78.070634,211.146852,5,,,0,,,,2010,2014,Undrafted,Undrafted,Undrafted,0.0
27,Arron Afflalo,1985-10-15T00:00:00,UCLA,USA,77.000000,210.000000,11,4,Guard,1610612753,Magic,ORL,Orlando,2007,2017,2007,1,27,0.0
28,Maurice Ager,1984-02-09T00:00:00,Michigan State,USA,77.000000,202.000000,3,,Forward-Guard,0,,,,2006,2010,2006,1,28,0.0
29,Mark Aguirre,1959-12-10T00:00:00,DePaul,USA,78.000000,232.000000,12,7,Forward,1610612742,Mavericks,DAL,Dallas,1981,1993,1981,1,1,3.0

In [21]:
attributes_df.dtypes

PLAYER_NAME              object
BIRTHDATE                object
SCHOOL                   object
COUNTRY                  object
HEIGHT                  float64
WEIGHT                  float64
SEASON_EXP                int64
JERSEY                   object
POSITION                 object
TEAM_ID                  object
TEAM_NAME                object
TEAM_ABBREVIATION        object
TEAM_CITY                object
FROM_YEAR                object
TO_YEAR                  object
DRAFT_YEAR               object
DRAFT_ROUND              object
DRAFT_NUMBER             object
ALL_STAR_APPEARANCES    float64
dtype: object

In [22]:
attributes_final = attributes_df[['PLAYER_NAME', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'HEIGHT', 'WEIGHT', 'SEASON_EXP',
                                 'TEAM_ID', 'FROM_YEAR', 'TO_YEAR', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER']]
attributes_final

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24T00:00:00,Duke,USA,82.0,240.0,4,1610612757,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07T00:00:00,Iowa State,USA,81.0,235.0,9,1610612745,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16T00:00:00,UCLA,USA,86.0,225.0,19,1610612747,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09T00:00:00,Louisiana State,USA,73.0,162.0,8,1610612743,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03T00:00:00,San Jose State,France,78.0,235.0,6,1610612758,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04T00:00:00,,Croatia,82.0,266.0,3,1610612739,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30T00:00:00,Kent State,USA,85.0,240.0,0,1610612765,1982,1982,Undrafted,Undrafted,Undrafted
4497,Bill Zopf,1948-06-07T00:00:00,Duquesne,USA,73.0,170.0,0,1610612749,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18T00:00:00,Mega Basket,Croatia,84.0,240.0,4,1610612746,2016,2020,2016,2,32
4499,Matt Zunic,1919-12-19T00:00:00,George Washington,USA,75.0,195.0,0,1610610036,1948,1948,1947,None,None

In [23]:
attributes_final.dtypes

PLAYER_NAME      object
BIRTHDATE        object
SCHOOL           object
COUNTRY          object
HEIGHT          float64
WEIGHT          float64
SEASON_EXP        int64
TEAM_ID          object
FROM_YEAR        object
TO_YEAR          object
DRAFT_YEAR       object
DRAFT_ROUND      object
DRAFT_NUMBER     object
dtype: object

In [24]:
attributes_final['BIRTHDATE'] = pd.to_datetime(attributes_final['BIRTHDATE'])

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
attributes_final

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FROM_YEAR,TO_YEAR,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,Duke,USA,82.0,240.0,4,1610612757,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,Iowa State,USA,81.0,235.0,9,1610612745,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,UCLA,USA,86.0,225.0,19,1610612747,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,Louisiana State,USA,73.0,162.0,8,1610612743,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,San Jose State,France,78.0,235.0,6,1610612758,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04,,Croatia,82.0,266.0,3,1610612739,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30,Kent State,USA,85.0,240.0,0,1610612765,1982,1982,Undrafted,Undrafted,Undrafted
4497,Bill Zopf,1948-06-07,Duquesne,USA,73.0,170.0,0,1610612749,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18,Mega Basket,Croatia,84.0,240.0,4,1610612746,2016,2020,2016,2,32
4499,Matt Zunic,1919-12-19,George Washington,USA,75.0,195.0,0,1610610036,1948,1948,1947,None,None

In [26]:
attributes_final = attributes_final.rename(columns = {'FROM_YEAR':'FIRST_SEASON', 'TO_YEAR':'LAST_SEASON'})
attributes_final

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,Duke,USA,82.0,240.0,4,1610612757,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,Iowa State,USA,81.0,235.0,9,1610612745,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,UCLA,USA,86.0,225.0,19,1610612747,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,Louisiana State,USA,73.0,162.0,8,1610612743,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,San Jose State,France,78.0,235.0,6,1610612758,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04,,Croatia,82.0,266.0,3,1610612739,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30,Kent State,USA,85.0,240.0,0,1610612765,1982,1982,Undrafted,Undrafted,Undrafted
4497,Bill Zopf,1948-06-07,Duquesne,USA,73.0,170.0,0,1610612749,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18,Mega Basket,Croatia,84.0,240.0,4,1610612746,2016,2020,2016,2,32
4499,Matt Zunic,1919-12-19,George Washington,USA,75.0,195.0,0,1610610036,1948,1948,1947,None,None

In [27]:
attributes_final.isnull().sum()

PLAYER_NAME     0
BIRTHDATE       0
SCHOOL          0
COUNTRY         0
HEIGHT          0
WEIGHT          0
SEASON_EXP      0
TEAM_ID         0
FIRST_SEASON    0
LAST_SEASON     0
DRAFT_YEAR      0
DRAFT_ROUND     0
DRAFT_NUMBER    0
dtype: int64

In [28]:
attributes_final.dtypes

PLAYER_NAME             object
BIRTHDATE       datetime64[ns]
SCHOOL                  object
COUNTRY                 object
HEIGHT                 float64
WEIGHT                 float64
SEASON_EXP               int64
TEAM_ID                 object
FIRST_SEASON            object
LAST_SEASON             object
DRAFT_YEAR              object
DRAFT_ROUND             object
DRAFT_NUMBER            object
dtype: object

In [29]:
attributes_final['TEAM_ID'] = attributes_final['TEAM_ID'].astype(str).astype(np.int64)

In [30]:
attributes_final.dtypes

PLAYER_NAME             object
BIRTHDATE       datetime64[ns]
SCHOOL                  object
COUNTRY                 object
HEIGHT                 float64
WEIGHT                 float64
SEASON_EXP               int64
TEAM_ID                  int64
FIRST_SEASON            object
LAST_SEASON             object
DRAFT_YEAR              object
DRAFT_ROUND             object
DRAFT_NUMBER            object
dtype: object

In [31]:
attributes_final['FIRST_SEASON'] = attributes_final['FIRST_SEASON'].astype(str).astype(np.int64)

In [32]:
attributes_final['LAST_SEASON'] = attributes_final['LAST_SEASON'].astype(str).astype(np.int64)

In [33]:
attributes_final.dtypes

PLAYER_NAME             object
BIRTHDATE       datetime64[ns]
SCHOOL                  object
COUNTRY                 object
HEIGHT                 float64
WEIGHT                 float64
SEASON_EXP               int64
TEAM_ID                  int64
FIRST_SEASON             int64
LAST_SEASON              int64
DRAFT_YEAR              object
DRAFT_ROUND             object
DRAFT_NUMBER            object
dtype: object

In [34]:
attributes_final[attributes_final['DRAFT_YEAR'] == 'Undrafted']

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
8,John Abramovic,1919-02-09,Salem,USA,75.000000,195.000000,1,1610610031,1946,1947,Undrafted,Undrafted,Undrafted
13,Charles Acton,1942-01-11,Hillsdale,USA,78.000000,210.000000,0,1610612745,1967,1967,Undrafted,Undrafted,Undrafted
18,Jaylen Adams,1996-05-04,St. Bonaventure,USA,72.000000,225.000000,2,0,2018,2020,Undrafted,Undrafted,Undrafted
24,Deng Adel,1997-02-01,Louisville,South Sudan,79.000000,200.000000,1,1610612739,2018,2018,Undrafted,Undrafted,Undrafted
26,Jeff Adrien,1986-02-10,Connecticut,USA,78.070634,211.146852,5,0,2010,2014,Undrafted,Undrafted,Undrafted
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4458,A.J. Wynder,1964-09-11,Fairfield,USA,74.000000,180.000000,0,1610612738,1990,1990,Undrafted,Undrafted,Undrafted
4479,Max Zaslofsky,1925-12-07,St. John's,USA,74.000000,170.000000,9,1610610025,1946,1955,Undrafted,Undrafted,Undrafted
4484,Hank Zeller,1918-07-10,Washington & Jefferson,USA,76.000000,210.000000,0,1610610031,1946,1946,Undrafted,Undrafted,Undrafted
4485,Luke Zeller,1987-04-07,Notre Dame,USA,83.000000,245.000000,0,0,2012,2012,Undrafted,Undrafted,Undrafted
4496,Jim Zoet,1953-12-30,Kent State,USA,85.000000,240.000000,0,1610612765,1982,1982,Undrafted,Undrafted,Undrafted

In [35]:
attributes_final.loc[attributes_final["DRAFT_YEAR"] == "Undrafted", "DRAFT_YEAR"] = 0

In [36]:
attributes_final.loc[attributes_final["DRAFT_ROUND"] == "Undrafted", "DRAFT_ROUND"] = 0

In [37]:
attributes_final.loc[attributes_final["DRAFT_NUMBER"] == "Undrafted", "DRAFT_NUMBER"] = 0

In [38]:
attributes_final[attributes_final['DRAFT_NUMBER'] == 'Undrafted']

Empty DataFrame
Columns: [PLAYER_NAME, BIRTHDATE, SCHOOL, COUNTRY, HEIGHT, WEIGHT, SEASON_EXP, TEAM_ID, FIRST_SEASON, LAST_SEASON, DRAFT_YEAR, DRAFT_ROUND, DRAFT_NUMBER]
Index: []

In [39]:
attributes_final

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,Duke,USA,82.0,240.0,4,1610612757,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,Iowa State,USA,81.0,235.0,9,1610612745,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,UCLA,USA,86.0,225.0,19,1610612747,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,Louisiana State,USA,73.0,162.0,8,1610612743,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,San Jose State,France,78.0,235.0,6,1610612758,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,Ante Zizic,1997-01-04,,Croatia,82.0,266.0,3,1610612739,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30,Kent State,USA,85.0,240.0,0,1610612765,1982,1982,0,0,0
4497,Bill Zopf,1948-06-07,Duquesne,USA,73.0,170.0,0,1610612749,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18,Mega Basket,Croatia,84.0,240.0,4,1610612746,2016,2020,2016,2,32
4499,Matt Zunic,1919-12-19,George Washington,USA,75.0,195.0,0,1610610036,1948,1948,1947,None,None

In [40]:
attributes_final.isnull().sum()

PLAYER_NAME     0
BIRTHDATE       0
SCHOOL          0
COUNTRY         0
HEIGHT          0
WEIGHT          0
SEASON_EXP      0
TEAM_ID         0
FIRST_SEASON    0
LAST_SEASON     0
DRAFT_YEAR      0
DRAFT_ROUND     0
DRAFT_NUMBER    0
dtype: int64

In [41]:
attributes_final[attributes_final['DRAFT_NUMBER'] == 'None']

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
7,Forest Able,1932-07-27,Western Kentucky,USA,75.0,180.0,0,1610612755,1956,1956,1956,None,None
11,Donald Ackerman,1930-09-04,Long Island-Brooklyn,USA,72.0,183.0,0,1610612752,1953,1953,1953,2,None
123,Paul Arizin,1928-04-09,Villanova,USA,76.0,190.0,9,1610612744,1950,1961,1950,None,None
126,Bob Armstrong,1933-06-17,Michigan State,USA,80.0,220.0,0,1610612744,1956,1956,1955,None,None
143,Richard Atha,1931-09-21,Indiana State,USA,74.0,190.0,1,1610612752,1955,1957,1953,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4283,Murray Wier,1926-12-12,Iowa,USA,69.0,155.0,0,1610612737,1949,1949,1948,None,None
4290,D.C. Wilcutt,1923-03-25,St. Louis,USA,74.0,165.0,1,1610610034,1948,1949,1948,None,None
4389,George Wilson,1942-05-09,Cincinnati,USA,80.0,225.0,6,1610612755,1964,1970,1964,None,None
4480,Robert Zawoluk,1930-10-13,St. John's,USA,79.0,215.0,2,1610612744,1952,1954,1952,None,None
4499,Matt Zunic,1919-12-19,George Washington,USA,75.0,195.0,0,1610610036,1948,1948,1947,None,None

# Players with "None" in draft columns are not found in our other data              => Drop these players

In [42]:
attributes_final_df = attributes_final[attributes_final.DRAFT_ROUND != 'None']

In [43]:
attributes_final_df

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,Duke,USA,82.0,240.0,4,1610612757,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,Iowa State,USA,81.0,235.0,9,1610612745,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,UCLA,USA,86.0,225.0,19,1610612747,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,Louisiana State,USA,73.0,162.0,8,1610612743,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,San Jose State,France,78.0,235.0,6,1610612758,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,Paul Zipser,1994-02-18,Bayern Munich,Germany,80.0,226.0,1,1610612741,2016,2017,2016,2,48
4495,Ante Zizic,1997-01-04,,Croatia,82.0,266.0,3,1610612739,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30,Kent State,USA,85.0,240.0,0,1610612765,1982,1982,0,0,0
4497,Bill Zopf,1948-06-07,Duquesne,USA,73.0,170.0,0,1610612749,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18,Mega Basket,Croatia,84.0,240.0,4,1610612746,2016,2020,2016,2,32

In [44]:
attributes_final_df = attributes_final_df[attributes_final_df.DRAFT_NUMBER != 'None']

In [45]:
attributes_final_df

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,Duke,USA,82.0,240.0,4,1610612757,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,Iowa State,USA,81.0,235.0,9,1610612745,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,UCLA,USA,86.0,225.0,19,1610612747,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,Louisiana State,USA,73.0,162.0,8,1610612743,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,San Jose State,France,78.0,235.0,6,1610612758,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,Paul Zipser,1994-02-18,Bayern Munich,Germany,80.0,226.0,1,1610612741,2016,2017,2016,2,48
4495,Ante Zizic,1997-01-04,,Croatia,82.0,266.0,3,1610612739,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30,Kent State,USA,85.0,240.0,0,1610612765,1982,1982,0,0,0
4497,Bill Zopf,1948-06-07,Duquesne,USA,73.0,170.0,0,1610612749,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18,Mega Basket,Croatia,84.0,240.0,4,1610612746,2016,2020,2016,2,32

In [46]:
attributes_final_df.dtypes

PLAYER_NAME             object
BIRTHDATE       datetime64[ns]
SCHOOL                  object
COUNTRY                 object
HEIGHT                 float64
WEIGHT                 float64
SEASON_EXP               int64
TEAM_ID                  int64
FIRST_SEASON             int64
LAST_SEASON              int64
DRAFT_YEAR              object
DRAFT_ROUND             object
DRAFT_NUMBER            object
dtype: object

In [47]:
attributes_final_df.isnull().sum()

PLAYER_NAME     0
BIRTHDATE       0
SCHOOL          0
COUNTRY         0
HEIGHT          0
WEIGHT          0
SEASON_EXP      0
TEAM_ID         0
FIRST_SEASON    0
LAST_SEASON     0
DRAFT_YEAR      0
DRAFT_ROUND     0
DRAFT_NUMBER    0
dtype: int64

In [48]:
attributes_final_df['DRAFT_YEAR'] = attributes_final_df['DRAFT_YEAR'].astype(str).astype(np.int64)

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
attributes_final_df['DRAFT_ROUND'] = attributes_final_df['DRAFT_ROUND'].astype(str).astype(np.int64)

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
attributes_final_df['DRAFT_NUMBER'] = attributes_final_df['DRAFT_NUMBER'].astype(str).astype(np.int64)

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [51]:
attributes_final_df

,PLAYER_NAME,BIRTHDATE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,TEAM_ID,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,Duke,USA,82.0,240.0,4,1610612757,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,Iowa State,USA,81.0,235.0,9,1610612745,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,UCLA,USA,86.0,225.0,19,1610612747,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,Louisiana State,USA,73.0,162.0,8,1610612743,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,San Jose State,France,78.0,235.0,6,1610612758,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,Paul Zipser,1994-02-18,Bayern Munich,Germany,80.0,226.0,1,1610612741,2016,2017,2016,2,48
4495,Ante Zizic,1997-01-04,,Croatia,82.0,266.0,3,1610612739,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30,Kent State,USA,85.0,240.0,0,1610612765,1982,1982,0,0,0
4497,Bill Zopf,1948-06-07,Duquesne,USA,73.0,170.0,0,1610612749,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18,Mega Basket,Croatia,84.0,240.0,4,1610612746,2016,2020,2016,2,32

# Create an "AGE" columns for the data

In [52]:
now = pd.to_datetime('now')

attributes_final_df["AGE"] = (now.year - attributes_final_df['BIRTHDATE'].dt.year) - ((now.month - attributes_final_df['BIRTHDATE'].dt.month) < 0)

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
attributes_final_df.columns

Index(['PLAYER_NAME', 'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'HEIGHT', 'WEIGHT',
       'SEASON_EXP', 'TEAM_ID', 'FIRST_SEASON', 'LAST_SEASON', 'DRAFT_YEAR',
       'DRAFT_ROUND', 'DRAFT_NUMBER', 'AGE'],
      dtype='object')

In [60]:
attributes_main_df = attributes_final_df[['PLAYER_NAME', 'BIRTHDATE', 'AGE', 'SCHOOL', 'COUNTRY', 'HEIGHT', 'WEIGHT',
       'SEASON_EXP', 'FIRST_SEASON', 'LAST_SEASON', 'DRAFT_YEAR',
       'DRAFT_ROUND', 'DRAFT_NUMBER']]

attributes_main_df

,PLAYER_NAME,BIRTHDATE,AGE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,53,Duke,USA,82.0,240.0,4,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,76,Iowa State,USA,81.0,235.0,9,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,75,UCLA,USA,86.0,225.0,19,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,53,Louisiana State,USA,73.0,162.0,8,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,47,San Jose State,France,78.0,235.0,6,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4494,Paul Zipser,1994-02-18,28,Bayern Munich,Germany,80.0,226.0,1,2016,2017,2016,2,48
4495,Ante Zizic,1997-01-04,25,,Croatia,82.0,266.0,3,2017,2019,2016,1,23
4496,Jim Zoet,1953-12-30,68,Kent State,USA,85.0,240.0,0,1982,1982,0,0,0
4497,Bill Zopf,1948-06-07,73,Duquesne,USA,73.0,170.0,0,1970,1970,1970,2,33
4498,Ivica Zubac,1997-03-18,25,Mega Basket,Croatia,84.0,240.0,4,2016,2020,2016,2,32

In [61]:
attributes_main_df.isnull().sum()

PLAYER_NAME     0
BIRTHDATE       0
AGE             0
SCHOOL          0
COUNTRY         0
HEIGHT          0
WEIGHT          0
SEASON_EXP      0
FIRST_SEASON    0
LAST_SEASON     0
DRAFT_YEAR      0
DRAFT_ROUND     0
DRAFT_NUMBER    0
dtype: int64

In [62]:
attributes_main_df.dtypes

PLAYER_NAME             object
BIRTHDATE       datetime64[ns]
AGE                      int64
SCHOOL                  object
COUNTRY                 object
HEIGHT                 float64
WEIGHT                 float64
SEASON_EXP               int64
FIRST_SEASON             int64
LAST_SEASON              int64
DRAFT_YEAR               int64
DRAFT_ROUND              int64
DRAFT_NUMBER             int64
dtype: object

In [70]:
# Connect data to the Database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

attributes_main_df.to_sql(name='player_attributes_test', con=engine, index_label = 'PLAYER_NAME')

In [72]:
# Grab data from database to export to a csv file
attributes_main = pd.read_sql_table("player_attributes", con=engine)

attributes_main

,index,PLAYER_NAME,BIRTHDATE,AGE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,0,Alaa Abdelnaby,1968-06-24,53,Duke,USA,82.0,240.0,4,1990,1994,1990,1,25
1,1,Zaid Abdul-Aziz,1946-04-07,76,Iowa State,USA,81.0,235.0,9,1968,1977,1968,1,5
2,2,Kareem Abdul-Jabbar,1947-04-16,75,UCLA,USA,86.0,225.0,19,1969,1988,1969,1,1
3,3,Mahmoud Abdul-Rauf,1969-03-09,53,Louisiana State,USA,73.0,162.0,8,1990,2000,1990,1,3
4,4,Tariq Abdul-Wahad,1974-11-03,47,San Jose State,France,78.0,235.0,6,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4261,4494,Paul Zipser,1994-02-18,28,Bayern Munich,Germany,80.0,226.0,1,2016,2017,2016,2,48
4262,4495,Ante Zizic,1997-01-04,25,,Croatia,82.0,266.0,3,2017,2019,2016,1,23
4263,4496,Jim Zoet,1953-12-30,68,Kent State,USA,85.0,240.0,0,1982,1982,0,0,0
4264,4497,Bill Zopf,1948-06-07,73,Duquesne,USA,73.0,170.0,0,1970,1970,1970,2,33
4265,4498,Ivica Zubac,1997-03-18,25,Mega Basket,Croatia,84.0,240.0,4,2016,2020,2016,2,32

In [73]:
attributes_main = attributes_main.drop(columns = ['index'])
attributes_main

,PLAYER_NAME,BIRTHDATE,AGE,SCHOOL,COUNTRY,HEIGHT,WEIGHT,SEASON_EXP,FIRST_SEASON,LAST_SEASON,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER
0,Alaa Abdelnaby,1968-06-24,53,Duke,USA,82.0,240.0,4,1990,1994,1990,1,25
1,Zaid Abdul-Aziz,1946-04-07,76,Iowa State,USA,81.0,235.0,9,1968,1977,1968,1,5
2,Kareem Abdul-Jabbar,1947-04-16,75,UCLA,USA,86.0,225.0,19,1969,1988,1969,1,1
3,Mahmoud Abdul-Rauf,1969-03-09,53,Louisiana State,USA,73.0,162.0,8,1990,2000,1990,1,3
4,Tariq Abdul-Wahad,1974-11-03,47,San Jose State,France,78.0,235.0,6,1997,2003,1997,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4261,Paul Zipser,1994-02-18,28,Bayern Munich,Germany,80.0,226.0,1,2016,2017,2016,2,48
4262,Ante Zizic,1997-01-04,25,,Croatia,82.0,266.0,3,2017,2019,2016,1,23
4263,Jim Zoet,1953-12-30,68,Kent State,USA,85.0,240.0,0,1982,1982,0,0,0
4264,Bill Zopf,1948-06-07,73,Duquesne,USA,73.0,170.0,0,1970,1970,1970,2,33
4265,Ivica Zubac,1997-03-18,25,Mega Basket,Croatia,84.0,240.0,4,2016,2020,2016,2,32

In [74]:
attributes_main.to_csv('../Resources/Player_attributes.csv')