In [1]:
import pandas as pd
import numpy as np

In [2]:
games_details_data = pd.read_csv("../resources/games_details.csv")
games_details_data.head()

C:\Users\kevin\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,NaN,36:22,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,NaN,23:54,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,NaN,25:17,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,NaN,30:52,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,33:46,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0

In [3]:
games_details_df = games_details_data.copy()

In [4]:
games_details_df.dtypes

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
NICKNAME              object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

In [5]:
games_details_df["COMMENT"].value_counts()

DNP - Coach's Decision                      54563
DNP - Coach's Decision                      30547
DND - Injury/Illness                         1267
DNP - Injury/Illness                         1151
DNP - Injury/Illness                          960
                                            ...
NWT - Ankle sprain                              1
DND - Strained rt. calf                         1
DND - Left Achilles Surgery.                    1
DND - Tendonitis Left Ankle                     1
DND - Non-Displaced Fracture, Left Fibul        1
Name: COMMENT, Length: 5348, dtype: int64

In [6]:
len(games_details_df)

645953

In [7]:
games_details_df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             615591
START_POSITION       398738
COMMENT              540351
MIN                  105603
FGM                  105603
FGA                  105603
FG_PCT               105603
FG3M                 105603
FG3A                 105603
FG3_PCT              105603
FTM                  105603
FTA                  105603
FT_PCT               105603
OREB                 105603
DREB                 105603
REB                  105603
AST                  105603
STL                  105603
BLK                  105603
TO                   105603
PF                   105603
PTS                  105603
PLUS_MINUS           129264
dtype: int64

In [8]:
games_details_df = games_details_df.drop(columns = ['NICKNAME'])

games_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,F,NaN,36:22,4.0,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,F,NaN,23:54,6.0,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,C,NaN,25:17,4.0,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,G,NaN,30:52,4.0,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,NaN,33:46,3.0,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,NaN,NaN,23:56,3.0,...,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,NaN,NaN,21:00,2.0,...,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,NaN,NaN,21:35,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,NaN,NaN,22:53,3.0,...,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,NaN,NaN,0:25,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
games_details_df.sample(n=10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
172172,20600484,1610612742,DAL,Dallas,1904,Devean George,NaN,NaN,22:40,2.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,6.0,6.0
541050,21401123,1610612747,LAL,Los Angeles,202334,Ed Davis,NaN,DNP - Coach's Decision,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386139,21900086,1610612745,HOU,Houston,1629598,Chris Clemons,NaN,NaN,21:58,5.0,...,2.0,1.0,3.0,1.0,0.0,1.0,2.0,3.0,16.0,-5.0
340506,21000149,1610612765,DET,Detroit,201948,Austin Daye,F,NaN,25:17,5.0,...,1.0,2.0,3.0,3.0,0.0,0.0,1.0,0.0,14.0,2.0
29932,42000144,1610612763,MEM,Memphis,203937,Kyle Anderson,F,NaN,24:11,2.0,...,0.0,2.0,2.0,5.0,2.0,0.0,1.0,0.0,4.0,-3.0
113693,20800085,1610612766,CHA,Charlotte,2679,Matt Carroll,NaN,NaN,12:28,2.0,...,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,7.0,9.0
203544,20500598,1610612758,SAC,Sacramento,1903,Kenny Thomas,F,NaN,32:21,4.0,...,4.0,9.0,13.0,6.0,1.0,0.0,2.0,1.0,9.0,-7.0
573053,11400009,1610612757,POR,Portland,203086,Meyers Leonard,NaN,NaN,8:07,0.0,...,0.0,3.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,-3.0
320476,21000988,1610612738,BOS,Boston,2211,Troy Murphy,NaN,NaN,17:22,5.0,...,2.0,5.0,7.0,0.0,2.0,1.0,0.0,4.0,12.0,3.0
582595,21300960,1610612761,TOR,Toronto,101161,Amir Johnson,F,NaN,32:59,8.0,...,5.0,5.0,10.0,1.0,2.0,1.0,1.0,4.0,20.0,28.0

In [10]:
games_details_df['COMMENT'].value_counts()

DNP - Coach's Decision                      54563
DNP - Coach's Decision                      30547
DND - Injury/Illness                         1267
DNP - Injury/Illness                         1151
DNP - Injury/Illness                          960
                                            ...
NWT - Ankle sprain                              1
DND - Strained rt. calf                         1
DND - Left Achilles Surgery.                    1
DND - Tendonitis Left Ankle                     1
DND - Non-Displaced Fracture, Left Fibul        1
Name: COMMENT, Length: 5348, dtype: int64

In [11]:
new_details_df = games_details_df[games_details_df['COMMENT'].isnull()]

new_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,F,NaN,36:22,4.0,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,F,NaN,23:54,6.0,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,C,NaN,25:17,4.0,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,G,NaN,30:52,4.0,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,NaN,33:46,3.0,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,NaN,NaN,23:56,3.0,...,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,NaN,NaN,21:00,2.0,...,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,NaN,NaN,21:35,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,NaN,NaN,22:53,3.0,...,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,NaN,NaN,0:25,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
len(new_details_df)

540351

In [13]:
new_details_df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
START_POSITION       293136
COMMENT              540351
MIN                       1
FGM                       1
FGA                       1
FG_PCT                    1
FG3M                      1
FG3A                      1
FG3_PCT                   1
FTM                       1
FTA                       1
FT_PCT                    1
OREB                      1
DREB                      1
REB                       1
AST                       1
STL                       1
BLK                       1
TO                        1
PF                        1
PTS                       1
PLUS_MINUS            23662
dtype: int64

In [14]:
new_details_df[new_details_df['MIN'].isna()]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
460855,11700036,1610612758,SAC,Sacramento,204022,Jack Cooley,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
new_details_df = new_details_df[new_details_df['MIN'].notnull()]

new_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,F,NaN,36:22,4.0,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,F,NaN,23:54,6.0,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,C,NaN,25:17,4.0,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,G,NaN,30:52,4.0,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,G,NaN,33:46,3.0,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,NaN,NaN,23:56,3.0,...,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,NaN,NaN,21:00,2.0,...,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,NaN,NaN,21:35,6.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,NaN,NaN,22:53,3.0,...,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,NaN,NaN,0:25,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
new_details_df.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
START_POSITION       293135
COMMENT              540350
MIN                       0
FGM                       0
FGA                       0
FG_PCT                    0
FG3M                      0
FG3A                      0
FG3_PCT                   0
FTM                       0
FTA                       0
FT_PCT                    0
OREB                      0
DREB                      0
REB                       0
AST                       0
STL                       0
BLK                       0
TO                        0
PF                        0
PTS                       0
PLUS_MINUS            23661
dtype: int64

In [17]:
len(new_details_df)

540350

In [18]:
new_details_df = new_details_df.drop(columns = ['START_POSITION', 'COMMENT', 'PLUS_MINUS'])

new_details_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,0.400,...,1.00,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,0.750,...,1.00,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,0.444,...,0.75,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,0.444,...,0.00,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,0.231,...,1.00,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,23:56,3.0,8.0,0.375,...,1.00,3.0,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,21:00,2.0,5.0,0.400,...,1.00,0.0,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,21:35,6.0,13.0,0.462,...,1.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,22:53,3.0,8.0,0.375,...,0.60,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,0:25,0.0,0.0,0.000,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
new_details_df.isnull().sum()

GAME_ID              0
TEAM_ID              0
TEAM_ABBREVIATION    0
TEAM_CITY            0
PLAYER_ID            0
PLAYER_NAME          0
MIN                  0
FGM                  0
FGA                  0
FG_PCT               0
FG3M                 0
FG3A                 0
FG3_PCT              0
FTM                  0
FTA                  0
FT_PCT               0
OREB                 0
DREB                 0
REB                  0
AST                  0
STL                  0
BLK                  0
TO                   0
PF                   0
PTS                  0
dtype: int64

In [20]:
len(new_details_df)

540350

In [21]:
new_details_df['GAME_ID'].value_counts()

22000001    37
10500120    36
22000007    35
11900049    35
11500060    35
            ..
20300499    15
40500236    15
22001079    15
20300114    14
21401227    13
Name: GAME_ID, Length: 25668, dtype: int64

In [22]:
games_data = pd.read_csv("../resources/games.csv")
games_data.head()

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0

In [23]:
new_games = games_data.copy()
new_games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25791,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
25792,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
25793,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
25794,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
25795,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [24]:
id_date = new_games[['GAME_DATE_EST', 'GAME_ID']].copy()
id_date

      GAME_DATE_EST   GAME_ID
0        2022-03-12  22101005
1        2022-03-12  22101006
2        2022-03-12  22101007
3        2022-03-12  22101008
4        2022-03-12  22101009
...             ...       ...
25791    2014-10-06  11400007
25792    2014-10-06  11400004
25793    2014-10-06  11400005
25794    2014-10-05  11400002
25795    2014-10-04  11400001

[25796 rows x 2 columns]

# Dataframe with ALL Player data

In [25]:
details_dates = pd.merge(new_details_df, id_date, how = 'left', on = 'GAME_ID')
details_dates

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,GAME_DATE_EST
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,0.400,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,2022-03-12
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,0.750,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,2022-03-12
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,0.444,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,2022-03-12
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,0.444,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,2022-03-12
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,0.231,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,2022-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541085,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,0.444,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,2012-10-06
541086,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,0.636,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,2012-10-06
541087,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,0.429,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,2012-10-06
541088,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,1.000,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,2012-10-06
541089,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,0.500,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,2012-10-06

In [26]:
details_dates.isnull().sum()

GAME_ID              0
TEAM_ID              0
TEAM_ABBREVIATION    0
TEAM_CITY            0
PLAYER_ID            0
PLAYER_NAME          0
MIN                  0
FGM                  0
FGA                  0
FG_PCT               0
FG3M                 0
FG3A                 0
FG3_PCT              0
FTM                  0
FTA                  0
FT_PCT               0
OREB                 0
DREB                 0
REB                  0
AST                  0
STL                  0
BLK                  0
TO                   0
PF                   0
PTS                  0
GAME_DATE_EST        0
dtype: int64

In [27]:
duplicate = details_dates[details_dates.duplicated()]
duplicate

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,GAME_DATE_EST
35075,22000070,1610612738,BOS,Boston,1628369,Jayson Tatum,37:04,11.0,24.0,0.458,...,0.0,6.0,6.0,2.0,1.0,1.0,3.0,1.0,28.0,2021-01-01
35077,22000070,1610612738,BOS,Boston,202684,Tristan Thompson,25:35,2.0,4.0,0.500,...,1.0,8.0,9.0,2.0,1.0,2.0,3.0,2.0,5.0,2021-01-01
35079,22000070,1610612738,BOS,Boston,1628464,Daniel Theis,23:58,1.0,2.0,0.500,...,1.0,5.0,6.0,0.0,0.0,3.0,2.0,3.0,2.0,2021-01-01
35081,22000070,1610612738,BOS,Boston,1627759,Jaylen Brown,37:34,12.0,20.0,0.600,...,2.0,7.0,9.0,2.0,3.0,2.0,4.0,3.0,25.0,2021-01-01
35083,22000070,1610612738,BOS,Boston,203935,Marcus Smart,38:11,5.0,14.0,0.357,...,0.0,3.0,3.0,9.0,3.0,0.0,4.0,3.0,13.0,2021-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49310,22000015,1610612741,CHI,Chicago,1629690,Adam Mokoka,16:47,2.0,6.0,0.333,...,1.0,1.0,2.0,2.0,1.0,1.0,0.0,1.0,4.0,2020-12-23
49320,22000018,1610612765,DET,Detroit,1626153,Delon Wright,19:09,2.0,5.0,0.400,...,0.0,2.0,2.0,4.0,1.0,0.0,1.0,0.0,5.0,2020-12-23
49322,22000018,1610612765,DET,Detroit,201565,Derrick Rose,26:48,7.0,13.0,0.538,...,0.0,1.0,1.0,6.0,2.0,1.0,1.0,1.0,15.0,2020-12-23
49324,22000018,1610612750,MIN,Minnesota,1627736,Malik Beasley,26:37,10.0,18.0,0.556,...,1.0,3.0,4.0,2.0,1.0,0.0,1.0,3.0,23.0,2020-12-23
49326,22000018,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:20,7.0,16.0,0.438,...,1.0,4.0,5.0,4.0,1.0,0.0,2.0,2.0,18.0,2020-12-23

In [28]:
details_dates.drop_duplicates(inplace = True)

In [29]:
details_dates

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,FG_PCT,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,GAME_DATE_EST
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,0.400,...,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,2022-03-12
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,0.750,...,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,2022-03-12
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,0.444,...,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,2022-03-12
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,0.444,...,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,2022-03-12
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,0.231,...,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,2022-03-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541085,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,0.444,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,2012-10-06
541086,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,0.636,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,2012-10-06
541087,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,0.429,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,2012-10-06
541088,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,1.000,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,2012-10-06
541089,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,0.500,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,2012-10-06

In [30]:
details_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540350 entries, 0 to 541089
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            540350 non-null  int64
 1   TEAM_ID            540350 non-null  int64
 2   TEAM_ABBREVIATION  540350 non-null  object
 3   TEAM_CITY          540350 non-null  object
 4   PLAYER_ID          540350 non-null  int64
 5   PLAYER_NAME        540350 non-null  object
 6   MIN                540350 non-null  object
 7   FGM                540350 non-null  float64
 8   FGA                540350 non-null  float64
 9   FG_PCT             540350 non-null  float64
 10  FG3M               540350 non-null  float64
 11  FG3A               540350 non-null  float64
 12  FG3_PCT            540350 non-null  float64
 13  FTM                540350 non-null  float64
 14  FTA                540350 non-null  float64
 15  FT_PCT             540350 non-null  float64
 16  OREB               540350 non-null  float64
 17  DREB               540350 non-null  float64
 18  REB                540350 non-null  float64
 19  AST                540350 non-null  float64
 20  STL                540350 non-null  float64
 21  BLK                540350 non-null  float64
 22  TO                 540350 non-null  float64
 23  PF                 540350 non-null  float64
 24  PTS                540350 non-null  float64
 25  GAME_DATE_EST      540350 non-null  object
dtypes: float64(18), int64(3), object(5)
memory usage: 111.3+ MB

In [31]:
details_dates['GAME_DATE_EST'] = pd.to_datetime(details_dates['GAME_DATE_EST'])

In [32]:
details_dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 540350 entries, 0 to 541089
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            540350 non-null  int64
 1   TEAM_ID            540350 non-null  int64
 2   TEAM_ABBREVIATION  540350 non-null  object
 3   TEAM_CITY          540350 non-null  object
 4   PLAYER_ID          540350 non-null  int64
 5   PLAYER_NAME        540350 non-null  object
 6   MIN                540350 non-null  object
 7   FGM                540350 non-null  float64
 8   FGA                540350 non-null  float64
 9   FG_PCT             540350 non-null  float64
 10  FG3M               540350 non-null  float64
 11  FG3A               540350 non-null  float64
 12  FG3_PCT            540350 non-null  float64
 13  FTM                540350 non-null  float64
 14  FTA                540350 non-null  float64
 15  FT_PCT             540350 non-null  float64
 16  OREB               540350 non-null  float64
 17  DREB               540350 non-null  float64
 18  REB                540350 non-null  float64
 19  AST                540350 non-null  float64
 20  STL                540350 non-null  float64
 21  BLK                540350 non-null  float64
 22  TO                 540350 non-null  float64
 23  PF                 540350 non-null  float64
 24  PTS                540350 non-null  float64
 25  GAME_DATE_EST      540350 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(18), int64(3), object(4)
memory usage: 111.3+ MB

In [33]:
details_dates.set_index(details_dates.pop('GAME_DATE_EST'), inplace = True)
details_dates.reset_index(inplace = True)
details_dates

,GAME_DATE_EST,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,FGM,FGA,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,2022-03-12,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,...,1.000,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,2022-03-12,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,...,1.000,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,2022-03-12,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,...,0.750,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,2022-03-12,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,...,0.000,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,2022-03-12,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,...,1.000,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540345,2012-10-06,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
540346,2012-10-06,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
540347,2012-10-06,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
540348,2012-10-06,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
540349,2012-10-06,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

In [34]:
details_dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540350 entries, 0 to 540349
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_DATE_EST      540350 non-null  datetime64[ns]
 1   GAME_ID            540350 non-null  int64
 2   TEAM_ID            540350 non-null  int64
 3   TEAM_ABBREVIATION  540350 non-null  object
 4   TEAM_CITY          540350 non-null  object
 5   PLAYER_ID          540350 non-null  int64
 6   PLAYER_NAME        540350 non-null  object
 7   MIN                540350 non-null  object
 8   FGM                540350 non-null  float64
 9   FGA                540350 non-null  float64
 10  FG_PCT             540350 non-null  float64
 11  FG3M               540350 non-null  float64
 12  FG3A               540350 non-null  float64
 13  FG3_PCT            540350 non-null  float64
 14  FTM                540350 non-null  float64
 15  FTA                540350 non-null  float64
 16  FT_PCT             540350 non-null  float64
 17  OREB               540350 non-null  float64
 18  DREB               540350 non-null  float64
 19  REB                540350 non-null  float64
 20  AST                540350 non-null  float64
 21  STL                540350 non-null  float64
 22  BLK                540350 non-null  float64
 23  TO                 540350 non-null  float64
 24  PF                 540350 non-null  float64
 25  PTS                540350 non-null  float64
dtypes: datetime64[ns](1), float64(18), int64(3), object(4)
memory usage: 107.2+ MB

In [35]:
print(details_dates.GAME_DATE_EST.min())

2003-10-05 00:00:00

In [36]:
print(details_dates.GAME_DATE_EST.max())

2022-03-12 00:00:00

# Rename Columns

In [37]:
details_dates = details_dates.rename(columns = {'GAME_DATE_EST':'GAME_DATE','FGM': '2pointer_MADE', 'FGA':'2pointer_ATTEMPTS',
                                                 'FG_PCT':'2pointer_PCT', 'FG3M':'3pointer_MADE', 'FG3A':'3pointer_ATTEMPTS',
                                               'FG3_PCT':'3pointer_PCT', 'FTM':'FreeThrow_MADE', 'FTA':'FreeThrow_ATTEMPTS',
                                               'FT_PCT':'FreeThrow_PCT', 'OREB':'OFFENSIVE_REBOUNDS', 'DREB':'DEFENSIVE_REBOUNDS',
                                               'REB':'REBOUNDS_TOTAL', 'AST':'ASSISTS', 'STL':'STEALS', 'BLK':'BLOCKS',
                                               'TO':'TURNOVERS', 'PF':'PERSONAL_FOULS', 'PTS':'POINTS'})
details_dates.head()

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
0,2022-03-12,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,...,1.00,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,2022-03-12,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,...,1.00,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,2022-03-12,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,...,0.75,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,2022-03-12,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,...,0.00,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,2022-03-12,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,...,1.00,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0

In [86]:
details_dates.to_csv('../Resources/All_player_data.csv')

# Playoff Games by Season

In [38]:
Playoffs_test = details_dates[(details_dates['GAME_DATE'] >= '2021-05-22') & (details_dates['GAME_DATE'] <= '2021-07-20')]

Playoffs_test

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
23291,2021-07-20,42000406,1610612756,PHX,Phoenix,1628969,Mikal Bridges,39:28,3.0,7.0,...,0.50,1.0,5.0,6.0,2.0,2.0,0.0,0.0,4.0,7.0
23292,2021-07-20,42000406,1610612756,PHX,Phoenix,203109,Jae Crowder,40:33,4.0,11.0,...,1.00,2.0,11.0,13.0,0.0,4.0,1.0,2.0,3.0,15.0
23293,2021-07-20,42000406,1610612756,PHX,Phoenix,1629028,Deandre Ayton,36:12,4.0,12.0,...,0.80,1.0,5.0,6.0,1.0,2.0,2.0,2.0,5.0,12.0
23294,2021-07-20,42000406,1610612756,PHX,Phoenix,1626164,Devin Booker,46:15,8.0,22.0,...,1.00,0.0,3.0,3.0,5.0,0.0,0.0,6.0,4.0,19.0
23295,2021-07-20,42000406,1610612756,PHX,Phoenix,101108,Chris Paul,39:13,11.0,19.0,...,0.75,1.0,1.0,2.0,5.0,1.0,0.0,3.0,5.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25150,2021-05-22,42000161,1610612743,DEN,Denver,1630267,Facundo Campazzo,31:32,3.0,4.0,...,0.00,2.0,1.0,3.0,5.0,2.0,1.0,1.0,3.0,8.0
25151,2021-05-22,42000161,1610612743,DEN,Denver,1628420,Monte Morris,21:59,5.0,10.0,...,0.00,0.0,2.0,2.0,5.0,0.0,0.0,1.0,4.0,10.0
25152,2021-05-22,42000161,1610612743,DEN,Denver,203210,JaMychal Green,17:37,0.0,1.0,...,0.00,0.0,1.0,1.0,3.0,0.0,1.0,0.0,2.0,0.0
25153,2021-05-22,42000161,1610612743,DEN,Denver,1630210,Markus Howard,19:58,3.0,5.0,...,0.00,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,7.0
25154,2021-05-22,42000161,1610612743,DEN,Denver,200794,Paul Millsap,14:43,1.0,3.0,...,0.00,0.0,3.0,3.0,4.0,1.0,0.0,2.0,2.0,3.0

In [39]:
print(details_dates[details_dates['GAME_DATE'] == '2003-04-24'])

Empty DataFrame
Columns: [GAME_DATE, GAME_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, PLAYER_ID, PLAYER_NAME, MIN, 2pointer_MADE, 2pointer_ATTEMPTS, 2pointer_PCT, 3pointer_MADE, 3pointer_ATTEMPTS, 3pointer_PCT, FreeThrow_MADE, FreeThrow_ATTEMPTS, FreeThrow_PCT, OFFENSIVE_REBOUNDS, DEFENSIVE_REBOUNDS, REBOUNDS_TOTAL, ASSISTS, STEALS, BLOCKS, TURNOVERS, PERSONAL_FOULS, POINTS]
Index: []

[0 rows x 26 columns]

In [40]:
# regular_season = details_dates
Playoffs_04 = details_dates[(details_dates['GAME_DATE'] >= '2004-04-17') & (details_dates['GAME_DATE'] <= '2004-06-15')]

Playoffs_04

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
213209,2004-06-15,40300405,1610612747,LAL,Los Angeles,1904,Devean George,20:22,2.0,6.0,...,0.000,2.0,1.0,3.0,2.0,0.0,1.0,0.0,4.0,4.0
213210,2004-06-15,40300405,1610612747,LAL,Los Angeles,2098,Slava Medvedenko,23:25,4.0,8.0,...,1.000,2.0,3.0,5.0,1.0,0.0,0.0,1.0,1.0,10.0
213211,2004-06-15,40300405,1610612747,LAL,Los Angeles,406,Shaquille O'Neal,35:33,7.0,13.0,...,0.375,2.0,6.0,8.0,1.0,1.0,0.0,1.0,4.0,20.0
213212,2004-06-15,40300405,1610612747,LAL,Los Angeles,977,Kobe Bryant,45:34,7.0,21.0,...,0.909,1.0,2.0,3.0,4.0,1.0,0.0,3.0,2.0,24.0
213213,2004-06-15,40300405,1610612747,LAL,Los Angeles,56,Gary Payton,30:47,1.0,3.0,...,0.000,2.0,2.0,4.0,4.0,2.0,1.0,1.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214858,2004-04-17,40300101,1610612754,IND,Indiana,2224,Jamaal Tinsley,29:24,2.0,6.0,...,0.000,1.0,2.0,3.0,7.0,1.0,1.0,0.0,3.0,5.0
214859,2004-04-17,40300101,1610612754,IND,Indiana,1733,Al Harrington,32:57,6.0,10.0,...,0.667,6.0,4.0,10.0,3.0,5.0,1.0,2.0,3.0,14.0
214860,2004-04-17,40300101,1610612754,IND,Indiana,2410,Fred Jones,18:60,4.0,5.0,...,0.000,1.0,3.0,4.0,2.0,0.0,1.0,1.0,2.0,9.0
214861,2004-04-17,40300101,1610612754,IND,Indiana,1533,Anthony Johnson,19:35,2.0,5.0,...,1.000,0.0,1.0,1.0,2.0,0.0,1.0,3.0,4.0,6.0
214862,2004-04-17,40300101,1610612754,IND,Indiana,1886,Jonathan Bender,8:15,1.0,2.0,...,0.500,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,3.0

In [41]:
Playoffs_05 = details_dates[(details_dates['GAME_DATE'] >= '2005-04-23') & (details_dates['GAME_DATE'] <= '2005-06-23')]

Playoffs_05

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
185478,2005-06-23,40400407,1610612765,DET,Detroit,2419,Tayshaun Prince,41:19,4.0,13.0,...,0.000,1.0,1.0,2.0,1.0,2.0,0.0,1.0,1.0,9.0
185479,2005-06-23,40400407,1610612765,DET,Detroit,739,Rasheed Wallace,27:22,5.0,10.0,...,0.000,0.0,1.0,1.0,1.0,2.0,1.0,1.0,5.0,11.0
185480,2005-06-23,40400407,1610612765,DET,Detroit,1112,Ben Wallace,37:54,6.0,10.0,...,0.000,2.0,9.0,11.0,1.0,2.0,2.0,0.0,5.0,12.0
185481,2005-06-23,40400407,1610612765,DET,Detroit,1497,Chauncey Billups,39:24,3.0,8.0,...,0.875,1.0,3.0,4.0,8.0,1.0,0.0,1.0,4.0,13.0
185482,2005-06-23,40400407,1610612765,DET,Detroit,1888,Richard Hamilton,46:38,6.0,18.0,...,0.750,1.0,7.0,8.0,1.0,0.0,1.0,1.0,3.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187120,2005-04-23,40400161,1610612760,SEA,Seattle,2209,Vladimir Radmanovic,13:27,0.0,1.0,...,0.000,0.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0
187121,2005-04-23,40400161,1610612760,SEA,Seattle,2555,Nick Collison,19:27,2.0,3.0,...,0.000,0.0,1.0,1.0,1.0,0.0,0.0,1.0,4.0,4.0
187122,2005-04-23,40400161,1610612760,SEA,Seattle,1498,Antonio Daniels,28:24,3.0,8.0,...,0.750,1.0,3.0,4.0,4.0,2.0,0.0,3.0,0.0,12.0
187123,2005-04-23,40400161,1610612760,SEA,Seattle,1504,Danny Fortson,9:33,1.0,2.0,...,0.500,1.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0
187124,2005-04-23,40400161,1610612760,SEA,Seattle,2863,Damien Wilkins,8:58,0.0,2.0,...,0.000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

In [42]:
Playoffs_06 = details_dates[(details_dates['GAME_DATE'] >= '2006-04-22') & (details_dates['GAME_DATE'] <= '2006-06-20')]

Playoffs_06

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
155967,2006-06-20,40500406,1610612748,MIA,Miami,952,Antoine Walker,33:30,6.0,17.0,...,0.667,3.0,8.0,11.0,2.0,1.0,1.0,0.0,2.0,14.0
155968,2006-06-20,40500406,1610612748,MIA,Miami,2617,Udonis Haslem,40:30,8.0,13.0,...,0.250,4.0,6.0,10.0,1.0,2.0,0.0,3.0,3.0,17.0
155969,2006-06-20,40500406,1610612748,MIA,Miami,406,Shaquille O'Neal,30:19,4.0,11.0,...,0.250,3.0,9.0,12.0,1.0,0.0,1.0,2.0,5.0,9.0
155970,2006-06-20,40500406,1610612748,MIA,Miami,2548,Dwyane Wade,45:24,10.0,18.0,...,0.762,3.0,7.0,10.0,5.0,4.0,3.0,5.0,4.0,36.0
155971,2006-06-20,40500406,1610612748,MIA,Miami,1715,Jason Williams,30:27,1.0,7.0,...,0.000,0.0,1.0,1.0,7.0,0.0,0.0,2.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157682,2006-04-22,40500161,1610612746,LAC,Los Angeles,208,Sam Cassell,33:35,6.0,11.0,...,0.857,1.0,0.0,1.0,7.0,0.0,0.0,0.0,2.0,19.0
157683,2006-04-22,40500161,1610612746,LAC,Los Angeles,2209,Vladimir Radmanovic,13:14,1.0,3.0,...,1.000,2.0,3.0,5.0,1.0,1.0,0.0,3.0,3.0,5.0
157684,2006-04-22,40500161,1610612746,LAC,Los Angeles,1894,Corey Maggette,14:39,2.0,8.0,...,0.750,2.0,5.0,7.0,1.0,1.0,0.0,1.0,2.0,8.0
157685,2006-04-22,40500161,1610612746,LAC,Los Angeles,1442,Zeljko Rebraca,11:34,1.0,2.0,...,0.000,0.0,2.0,2.0,0.0,0.0,0.0,2.0,3.0,2.0
157686,2006-04-22,40500161,1610612746,LAC,Los Angeles,2733,Shaun Livingston,20:11,1.0,4.0,...,0.000,0.0,1.0,1.0,3.0,0.0,0.0,1.0,2.0,2.0

In [43]:
Playoffs_07 = details_dates[(details_dates['GAME_DATE'] >= '2007-04-21') & (details_dates['GAME_DATE'] <= '2007-06-14')]

Playoffs_07

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
126561,2007-06-14,40600404,1610612759,SAS,San Antonio,1477,Bruce Bowen,42:08,1.0,6.0,...,0.000,1.0,4.0,5.0,3.0,0.0,0.0,0.0,4.0,2.0
126562,2007-06-14,40600404,1610612759,SAS,San Antonio,1495,Tim Duncan,40:08,4.0,15.0,...,0.400,5.0,10.0,15.0,3.0,2.0,2.0,6.0,3.0,12.0
126563,2007-06-14,40600404,1610612759,SAS,San Antonio,101177,Fabricio Oberto,25:24,3.0,5.0,...,1.000,3.0,2.0,5.0,0.0,1.0,0.0,0.0,2.0,7.0
126564,2007-06-14,40600404,1610612759,SAS,San Antonio,714,Michael Finley,15:39,1.0,5.0,...,0.667,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0
126565,2007-06-14,40600404,1610612759,SAS,San Antonio,2225,Tony Parker,38:36,10.0,14.0,...,0.400,0.0,7.0,7.0,1.0,0.0,0.0,3.0,2.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128118,2007-04-21,40600171,1610612745,HOU,Houston,1503,Tracy McGrady,40:17,8.0,17.0,...,0.667,0.0,4.0,4.0,7.0,1.0,2.0,4.0,0.0,23.0
128119,2007-04-21,40600171,1610612745,HOU,Houston,1747,Rafer Alston,46:30,3.0,11.0,...,0.000,1.0,10.0,11.0,8.0,2.0,0.0,3.0,4.0,9.0
128120,2007-04-21,40600171,1610612745,HOU,Houston,101129,Luther Head,26:19,2.0,8.0,...,0.500,0.0,4.0,4.0,3.0,1.0,1.0,0.0,2.0,6.0
128121,2007-04-21,40600171,1610612745,HOU,Houston,87,Dikembe Mutombo,8:09,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
128122,2007-04-21,40600171,1610612745,HOU,Houston,436,Juwan Howard,23:60,2.0,5.0,...,1.000,0.0,3.0,3.0,0.0,1.0,0.0,2.0,0.0,8.0

In [44]:
Playoffs_08 = details_dates[(details_dates['GAME_DATE'] >= '2008-04-19') & (details_dates['GAME_DATE'] <= '2008-06-17')]

Playoffs_08

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
97564,2008-06-17,40700406,1610612747,LAL,Los Angeles,2209,Vladimir Radmanovic,21:30,2.0,6.0,...,0.000,0.0,3.0,3.0,0.0,0.0,0.0,0.0,5.0,6.0
97565,2008-06-17,40700406,1610612747,LAL,Los Angeles,1885,Lamar Odom,40:25,2.0,8.0,...,0.625,0.0,10.0,10.0,5.0,0.0,0.0,3.0,4.0,14.0
97566,2008-06-17,40700406,1610612747,LAL,Los Angeles,2200,Pau Gasol,32:23,4.0,7.0,...,0.750,0.0,8.0,8.0,2.0,0.0,0.0,5.0,3.0,11.0
97567,2008-06-17,40700406,1610612747,LAL,Los Angeles,977,Kobe Bryant,42:46,7.0,22.0,...,1.000,1.0,2.0,3.0,1.0,1.0,0.0,4.0,1.0,22.0
97568,2008-06-17,40700406,1610612747,LAL,Los Angeles,965,Derek Fisher,28:06,2.0,4.0,...,1.000,0.0,0.0,0.0,4.0,0.0,0.0,1.0,5.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99324,2008-04-19,40700161,1610612759,SAS,San Antonio,703,Kurt Thomas,28:56,2.0,5.0,...,0.000,4.0,6.0,10.0,0.0,0.0,1.0,2.0,6.0,4.0
99325,2008-04-19,40700161,1610612759,SAS,San Antonio,1938,Manu Ginobili,45:00,10.0,24.0,...,0.800,1.0,3.0,4.0,5.0,3.0,0.0,4.0,4.0,24.0
99326,2008-04-19,40700161,1610612759,SAS,San Antonio,1521,Jacque Vaughn,2:50,0.0,1.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99327,2008-04-19,40700161,1610612759,SAS,San Antonio,2137,Ime Udoka,7:41,1.0,4.0,...,0.000,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.0
99328,2008-04-19,40700161,1610612759,SAS,San Antonio,699,Brent Barry,9:58,1.0,1.0,...,0.500,0.0,2.0,2.0,0.0,1.0,0.0,0.0,2.0,4.0

In [45]:
Playoffs_09 = details_dates[(details_dates['GAME_DATE'] >= '2009-04-18') & (details_dates['GAME_DATE'] <= '2009-06-14')]

Playoffs_09

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
68542,2009-06-14,40800405,1610612747,LAL,Los Angeles,2772,Trevor Ariza,41:29,5.0,12.0,...,0.500,1.0,4.0,5.0,1.0,2.0,0.0,3.0,3.0,15.0
68543,2009-06-14,40800405,1610612747,LAL,Los Angeles,2200,Pau Gasol,42:09,6.0,9.0,...,0.500,4.0,11.0,15.0,3.0,0.0,4.0,1.0,2.0,14.0
68544,2009-06-14,40800405,1610612747,LAL,Los Angeles,101115,Andrew Bynum,16:54,3.0,11.0,...,0.000,4.0,1.0,5.0,0.0,1.0,0.0,1.0,5.0,6.0
68545,2009-06-14,40800405,1610612747,LAL,Los Angeles,977,Kobe Bryant,43:18,10.0,23.0,...,1.000,0.0,6.0,6.0,5.0,2.0,4.0,1.0,2.0,30.0
68546,2009-06-14,40800405,1610612747,LAL,Los Angeles,965,Derek Fisher,31:59,4.0,7.0,...,1.000,0.0,4.0,4.0,2.0,0.0,0.0,1.0,4.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70278,2009-04-18,40800171,1610612757,POR,Portland,2566,Travis Outlaw,26:25,4.0,10.0,...,0.500,1.0,1.0,2.0,0.0,1.0,0.0,2.0,1.0,9.0
70279,2009-04-18,40800171,1610612757,POR,Portland,200771,Sergio Rodriguez,10:53,1.0,4.0,...,0.000,1.0,0.0,1.0,2.0,0.0,0.0,1.0,1.0,2.0
70280,2009-04-18,40800171,1610612757,POR,Portland,101112,Channing Frye,20:13,2.0,5.0,...,0.000,0.0,2.0,2.0,0.0,0.0,0.0,0.0,4.0,4.0
70281,2009-04-18,40800171,1610612757,POR,Portland,201573,Jerryd Bayless,8:46,1.0,4.0,...,0.667,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0
70282,2009-04-18,40800171,1610612757,POR,Portland,1913,Michael Ruffin,5:27,0.0,1.0,...,0.500,3.0,2.0,5.0,0.0,0.0,0.0,1.0,1.0,1.0

In [46]:
Playoffs_10 = details_dates[(details_dates['GAME_DATE'] >= '2010-04-17') & (details_dates['GAME_DATE'] <= '2010-06-17')]

Playoffs_10

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
291805,2010-06-17,40900407,1610612738,BOS,Boston,1718,Paul Pierce,45:35,5.0,15.0,...,1.000,1.0,9.0,10.0,2.0,1.0,1.0,3.0,4.0,18.0
291806,2010-06-17,40900407,1610612738,BOS,Boston,708,Kevin Garnett,38:07,8.0,13.0,...,1.000,0.0,3.0,3.0,2.0,0.0,4.0,2.0,5.0,17.0
291807,2010-06-17,40900407,1610612738,BOS,Boston,739,Rasheed Wallace,35:36,5.0,11.0,...,0.000,2.0,6.0,8.0,2.0,0.0,2.0,0.0,6.0,11.0
291808,2010-06-17,40900407,1610612738,BOS,Boston,951,Ray Allen,45:16,3.0,14.0,...,0.833,0.0,2.0,2.0,2.0,3.0,0.0,4.0,3.0,13.0
291809,2010-06-17,40900407,1610612738,BOS,Boston,200765,Rajon Rondo,44:53,6.0,13.0,...,0.500,4.0,4.0,8.0,10.0,1.0,0.0,3.0,2.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293474,2010-04-17,40900171,1610612743,DEN,Denver,2365,Chris Andersen,21:32,0.0,0.0,...,0.000,0.0,6.0,6.0,1.0,0.0,2.0,0.0,1.0,0.0
293475,2010-04-17,40900171,1610612743,DEN,Denver,201951,Ty Lawson,21:37,3.0,8.0,...,0.750,1.0,2.0,3.0,6.0,1.0,0.0,0.0,3.0,11.0
293476,2010-04-17,40900171,1610612743,DEN,Denver,101121,Joey Graham,1:45,0.0,1.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
293477,2010-04-17,40900171,1610612743,DEN,Denver,101130,Johan Petro,1:45,0.0,0.0,...,0.000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
293478,2010-04-17,40900171,1610612743,DEN,Denver,2124,Malik Allen,1:45,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [47]:
Playoffs_11 = details_dates[(details_dates['GAME_DATE'] >= '2011-04-16') & (details_dates['GAME_DATE'] <= '2011-06-12')]

Playoffs_11

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
262364,2011-06-12,41000406,1610612742,DAL,Dallas,1890,Shawn Marion,35:22,4.0,10.0,...,0.667,3.0,5.0,8.0,1.0,1.0,0.0,2.0,3.0,12.0
262365,2011-06-12,41000406,1610612742,DAL,Dallas,1717,Dirk Nowitzki,38:54,9.0,27.0,...,1.000,0.0,11.0,11.0,1.0,2.0,0.0,2.0,4.0,21.0
262366,2011-06-12,41000406,1610612742,DAL,Dallas,2199,Tyson Chandler,30:03,2.0,4.0,...,0.500,2.0,6.0,8.0,1.0,2.0,0.0,1.0,5.0,5.0
262367,2011-06-12,41000406,1610612742,DAL,Dallas,467,Jason Kidd,36:17,2.0,4.0,...,0.750,0.0,4.0,4.0,8.0,0.0,1.0,2.0,1.0,9.0
262368,2011-06-12,41000406,1610612742,DAL,Dallas,200826,J.J. Barea,29:37,7.0,12.0,...,0.000,2.0,1.0,3.0,5.0,2.0,0.0,3.0,3.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263975,2011-04-16,41000111,1610612748,MIA,Miami,1710,Mike Bibby,28:20,3.0,9.0,...,0.000,0.0,2.0,2.0,1.0,0.0,0.0,3.0,2.0,8.0
263976,2011-04-16,41000111,1610612748,MIA,Miami,201202,Joel Anthony,26:21,0.0,3.0,...,0.750,3.0,1.0,4.0,0.0,0.0,1.0,2.0,3.0,3.0
263977,2011-04-16,41000111,1610612748,MIA,Miami,2592,James Jones,24:58,4.0,8.0,...,0.000,2.0,3.0,5.0,1.0,1.0,0.0,0.0,0.0,9.0
263978,2011-04-16,41000111,1610612748,MIA,Miami,2034,Mike Miller,2:56,0.0,3.0,...,0.000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
263979,2011-04-16,41000111,1610612748,MIA,Miami,201596,Mario Chalmers,21:26,2.0,2.0,...,0.500,0.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0,6.0

In [48]:
Playoffs_12 = details_dates[(details_dates['GAME_DATE'] >= '2012-04-28') & (details_dates['GAME_DATE'] <= '2012-06-21')]

Playoffs_12

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
239109,2012-06-21,41100405,1610612760,OKC,Oklahoma City,201142,Kevin Durant,43:16,13.0,24.0,...,1.000,2.0,9.0,11.0,3.0,2.0,1.0,7.0,5.0,32.0
239110,2012-06-21,41100405,1610612760,OKC,Oklahoma City,201586,Serge Ibaka,25:47,3.0,9.0,...,0.750,4.0,0.0,4.0,0.0,0.0,2.0,0.0,3.0,9.0
239111,2012-06-21,41100405,1610612760,OKC,Oklahoma City,2570,Kendrick Perkins,19:45,1.0,4.0,...,0.000,0.0,4.0,4.0,0.0,1.0,0.0,1.0,5.0,2.0
239112,2012-06-21,41100405,1610612760,OKC,Oklahoma City,200757,Thabo Sefolosha,9:19,0.0,2.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
239113,2012-06-21,41100405,1610612760,OKC,Oklahoma City,201566,Russell Westbrook,43:16,4.0,20.0,...,0.846,0.0,4.0,4.0,6.0,2.0,0.0,2.0,3.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240848,2012-04-28,41100101,1610612741,CHI,Chicago,200758,Ronnie Brewer,12:41,0.0,1.0,...,0.000,0.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,0.0
240849,2012-04-28,41100101,1610612741,CHI,Chicago,201600,Omer Asik,9:43,0.0,2.0,...,0.250,1.0,0.0,1.0,1.0,0.0,1.0,2.0,1.0,1.0
240850,2012-04-28,41100101,1610612741,CHI,Chicago,201959,Taj Gibson,18:36,2.0,3.0,...,0.750,1.0,2.0,3.0,0.0,3.0,0.0,0.0,4.0,7.0
240851,2012-04-28,41100101,1610612741,CHI,Chicago,201228,C.J. Watson,10:49,1.0,4.0,...,1.000,0.0,0.0,0.0,5.0,1.0,0.0,1.0,0.0,4.0
240852,2012-04-28,41100101,1610612741,CHI,Chicago,2594,Kyle Korver,23:21,5.0,8.0,...,0.000,0.0,4.0,4.0,1.0,0.0,1.0,2.0,4.0,11.0

In [49]:
Playoffs_13 = details_dates[(details_dates['GAME_DATE'] >= '2013-04-20') & (details_dates['GAME_DATE'] <= '2013-06-20')]

Playoffs_13

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
510156,2013-06-20,41200407,1610612759,SAS,San Antonio,202695,Kawhi Leonard,45:00,8.0,17.0,...,0.5,4.0,12.0,16.0,0.0,1.0,1.0,2.0,2.0,19.0
510157,2013-06-20,41200407,1610612759,SAS,San Antonio,1938,Manu Ginobili,35:05,6.0,12.0,...,1.0,0.0,3.0,3.0,5.0,0.0,0.0,4.0,4.0,18.0
510158,2013-06-20,41200407,1610612759,SAS,San Antonio,1495,Tim Duncan,43:10,8.0,18.0,...,1.0,4.0,8.0,12.0,2.0,4.0,1.0,3.0,4.0,24.0
510159,2013-06-20,41200407,1610612759,SAS,San Antonio,201980,Danny Green,36:27,1.0,12.0,...,1.0,1.0,4.0,5.0,0.0,2.0,1.0,2.0,3.0,5.0
510160,2013-06-20,41200407,1610612759,SAS,San Antonio,2225,Tony Parker,36:33,3.0,12.0,...,1.0,0.0,0.0,0.0,4.0,3.0,0.0,2.0,1.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511932,2013-04-20,41200171,1610612746,LAC,Los Angeles,200797,Ryan Hollins,8:40,1.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,4.0,2.0
511933,2013-04-20,41200171,1610612746,LAC,Los Angeles,1885,Lamar Odom,18:21,1.0,7.0,...,0.5,3.0,4.0,7.0,3.0,0.0,1.0,2.0,3.0,4.0
511934,2013-04-20,41200171,1610612746,LAC,Los Angeles,202339,Eric Bledsoe,18:19,7.0,7.0,...,0.5,1.0,5.0,6.0,4.0,0.0,0.0,1.0,1.0,15.0
511935,2013-04-20,41200171,1610612746,LAC,Los Angeles,101142,Ronny Turiaf,9:12,2.0,2.0,...,0.5,1.0,2.0,3.0,0.0,0.0,0.0,0.0,3.0,5.0
511936,2013-04-20,41200171,1610612746,LAC,Los Angeles,2584,Willie Green,1:48,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
Playoffs_14 = details_dates[(details_dates['GAME_DATE'] >= '2014-04-19') & (details_dates['GAME_DATE'] <= '2014-06-15')]

Playoffs_14

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
479927,2014-06-15,41300405,1610612748,MIA,Miami,2544,LeBron James,41:16,10.0,21.0,...,0.889,1.0,9.0,10.0,5.0,0.0,2.0,1.0,1.0,31.0
479928,2014-06-15,41300405,1610612748,MIA,Miami,1740,Rashard Lewis,9:00,1.0,2.0,...,0.000,0.0,2.0,2.0,1.0,0.0,0.0,0.0,2.0,3.0
479929,2014-06-15,41300405,1610612748,MIA,Miami,2547,Chris Bosh,38:37,6.0,14.0,...,0.500,0.0,7.0,7.0,2.0,1.0,0.0,0.0,2.0,13.0
479930,2014-06-15,41300405,1610612748,MIA,Miami,2548,Dwyane Wade,36:00,4.0,12.0,...,0.500,0.0,3.0,3.0,1.0,0.0,0.0,3.0,3.0,11.0
479931,2014-06-15,41300405,1610612748,MIA,Miami,951,Ray Allen,31:20,1.0,8.0,...,1.000,1.0,4.0,5.0,2.0,1.0,0.0,4.0,2.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481828,2014-04-19,41300151,1610612760,OKC,Oklahoma City,203500,Steven Adams,12:09,0.0,1.0,...,0.000,0.0,1.0,1.0,0.0,0.0,3.0,0.0,5.0,0.0
481829,2014-04-19,41300151,1610612760,OKC,Oklahoma City,202704,Reggie Jackson,23:54,1.0,5.0,...,0.875,0.0,8.0,8.0,4.0,0.0,1.0,0.0,2.0,9.0
481830,2014-04-19,41300151,1610612760,OKC,Oklahoma City,965,Derek Fisher,12:03,1.0,3.0,...,1.000,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,4.0
481831,2014-04-19,41300151,1610612760,OKC,Oklahoma City,201934,Hasheem Thabeet,4:03,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0
481832,2014-04-19,41300151,1610612760,OKC,Oklahoma City,203087,Jeremy Lamb,0:47,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
Playoffs_15 = details_dates[(details_dates['GAME_DATE'] >= '2015-04-18') & (details_dates['GAME_DATE'] <= '2015-06-16')]

Playoffs_15

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
449619,2015-06-16,41400406,1610612744,GSW,Golden State,2738,Andre Iguodala,36:21,9.0,20.0,...,0.40,1.0,4.0,5.0,5.0,2.0,0.0,0.0,4.0,25.0
449620,2015-06-16,41400406,1610612744,GSW,Golden State,203084,Harrison Barnes,35:27,3.0,8.0,...,0.00,0.0,2.0,2.0,2.0,1.0,0.0,0.0,3.0,9.0
449621,2015-06-16,41400406,1610612744,GSW,Golden State,203110,Draymond Green,41:28,6.0,13.0,...,0.50,1.0,10.0,11.0,10.0,3.0,1.0,3.0,5.0,16.0
449622,2015-06-16,41400406,1610612744,GSW,Golden State,202691,Klay Thompson,24:40,2.0,7.0,...,0.00,0.0,5.0,5.0,2.0,0.0,1.0,2.0,6.0,5.0
449623,2015-06-16,41400406,1610612744,GSW,Golden State,201939,Stephen Curry,43:06,8.0,19.0,...,0.75,0.0,6.0,6.0,8.0,3.0,0.0,3.0,3.0,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451267,2015-04-18,41400141,1610612744,GSW,Golden State,2738,Andre Iguodala,31:18,2.0,6.0,...,0.50,0.0,4.0,4.0,3.0,1.0,0.0,0.0,2.0,8.0
451268,2015-04-18,41400141,1610612744,GSW,Golden State,2571,Leandro Barbosa,11:23,0.0,3.0,...,0.00,2.0,2.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0
451269,2015-04-18,41400141,1610612744,GSW,Golden State,203105,Festus Ezeli,3:14,0.0,0.0,...,1.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
451270,2015-04-18,41400141,1610612744,GSW,Golden State,2733,Shaun Livingston,13:02,1.0,3.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,2.0
451271,2015-04-18,41400141,1610612744,GSW,Golden State,201578,Marreese Speights,0:41,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
Playoffs_16 = details_dates[(details_dates['GAME_DATE'] >= '2016-04-16') & (details_dates['GAME_DATE'] <= '2016-06-19')]

Playoffs_16

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
419040,2016-06-19,41500407,1610612739,CLE,Cleveland,2544,LeBron James,46:49,9.0,24.0,...,0.800,1.0,10.0,11.0,11.0,2.0,3.0,5.0,1.0,27.0
419041,2016-06-19,41500407,1610612739,CLE,Cleveland,201567,Kevin Love,30:02,3.0,9.0,...,0.750,4.0,10.0,14.0,3.0,2.0,0.0,1.0,2.0,9.0
419042,2016-06-19,41500407,1610612739,CLE,Cleveland,202684,Tristan Thompson,31:49,3.0,3.0,...,0.750,0.0,3.0,3.0,0.0,0.0,2.0,0.0,4.0,9.0
419043,2016-06-19,41500407,1610612739,CLE,Cleveland,2747,JR Smith,38:55,5.0,13.0,...,0.000,0.0,4.0,4.0,2.0,1.0,0.0,2.0,3.0,12.0
419044,2016-06-19,41500407,1610612739,CLE,Cleveland,202681,Kyrie Irving,43:00,10.0,23.0,...,1.000,3.0,3.0,6.0,1.0,1.0,1.0,2.0,3.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420935,2016-04-16,41500111,1610612761,TOR,Toronto,202335,Patrick Patterson,27:48,4.0,5.0,...,0.000,3.0,3.0,6.0,1.0,0.0,1.0,1.0,1.0,9.0
420936,2016-04-16,41500111,1610612761,TOR,Toronto,201960,DeMarre Carroll,19:17,2.0,4.0,...,1.000,1.0,1.0,2.0,1.0,0.0,0.0,1.0,1.0,6.0
420937,2016-04-16,41500111,1610612761,TOR,Toronto,202687,Bismack Biyombo,24:29,1.0,2.0,...,0.667,1.0,7.0,8.0,0.0,0.0,2.0,2.0,1.0,6.0
420938,2016-04-16,41500111,1610612761,TOR,Toronto,202709,Cory Joseph,24:11,5.0,6.0,...,0.875,1.0,2.0,3.0,3.0,1.0,0.0,2.0,4.0,18.0
420939,2016-04-16,41500111,1610612761,TOR,Toronto,203082,Terrence Ross,13:59,2.0,8.0,...,0.000,0.0,1.0,1.0,0.0,0.0,0.0,2.0,3.0,5.0

In [53]:
Playoffs_17 = details_dates[(details_dates['GAME_DATE'] >= '2017-04-15') & (details_dates['GAME_DATE'] <= '2017-06-12')]

Playoffs_17

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
388624,2017-06-12,41600405,1610612739,CLE,Cleveland,2544,LeBron James,46:13,19.0,30.0,...,0.25,2.0,11.0,13.0,8.0,2.0,1.0,2.0,3.0,41.0
388625,2017-06-12,41600405,1610612739,CLE,Cleveland,201567,Kevin Love,29:55,2.0,8.0,...,0.40,3.0,7.0,10.0,2.0,0.0,1.0,0.0,2.0,6.0
388626,2017-06-12,41600405,1610612739,CLE,Cleveland,202684,Tristan Thompson,29:52,6.0,8.0,...,0.75,4.0,4.0,8.0,3.0,1.0,1.0,3.0,1.0,15.0
388627,2017-06-12,41600405,1610612739,CLE,Cleveland,2747,JR Smith,40:49,9.0,11.0,...,0.00,0.0,3.0,3.0,1.0,0.0,2.0,0.0,2.0,25.0
388628,2017-06-12,41600405,1610612739,CLE,Cleveland,202681,Kyrie Irving,41:47,9.0,22.0,...,1.00,1.0,1.0,2.0,6.0,2.0,0.0,4.0,3.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390356,2017-04-15,41600121,1610612761,TOR,Toronto,1626181,Norman Powell,5:45,2.0,4.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0
390357,2017-04-15,41600121,1610612761,TOR,Toronto,1627832,Fred VanVleet,1:46,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
390358,2017-04-15,41600121,1610612761,TOR,Toronto,1626153,Delon Wright,1:46,0.0,1.0,...,0.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
390359,2017-04-15,41600121,1610612761,TOR,Toronto,1627751,Jakob Poeltl,1:46,0.0,0.0,...,0.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
390360,2017-04-15,41600121,1610612761,TOR,Toronto,203512,Lucas Nogueira,1:22,0.0,1.0,...,0.50,2.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0

In [54]:
Playoffs_18 = details_dates[(details_dates['GAME_DATE'] >= '2018-04-16') & (details_dates['GAME_DATE'] <= '2018-06-08')]

Playoffs_18

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
358855,2018-06-08,41700404,1610612744,GSW,Golden State,201142,Kevin Durant,37:38,7.0,17.0,...,1.0,1.0,11.0,12.0,10.0,1.0,3.0,2.0,3.0,20.0
358856,2018-06-08,41700404,1610612744,GSW,Golden State,203110,Draymond Green,38:37,4.0,8.0,...,0.0,1.0,2.0,3.0,9.0,1.0,3.0,1.0,5.0,9.0
358857,2018-06-08,41700404,1610612744,GSW,Golden State,201580,JaVale McGee,16:28,3.0,4.0,...,0.0,1.0,2.0,3.0,0.0,0.0,1.0,0.0,1.0,6.0
358858,2018-06-08,41700404,1610612744,GSW,Golden State,202691,Klay Thompson,28:30,4.0,10.0,...,0.0,0.0,6.0,6.0,0.0,0.0,0.0,2.0,3.0,10.0
358859,2018-06-08,41700404,1610612744,GSW,Golden State,201939,Stephen Curry,38:45,12.0,27.0,...,1.0,2.0,4.0,6.0,4.0,3.0,3.0,2.0,4.0,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360408,2018-04-16,41700122,1610612755,PHI,Philadelphia,101161,Amir Johnson,21:40,3.0,5.0,...,0.0,2.0,5.0,7.0,2.0,1.0,0.0,1.0,2.0,6.0
360409,2018-04-16,41700122,1610612755,PHI,Philadelphia,201158,Marco Belinelli,29:43,5.0,13.0,...,0.8,0.0,2.0,2.0,0.0,1.0,0.0,1.0,3.0,16.0
360410,2018-04-16,41700122,1610612755,PHI,Philadelphia,1628365,Markelle Fultz,4:38,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
360411,2018-04-16,41700122,1610612755,PHI,Philadelphia,1626158,Richaun Holmes,3:01,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0
360412,2018-04-16,41700122,1610612755,PHI,Philadelphia,204456,T.J. McConnell,6:23,0.0,1.0,...,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,2.0

In [55]:
Playoffs_19 = details_dates[(details_dates['GAME_DATE'] >= '2019-04-13') & (details_dates['GAME_DATE'] <= '2019-06-13')]

Playoffs_19

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
329157,2019-06-13,41800406,1610612761,TOR,Toronto,202695,Kawhi Leonard,41:05,7.0,16.0,...,0.875,1.0,5.0,6.0,3.0,2.0,1.0,2.0,4.0,22.0
329158,2019-06-13,41800406,1610612761,TOR,Toronto,1627783,Pascal Siakam,46:10,10.0,17.0,...,0.750,2.0,8.0,10.0,3.0,1.0,1.0,2.0,2.0,26.0
329159,2019-06-13,41800406,1610612761,TOR,Toronto,201188,Marc Gasol,26:34,0.0,5.0,...,0.750,3.0,6.0,9.0,4.0,0.0,0.0,1.0,4.0,3.0
329160,2019-06-13,41800406,1610612761,TOR,Toronto,201980,Danny Green,17:44,0.0,0.0,...,0.000,0.0,1.0,1.0,3.0,1.0,0.0,1.0,1.0,0.0
329161,2019-06-13,41800406,1610612761,TOR,Toronto,200768,Kyle Lowry,41:42,9.0,16.0,...,0.667,2.0,5.0,7.0,10.0,3.0,0.0,3.0,5.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330913,2019-04-13,41800121,1610612755,PHI,Philadelphia,204456,T.J. McConnell,15:50,2.0,4.0,...,0.000,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,4.0
330914,2019-04-13,41800121,1610612755,PHI,Philadelphia,203118,Mike Scott,32:28,1.0,8.0,...,0.000,0.0,5.0,5.0,0.0,1.0,0.0,1.0,4.0,3.0
330915,2019-04-13,41800121,1610612755,PHI,Philadelphia,203613,Jonathon Simmons,11:26,2.0,5.0,...,0.000,1.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,4.0
330916,2019-04-13,41800121,1610612755,PHI,Philadelphia,1629015,Zhaire Smith,1:20,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
330917,2019-04-13,41800121,1610612755,PHI,Philadelphia,1628413,Jonah Bolden,5:07,1.0,2.0,...,0.000,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0

In [56]:
Playoffs_20 = details_dates[(details_dates['GAME_DATE'] >= '2020-08-17') & (details_dates['GAME_DATE'] <= '2020-10-11')]

Playoffs_20

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
49948,2020-10-11,41900406,1610612747,LAL,Los Angeles,2544,LeBron James,41:13,13.0,20.0,...,0.250,3.0,11.0,14.0,10.0,1.0,0.0,1.0,3.0,28.0
49949,2020-10-11,41900406,1610612747,LAL,Los Angeles,201980,Danny Green,24:34,4.0,10.0,...,0.000,2.0,3.0,5.0,1.0,0.0,1.0,0.0,2.0,11.0
49950,2020-10-11,41900406,1610612747,LAL,Los Angeles,203076,Anthony Davis,35:06,7.0,17.0,...,0.714,4.0,11.0,15.0,3.0,1.0,2.0,3.0,4.0,19.0
49951,2020-10-11,41900406,1610612747,LAL,Los Angeles,1627936,Alex Caruso,32:42,2.0,7.0,...,0.000,1.0,2.0,3.0,5.0,1.0,1.0,1.0,2.0,4.0
49952,2020-10-11,41900406,1610612747,LAL,Los Angeles,203484,Kentavious Caldwell-Pope,33:26,6.0,13.0,...,1.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51637,2020-08-17,41900151,1610612746,LAC,LA,1626149,Montrezl Harrell,14:59,2.0,5.0,...,0.500,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,6.0
51638,2020-08-17,41900151,1610612746,LAC,LA,202704,Reggie Jackson,16:20,0.0,5.0,...,0.000,0.0,3.0,3.0,1.0,0.0,0.0,0.0,2.0,0.0
51639,2020-08-17,41900151,1610612746,LAC,LA,203210,JaMychal Green,18:03,2.0,3.0,...,0.000,1.0,1.0,2.0,0.0,0.0,1.0,0.0,3.0,5.0
51640,2020-08-17,41900151,1610612746,LAC,LA,1629013,Landry Shamet,8:21,0.0,1.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
51641,2020-08-17,41900151,1610612746,LAC,LA,1629611,Terance Mann,0:17,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [57]:
Playoffs_21 = details_dates[(details_dates['GAME_DATE'] >= '2021-05-22') & (details_dates['GAME_DATE'] <= '2021-07-20')]

Playoffs_21

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
23291,2021-07-20,42000406,1610612756,PHX,Phoenix,1628969,Mikal Bridges,39:28,3.0,7.0,...,0.50,1.0,5.0,6.0,2.0,2.0,0.0,0.0,4.0,7.0
23292,2021-07-20,42000406,1610612756,PHX,Phoenix,203109,Jae Crowder,40:33,4.0,11.0,...,1.00,2.0,11.0,13.0,0.0,4.0,1.0,2.0,3.0,15.0
23293,2021-07-20,42000406,1610612756,PHX,Phoenix,1629028,Deandre Ayton,36:12,4.0,12.0,...,0.80,1.0,5.0,6.0,1.0,2.0,2.0,2.0,5.0,12.0
23294,2021-07-20,42000406,1610612756,PHX,Phoenix,1626164,Devin Booker,46:15,8.0,22.0,...,1.00,0.0,3.0,3.0,5.0,0.0,0.0,6.0,4.0,19.0
23295,2021-07-20,42000406,1610612756,PHX,Phoenix,101108,Chris Paul,39:13,11.0,19.0,...,0.75,1.0,1.0,2.0,5.0,1.0,0.0,3.0,5.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25150,2021-05-22,42000161,1610612743,DEN,Denver,1630267,Facundo Campazzo,31:32,3.0,4.0,...,0.00,2.0,1.0,3.0,5.0,2.0,1.0,1.0,3.0,8.0
25151,2021-05-22,42000161,1610612743,DEN,Denver,1628420,Monte Morris,21:59,5.0,10.0,...,0.00,0.0,2.0,2.0,5.0,0.0,0.0,1.0,4.0,10.0
25152,2021-05-22,42000161,1610612743,DEN,Denver,203210,JaMychal Green,17:37,0.0,1.0,...,0.00,0.0,1.0,1.0,3.0,0.0,1.0,0.0,2.0,0.0
25153,2021-05-22,42000161,1610612743,DEN,Denver,1630210,Markus Howard,19:58,3.0,5.0,...,0.00,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,7.0
25154,2021-05-22,42000161,1610612743,DEN,Denver,200794,Paul Millsap,14:43,1.0,3.0,...,0.00,0.0,3.0,3.0,4.0,1.0,0.0,2.0,2.0,3.0

# Playoff Stats

In [63]:
frames = [Playoffs_04, Playoffs_05, Playoffs_06, Playoffs_07, Playoffs_08, Playoffs_09, Playoffs_10, Playoffs_11, 
          Playoffs_12, Playoffs_13, Playoffs_14, Playoffs_15, Playoffs_16, Playoffs_17, Playoffs_18, Playoffs_19, 
          Playoffs_20, Playoffs_21]

In [64]:
Playoff_stats_df = pd.concat(frames)
Playoff_stats_df

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
213209,2004-06-15,40300405,1610612747,LAL,Los Angeles,1904,Devean George,20:22,2.0,6.0,...,0.000,2.0,1.0,3.0,2.0,0.0,1.0,0.0,4.0,4.0
213210,2004-06-15,40300405,1610612747,LAL,Los Angeles,2098,Slava Medvedenko,23:25,4.0,8.0,...,1.000,2.0,3.0,5.0,1.0,0.0,0.0,1.0,1.0,10.0
213211,2004-06-15,40300405,1610612747,LAL,Los Angeles,406,Shaquille O'Neal,35:33,7.0,13.0,...,0.375,2.0,6.0,8.0,1.0,1.0,0.0,1.0,4.0,20.0
213212,2004-06-15,40300405,1610612747,LAL,Los Angeles,977,Kobe Bryant,45:34,7.0,21.0,...,0.909,1.0,2.0,3.0,4.0,1.0,0.0,3.0,2.0,24.0
213213,2004-06-15,40300405,1610612747,LAL,Los Angeles,56,Gary Payton,30:47,1.0,3.0,...,0.000,2.0,2.0,4.0,4.0,2.0,1.0,1.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25150,2021-05-22,42000161,1610612743,DEN,Denver,1630267,Facundo Campazzo,31:32,3.0,4.0,...,0.000,2.0,1.0,3.0,5.0,2.0,1.0,1.0,3.0,8.0
25151,2021-05-22,42000161,1610612743,DEN,Denver,1628420,Monte Morris,21:59,5.0,10.0,...,0.000,0.0,2.0,2.0,5.0,0.0,0.0,1.0,4.0,10.0
25152,2021-05-22,42000161,1610612743,DEN,Denver,203210,JaMychal Green,17:37,0.0,1.0,...,0.000,0.0,1.0,1.0,3.0,0.0,1.0,0.0,2.0,0.0
25153,2021-05-22,42000161,1610612743,DEN,Denver,1630210,Markus Howard,19:58,3.0,5.0,...,0.000,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,7.0
25154,2021-05-22,42000161,1610612743,DEN,Denver,200794,Paul Millsap,14:43,1.0,3.0,...,0.000,0.0,3.0,3.0,4.0,1.0,0.0,2.0,2.0,3.0

In [87]:
Playoff_stats_df.to_csv('../Resources/Playoffs_player_data.csv')

# Regular Season Stats

In [65]:
Reg_season_df = details_dates.drop(Playoff_stats_df.index)

Reg_season_df

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
0,2022-03-12,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,36:22,4.0,10.0,...,1.000,0.0,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0
1,2022-03-12,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,23:54,6.0,8.0,...,1.000,2.0,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0
2,2022-03-12,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,25:17,4.0,9.0,...,0.750,1.0,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0
3,2022-03-12,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,30:52,4.0,9.0,...,0.000,0.0,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0
4,2022-03-12,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,33:46,3.0,13.0,...,1.000,0.0,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540345,2012-10-06,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
540346,2012-10-06,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
540347,2012-10-06,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
540348,2012-10-06,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
540349,2012-10-06,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

In [66]:
print(Reg_season_df.GAME_DATE.min())

2003-10-05 00:00:00

In [88]:
Reg_season_df.to_csv('../Resources/Reg_season_player_data.csv')

# Filter by Season - Reg Season

In [68]:
Season_04 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2003-09-01') & (Reg_season_df['GAME_DATE'] <= '2004-08-01')]

Season_04

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
214863,2004-04-14,20301183,1610612750,MIN,Minnesota,84,Latrell Sprewell,29:14,8.0,13.0,...,1.0,0.0,2.0,2.0,2.0,2.0,0.0,2.0,0.0,20.0
214864,2004-04-14,20301183,1610612750,MIN,Minnesota,708,Kevin Garnett,31:05,9.0,13.0,...,1.0,2.0,7.0,9.0,2.0,1.0,2.0,0.0,1.0,26.0
214865,2004-04-14,20301183,1610612750,MIN,Minnesota,911,Ervin Johnson,7:02,0.0,1.0,...,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0
214866,2004-04-14,20301183,1610612750,MIN,Minnesota,208,Sam Cassell,24:06,7.0,9.0,...,1.0,0.0,2.0,2.0,8.0,1.0,0.0,1.0,2.0,17.0
214867,2004-04-14,20301183,1610612750,MIN,Minnesota,2239,Trenton Hassell,17:52,2.0,3.0,...,0.5,1.0,2.0,3.0,3.0,1.0,1.0,1.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239104,2003-10-05,10300001,1610612742,DAL,Dallas,1711,Raef LaFrentz,5,4.0,6.0,...,0.0,1.0,4.0,5.0,0.0,1.0,1.0,1.0,2.0,10.0
239105,2003-10-05,10300001,1610612742,DAL,Dallas,762,Shawn Bradley,5,3.0,7.0,...,0.5,2.0,2.0,4.0,1.0,1.0,1.0,0.0,1.0,7.0
239106,2003-10-05,10300001,1610612742,DAL,Dallas,959,Steve Nash,5,0.0,2.0,...,0.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,3.0,0.0
239107,2003-10-05,10300001,1610612742,DAL,Dallas,1505,Tariq Abdul-Wahad,5,1.0,5.0,...,0.0,1.0,4.0,5.0,3.0,0.0,0.0,0.0,2.0,2.0
239108,2003-10-05,10300001,1610612742,DAL,Dallas,696,Travis Best,5,4.0,7.0,...,0.5,0.0,1.0,1.0,5.0,0.0,0.0,3.0,6.0,10.0

In [69]:
Season_05 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2004-09-01') & (Reg_season_df['GAME_DATE'] <= '2005-08-01')]

Season_05

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
187125,2005-04-20,20401230,1610612756,PHX,Phoenix,2047,Quentin Richardson,37:15,6.0,18.0,...,0.000,0.0,5.0,5.0,1.0,1.0,0.0,1.0,3.0,17.0
187126,2005-04-20,20401230,1610612756,PHX,Phoenix,1890,Shawn Marion,17:13,0.0,5.0,...,0.000,0.0,4.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0
187127,2005-04-20,20401230,1610612756,PHX,Phoenix,2405,Amar'e Stoudemire,30:58,10.0,17.0,...,0.727,5.0,6.0,11.0,2.0,0.0,3.0,2.0,2.0,30.0
187128,2005-04-20,20401230,1610612756,PHX,Phoenix,2207,Joe Johnson,33:35,9.0,15.0,...,0.000,0.0,3.0,3.0,6.0,2.0,0.0,3.0,3.0,19.0
187129,2005-04-20,20401230,1610612756,PHX,Phoenix,2571,Leandro Barbosa,41:32,7.0,13.0,...,1.000,1.0,3.0,4.0,4.0,2.0,0.0,4.0,3.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213204,2004-10-22,10400069,1610612746,LAC,Los Angeles,1594,Rick Brunson,5,1.0,2.0,...,1.000,0.0,0.0,0.0,5.0,0.0,0.0,1.0,2.0,4.0
213205,2004-10-22,10400069,1610612746,LAC,Los Angeles,2733,Shaun Livingston,5,2.0,7.0,...,0.000,1.0,0.0,1.0,3.0,0.0,1.0,2.0,3.0,4.0
213206,2004-10-22,10400069,1610612746,LAC,Los Angeles,2242,Terence Morris,5,0.0,2.0,...,0.000,2.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,0.0
213207,2004-10-22,10400069,1610612746,LAC,Los Angeles,1892,Trajan Langdon,5,1.0,1.0,...,0.000,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0
213208,2004-10-22,10400069,1610612746,LAC,Los Angeles,1442,Zeljko Rebraca,5,2.0,4.0,...,0.000,0.0,1.0,1.0,1.0,0.0,2.0,1.0,3.0,4.0

In [70]:
Season_06 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2005-09-01') & (Reg_season_df['GAME_DATE'] <= '2006-08-01')]

Season_06

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
157687,2006-04-19,20501223,1610612759,SAS,San Antonio,1477,Bruce Bowen,10:14,0.0,1.0,...,0.000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
157688,2006-04-19,20501223,1610612759,SAS,San Antonio,109,Robert Horry,21:58,0.0,5.0,...,1.000,1.0,5.0,6.0,3.0,3.0,2.0,2.0,1.0,2.0
157689,2006-04-19,20501223,1610612759,SAS,San Antonio,1737,Nazr Mohammed,21:27,2.0,8.0,...,0.750,5.0,1.0,6.0,1.0,1.0,1.0,1.0,4.0,7.0
157690,2006-04-19,20501223,1610612759,SAS,San Antonio,2757,Beno Udrih,27:37,2.0,7.0,...,0.833,0.0,1.0,1.0,2.0,1.0,0.0,2.0,1.0,9.0
157691,2006-04-19,20501223,1610612759,SAS,San Antonio,1938,Manu Ginobili,25:42,5.0,10.0,...,0.000,1.0,3.0,4.0,6.0,2.0,1.0,3.0,0.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185473,2005-10-10,10500120,1610612759,SAS,San Antonio,1752,Sean Marks,12,4.0,5.0,...,1.000,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,9.0
185474,2005-10-10,10500120,1610612759,SAS,San Antonio,101213,Sharrod Ford,15,4.0,5.0,...,0.000,1.0,2.0,3.0,1.0,1.0,2.0,0.0,0.0,8.0
185475,2005-10-10,10500120,1610612759,SAS,San Antonio,101211,Stephen Graham,11,2.0,3.0,...,0.000,0.0,2.0,2.0,0.0,0.0,0.0,3.0,3.0,4.0
185476,2005-10-10,10500120,1610612759,SAS,San Antonio,1495,Tim Duncan,24,6.0,9.0,...,1.000,1.0,9.0,10.0,3.0,0.0,3.0,4.0,3.0,16.0
185477,2005-10-10,10500120,1610612759,SAS,San Antonio,2225,Tony Parker,22,3.0,8.0,...,0.000,1.0,3.0,4.0,3.0,1.0,0.0,2.0,0.0,6.0

In [71]:
Season_07 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2006-09-01') & (Reg_season_df['GAME_DATE'] <= '2007-08-01')]

Season_07

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
128123,2007-04-18,20601223,1610612764,WAS,Washington,2553,Jarvis Hayes,32:24,3.0,10.0,...,1.000,0.0,3.0,3.0,0.0,2.0,0.0,1.0,1.0,9.0
128124,2007-04-18,20601223,1610612764,WAS,Washington,1712,Antawn Jamison,39:24,5.0,14.0,...,0.750,0.0,11.0,11.0,1.0,1.0,0.0,1.0,3.0,19.0
128125,2007-04-18,20601223,1610612764,WAS,Washington,2041,Etan Thomas,21:10,4.0,6.0,...,0.500,2.0,6.0,8.0,0.0,1.0,4.0,2.0,2.0,10.0
128126,2007-04-18,20601223,1610612764,WAS,Washington,2052,DeShawn Stevenson,32:51,5.0,11.0,...,0.500,0.0,1.0,1.0,3.0,0.0,0.0,2.0,3.0,15.0
128127,2007-04-18,20601223,1610612764,WAS,Washington,1498,Antonio Daniels,37:52,4.0,6.0,...,0.625,0.0,5.0,5.0,9.0,0.0,0.0,1.0,0.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155962,2006-10-09,10600007,1610612761,TOR,Toronto,101181,Jose Calderon,25,2.0,5.0,...,1.000,0.0,2.0,2.0,5.0,2.0,0.0,1.0,1.0,8.0
155963,2006-10-09,10600007,1610612761,TOR,Toronto,2743,Kris Humphries,14,3.0,3.0,...,0.750,1.0,0.0,1.0,0.0,1.0,0.0,2.0,2.0,9.0
155964,2006-10-09,10600007,1610612761,TOR,Toronto,2050,Morris Peterson,19,1.0,4.0,...,1.000,0.0,4.0,4.0,1.0,1.0,0.0,4.0,1.0,6.0
155965,2006-10-09,10600007,1610612761,TOR,Toronto,1725,Rasho Nesterovic,14,0.0,5.0,...,0.000,2.0,1.0,3.0,0.0,0.0,0.0,1.0,3.0,0.0
155966,2006-10-09,10600007,1610612761,TOR,Toronto,2551,T.J. Ford,23,2.0,9.0,...,0.750,1.0,1.0,2.0,5.0,0.0,0.0,2.0,2.0,8.0

In [72]:
Season_08 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2007-09-01') & (Reg_season_df['GAME_DATE'] <= '2008-08-01')]

Season_08

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
99329,2008-04-16,20701226,1610612746,LAC,Los Angeles,201154,Al Thornton,28:36,1.0,8.0,...,0.0,0.0,5.0,5.0,2.0,0.0,1.0,2.0,3.0,2.0
99330,2008-04-16,20701226,1610612746,LAC,Los Angeles,2694,Josh Powell,19:56,5.0,9.0,...,0.0,7.0,3.0,10.0,1.0,0.0,0.0,0.0,0.0,10.0
99331,2008-04-16,20701226,1610612746,LAC,Los Angeles,1882,Elton Brand,40:47,5.0,14.0,...,1.0,3.0,9.0,12.0,1.0,0.0,3.0,2.0,3.0,18.0
99332,2008-04-16,20701226,1610612746,LAC,Los Angeles,1749,Cuttino Mobley,37:06,3.0,8.0,...,0.0,0.0,4.0,4.0,1.0,0.0,0.0,1.0,1.0,6.0
99333,2008-04-16,20701226,1610612746,LAC,Los Angeles,2470,Smush Parker,29:04,4.0,8.0,...,0.0,0.0,2.0,2.0,2.0,1.0,0.0,4.0,2.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126556,2007-10-06,10700001,1610612761,TOR,Toronto,2743,Kris Humphries,7,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0
126557,2007-10-06,10700001,1610612761,TOR,Toronto,2739,Luke Jackson,9,0.0,4.0,...,0.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0,1.0,0.0
126558,2007-10-06,10700001,1610612761,TOR,Toronto,1766,Maceo Baston,8,0.0,3.0,...,0.0,1.0,3.0,4.0,0.0,0.0,0.0,3.0,1.0,0.0
126559,2007-10-06,10700001,1610612761,TOR,Toronto,1725,Rasho Nesterovic,19,2.0,4.0,...,0.0,1.0,1.0,2.0,1.0,0.0,1.0,0.0,2.0,4.0
126560,2007-10-06,10700001,1610612761,TOR,Toronto,2551,T.J. Ford,25,4.0,10.0,...,1.0,0.0,1.0,1.0,5.0,0.0,0.0,0.0,2.0,15.0

In [73]:
Season_09 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2008-09-01') & (Reg_season_df['GAME_DATE'] <= '2009-08-01')]

Season_09

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
70283,2009-04-15,20801225,1610612751,NJN,New Jersey,201583,Ryan Anderson,32:14,4.0,11.0,...,0.75,3.0,8.0,11.0,0.0,3.0,0.0,2.0,3.0,13.0
70284,2009-04-15,20801225,1610612751,NJN,New Jersey,2239,Trenton Hassell,16:18,2.0,6.0,...,0.00,1.0,1.0,2.0,1.0,0.0,0.0,0.0,1.0,4.0
70285,2009-04-15,20801225,1610612751,NJN,New Jersey,201572,Brook Lopez,29:42,2.0,9.0,...,1.00,3.0,4.0,7.0,1.0,0.0,3.0,2.0,1.0,6.0
70286,2009-04-15,20801225,1610612751,NJN,New Jersey,2039,Keyon Dooling,25:37,2.0,8.0,...,1.00,2.0,5.0,7.0,5.0,0.0,0.0,1.0,1.0,6.0
70287,2009-04-15,20801225,1610612751,NJN,New Jersey,201604,Chris Douglas-Roberts,44:22,6.0,16.0,...,1.00,1.0,1.0,2.0,2.0,2.0,0.0,5.0,2.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97559,2008-10-05,10800001,1610612765,DET,Detroit,201155,Rodney Stuckey,30,8.0,15.0,...,1.00,1.0,3.0,4.0,5.0,1.0,0.0,4.0,6.0,23.0
97560,2008-10-05,10800001,1610612765,DET,Detroit,2419,Tayshaun Prince,21,3.0,7.0,...,0.00,1.0,7.0,8.0,1.0,0.0,0.0,0.0,2.0,6.0
97561,2008-10-05,10800001,1610612765,DET,Detroit,200835,Walter Herrmann,25,3.0,5.0,...,0.75,2.0,3.0,5.0,0.0,1.0,0.0,3.0,2.0,11.0
97562,2008-10-05,10800001,1610612765,DET,Detroit,201594,Walter Sharpe,7,0.0,3.0,...,0.00,0.0,0.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0
97563,2008-10-05,10800001,1610612765,DET,Detroit,101198,Will Bynum,8,1.0,4.0,...,1.00,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,4.0

In [74]:
Season_10 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2009-09-01') & (Reg_season_df['GAME_DATE'] <= '2010-08-01')]

Season_10

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
293479,2010-04-14,20901226,1610612752,NYK,New York,201568,Danilo Gallinari,37:28,6.0,18.0,...,0.625,1.0,3.0,4.0,2.0,1.0,0.0,3.0,3.0,22.0
293480,2010-04-14,20901226,1610612752,NYK,New York,101135,David Lee,32:54,8.0,17.0,...,1.000,6.0,5.0,11.0,5.0,1.0,1.0,5.0,4.0,19.0
293481,2010-04-14,20901226,1610612752,NYK,New York,2853,Earl Barron,39:52,4.0,10.0,...,0.750,4.0,3.0,7.0,1.0,1.0,0.0,1.0,3.0,11.0
293482,2010-04-14,20901226,1610612752,NYK,New York,201611,Henry Walker,35:11,8.0,17.0,...,0.857,2.0,5.0,7.0,1.0,0.0,0.0,0.0,3.0,28.0
293483,2010-04-14,20901226,1610612752,NYK,New York,2768,Chris Duhon,24:00,4.0,7.0,...,0.000,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320981,2009-10-01,10900001,1610612743,DEN,Denver,101130,Johan Petro,27,5.0,10.0,...,0.500,3.0,6.0,9.0,1.0,0.0,3.0,5.0,5.0,11.0
320982,2009-10-01,10900001,1610612743,DEN,Denver,2124,Malik Allen,23,5.0,6.0,...,0.000,0.0,2.0,2.0,1.0,1.0,2.0,0.0,4.0,11.0
320983,2009-10-01,10900001,1610612743,DEN,Denver,2403,Nene,17,1.0,3.0,...,1.000,1.0,2.0,3.0,2.0,2.0,0.0,4.0,5.0,4.0
320984,2009-10-01,10900001,1610612743,DEN,Denver,200764,Renaldo Balkman,23,3.0,4.0,...,0.571,3.0,8.0,11.0,4.0,0.0,1.0,1.0,5.0,10.0
320985,2009-10-01,10900001,1610612743,DEN,Denver,201951,Ty Lawson,11,1.0,4.0,...,1.000,0.0,0.0,0.0,1.0,0.0,0.0,1.0,2.0,4.0

In [75]:
Season_11 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2010-09-01') & (Reg_season_df['GAME_DATE'] <= '2011-08-01')]

Season_11

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
263980,2011-04-13,21001227,1610612757,POR,Portland,201164,Rudy Fernandez,34:52,2.0,8.0,...,0.00,0.0,2.0,2.0,5.0,1.0,0.0,1.0,1.0,5.0
263981,2011-04-13,21001227,1610612757,POR,Portland,202419,Chris Johnson,40:19,1.0,8.0,...,0.75,8.0,5.0,13.0,1.0,1.0,1.0,2.0,4.0,8.0
263982,2011-04-13,21001227,1610612757,POR,Portland,2853,Earl Barron,36:39,2.0,10.0,...,0.50,4.0,9.0,13.0,3.0,0.0,0.0,3.0,4.0,5.0
263983,2011-04-13,21001227,1610612757,POR,Portland,202083,Wesley Matthews,24:00,5.0,9.0,...,1.00,0.0,1.0,1.0,1.0,0.0,0.0,4.0,0.0,18.0
263984,2011-04-13,21001227,1610612757,POR,Portland,1889,Andre Miller,7:05,2.0,3.0,...,0.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291800,2010-10-04,11000003,1610612747,LAL,Los Angeles,2756,Sasha Vujacic,17,2.0,7.0,...,1.00,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,7.0
291801,2010-10-04,11000003,1610612747,LAL,Los Angeles,200769,Shannon Brown,25,6.0,10.0,...,0.00,2.0,2.0,4.0,2.0,1.0,0.0,0.0,1.0,13.0
291802,2010-10-04,11000003,1610612747,LAL,Los Angeles,2581,Steve Blake,20,2.0,5.0,...,0.00,0.0,1.0,1.0,4.0,0.0,1.0,2.0,4.0,5.0
291803,2010-10-04,11000003,1610612747,LAL,Los Angeles,689,Theo Ratliff,15,1.0,2.0,...,1.00,3.0,1.0,4.0,0.0,0.0,1.0,1.0,2.0,4.0
291804,2010-10-04,11000003,1610612747,LAL,Los Angeles,201234,Trey Johnson,13,4.0,7.0,...,0.00,0.0,1.0,1.0,2.0,1.0,0.0,1.0,4.0,8.0

In [76]:
Season_12 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2011-09-01') & (Reg_season_df['GAME_DATE'] <= '2012-08-01')]

Season_12

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
240853,2012-04-26,21100986,1610612740,NOH,New Orleans,202498,Lance Thomas,45:45,2.0,6.0,...,0.875,2.0,6.0,8.0,0.0,1.0,2.0,2.0,3.0,11.0
240854,2012-04-26,21100986,1610612740,NOH,New Orleans,202329,Al-Farouq Aminu,43:32,4.0,13.0,...,0.333,0.0,10.0,10.0,3.0,0.0,0.0,0.0,3.0,11.0
240855,2012-04-26,21100986,1610612740,NOH,New Orleans,201160,Jason Smith,4:54,1.0,2.0,...,0.000,0.0,4.0,4.0,2.0,0.0,0.0,0.0,0.0,2.0
240856,2012-04-26,21100986,1610612740,NOH,New Orleans,201158,Marco Belinelli,16:09,4.0,8.0,...,0.000,0.0,4.0,4.0,2.0,1.0,1.0,0.0,0.0,9.0
240857,2012-04-26,21100986,1610612740,NOH,New Orleans,202406,Jerome Dyson,41:12,6.0,14.0,...,0.500,1.0,1.0,2.0,1.0,3.0,1.0,4.0,3.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262359,2011-12-16,11100001,1610612741,CHI,Chicago,2594,Kyle Korver,26,2.0,3.0,...,0.000,0.0,6.0,6.0,2.0,0.0,0.0,4.0,2.0,4.0
262360,2011-12-16,11100001,1610612741,CHI,Chicago,2736,Luol Deng,32,5.0,11.0,...,1.000,2.0,4.0,6.0,1.0,1.0,0.0,5.0,1.0,16.0
262361,2011-12-16,11100001,1610612741,CHI,Chicago,201600,Omer Asik,18,1.0,1.0,...,0.000,0.0,2.0,2.0,1.0,0.0,0.0,1.0,5.0,2.0
262362,2011-12-16,11100001,1610612741,CHI,Chicago,200758,Ronnie Brewer,22,2.0,4.0,...,0.500,0.0,3.0,3.0,2.0,2.0,0.0,0.0,1.0,5.0
262363,2011-12-16,11100001,1610612741,CHI,Chicago,201959,Taj Gibson,26,4.0,9.0,...,1.000,0.0,9.0,9.0,1.0,0.0,2.0,2.0,3.0,12.0

In [77]:
Season_13 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2012-09-01') & (Reg_season_df['GAME_DATE'] <= '2013-08-01')]

Season_13

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
511937,2013-04-17,21201223,1610612762,UTA,Utah,202330,Gordon Hayward,30:44,4.0,8.0,...,0.000,3.0,0.0,3.0,2.0,1.0,0.0,3.0,1.0,9.0
511938,2013-04-17,21201223,1610612762,UTA,Utah,200794,Paul Millsap,27:34,2.0,7.0,...,0.500,5.0,3.0,8.0,0.0,1.0,2.0,0.0,4.0,6.0
511939,2013-04-17,21201223,1610612762,UTA,Utah,2744,Al Jefferson,40:21,8.0,19.0,...,1.000,2.0,14.0,16.0,2.0,0.0,1.0,1.0,5.0,22.0
511940,2013-04-17,21201223,1610612762,UTA,Utah,200751,Randy Foye,35:14,1.0,9.0,...,0.667,1.0,2.0,3.0,2.0,0.0,1.0,0.0,2.0,7.0
511941,2013-04-17,21201223,1610612762,UTA,Utah,2590,Mo Williams,33:04,3.0,13.0,...,0.400,0.0,1.0,1.0,3.0,1.0,0.0,3.0,1.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540345,2012-10-06,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,19,4.0,9.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
540346,2012-10-06,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,23,7.0,11.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
540347,2012-10-06,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,15,3.0,7.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
540348,2012-10-06,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,19,1.0,1.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
540349,2012-10-06,11200005,1610612743,DEN,Denver,201951,Ty Lawson,27,3.0,6.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

In [78]:
Season_14 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2013-09-01') & (Reg_season_df['GAME_DATE'] <= '2014-08-01')]

Season_14

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
481833,2014-04-16,21301221,1610612747,LAL,Los Angeles,202325,Wesley Johnson,34:38,5.0,17.0,...,0.000,1.0,10.0,11.0,2.0,0.0,0.0,0.0,1.0,11.0
481834,2014-04-16,21301221,1610612747,LAL,Los Angeles,203527,Ryan Kelly,36:36,6.0,11.0,...,0.000,1.0,7.0,8.0,2.0,0.0,0.0,1.0,3.0,12.0
481835,2014-04-16,21301221,1610612747,LAL,Los Angeles,201941,Jordan Hill,27:51,7.0,13.0,...,0.667,3.0,11.0,14.0,2.0,1.0,2.0,0.0,1.0,18.0
481836,2014-04-16,21301221,1610612747,LAL,Los Angeles,201975,Jodie Meeks,30:25,5.0,6.0,...,1.000,0.0,3.0,3.0,3.0,2.0,0.0,1.0,1.0,14.0
481837,2014-04-16,21301221,1610612747,LAL,Los Angeles,203088,Kendall Marshall,27:32,5.0,7.0,...,0.500,0.0,2.0,2.0,11.0,0.0,0.0,4.0,2.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510151,2013-10-05,11300002,1610612741,CHI,Chicago,203104,Marquis Teague,6,1.0,1.0,...,0.000,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,3.0
510152,2013-10-05,11300002,1610612741,CHI,Chicago,2399,Mike Dunleavy,22,1.0,4.0,...,1.000,0.0,2.0,2.0,3.0,0.0,0.0,3.0,2.0,4.0
510153,2013-10-05,11300002,1610612741,CHI,Chicago,1737,Nazr Mohammed,21,2.0,5.0,...,1.000,3.0,3.0,6.0,1.0,0.0,3.0,2.0,4.0,5.0
510154,2013-10-05,11300002,1610612741,CHI,Chicago,201959,Taj Gibson,31,9.0,12.0,...,0.000,4.0,8.0,12.0,1.0,0.0,3.0,2.0,2.0,18.0
510155,2013-10-05,11300002,1610612741,CHI,Chicago,203503,Tony Snell,17,0.0,5.0,...,1.000,0.0,1.0,1.0,2.0,0.0,0.0,1.0,2.0,2.0

In [79]:
Season_15 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2014-09-01') & (Reg_season_df['GAME_DATE'] <= '2015-08-01')]

Season_15

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
451272,2015-04-15,21401224,1610612753,ORL,Orlando,203932,Aaron Gordon,34:13,3.0,11.0,...,0.0,3.0,4.0,7.0,0.0,0.0,0.0,0.0,2.0,7.0
451273,2015-04-15,21401224,1610612753,ORL,Orlando,203094,Andrew Nicholson,28:24,8.0,10.0,...,0.0,3.0,6.0,9.0,1.0,0.0,1.0,1.0,5.0,18.0
451274,2015-04-15,21401224,1610612753,ORL,Orlando,202696,Nikola Vucevic,39:42,12.0,21.0,...,0.5,1.0,10.0,11.0,5.0,1.0,1.0,2.0,4.0,26.0
451275,2015-04-15,21401224,1610612753,ORL,Orlando,203506,Victor Oladipo,44:12,7.0,17.0,...,0.4,0.0,2.0,2.0,3.0,0.0,1.0,4.0,0.0,19.0
451276,2015-04-15,21401224,1610612753,ORL,Orlando,203901,Elfrid Payton,34:30,1.0,5.0,...,0.0,0.0,3.0,3.0,6.0,4.0,1.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479922,2014-10-04,11400001,1610612748,MIA,Miami,203920,Khem Birch,16:47,2.0,3.0,...,0.0,3.0,1.0,4.0,1.0,1.0,1.0,2.0,2.0,4.0
479923,2014-10-04,11400001,1610612748,MIA,Miami,204053,Shawn Jones,15:19,1.0,3.0,...,0.0,2.0,4.0,6.0,0.0,0.0,0.0,2.0,2.0,2.0
479924,2014-10-04,11400001,1610612748,MIA,Miami,203894,Shabazz Napier,7:30,2.0,3.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,5.0
479925,2014-10-04,11400001,1610612748,MIA,Miami,200769,Shannon Brown,5:53,0.0,1.0,...,0.5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
479926,2014-10-04,11400001,1610612748,MIA,Miami,202419,Chris Johnson,5:53,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0

In [80]:
Season_16 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2015-09-01') & (Reg_season_df['GAME_DATE'] <= '2016-08-01')]

Season_16

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
420940,2016-04-13,21501224,1610612758,SAC,Sacramento,202341,James Anderson,37:12,5.0,12.0,...,0.333,1.0,3.0,4.0,5.0,3.0,0.0,6.0,3.0,13.0
420941,2016-04-13,21501224,1610612758,SAC,Sacramento,201585,Kosta Koufos,33:25,6.0,13.0,...,0.000,4.0,7.0,11.0,1.0,1.0,2.0,0.0,3.0,12.0
420942,2016-04-13,21501224,1610612758,SAC,Sacramento,1626161,Willie Cauley-Stein,31:20,3.0,10.0,...,0.000,3.0,5.0,8.0,3.0,2.0,1.0,2.0,5.0,6.0
420943,2016-04-13,21501224,1610612758,SAC,Sacramento,203463,Ben McLemore,39:52,10.0,20.0,...,0.000,2.0,3.0,5.0,3.0,2.0,0.0,3.0,2.0,24.0
420944,2016-04-13,21501224,1610612758,SAC,Sacramento,203552,Seth Curry,40:13,3.0,18.0,...,1.000,1.0,5.0,6.0,5.0,0.0,0.0,5.0,1.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449614,2015-10-02,11500001,1610612746,LAC,LA,203085,Austin Rivers,21:22,2.0,6.0,...,0.714,0.0,0.0,0.0,0.0,4.0,0.0,0.0,2.0,10.0
449615,2015-10-02,11500001,1610612746,LAC,LA,2746,Josh Smith,24:13,5.0,13.0,...,0.600,2.0,6.0,8.0,2.0,0.0,0.0,2.0,3.0,13.0
449616,2015-10-02,11500001,1610612746,LAC,LA,203143,Pablo Prigioni,12:47,2.0,6.0,...,0.000,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,5.0
449617,2015-10-02,11500001,1610612746,LAC,LA,201601,Luc Mbah a Moute,4:35,0.0,1.0,...,1.000,2.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,4.0
449618,2015-10-02,11500001,1610612746,LAC,LA,203912,C.J. Wilcox,7:26,1.0,2.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0

In [81]:
Season_17 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2016-09-01') & (Reg_season_df['GAME_DATE'] <= '2017-08-01')]

Season_17

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
390361,2017-04-12,21601224,1610612750,MIN,Minnesota,203952,Andrew Wiggins,30:19,7.0,17.0,...,0.714,0.0,2.0,2.0,3.0,1.0,0.0,4.0,2.0,21.0
390362,2017-04-12,21601224,1610612750,MIN,Minnesota,203476,Gorgui Dieng,27:21,3.0,8.0,...,0.000,3.0,5.0,8.0,2.0,0.0,0.0,3.0,2.0,6.0
390363,2017-04-12,21601224,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,36:09,12.0,17.0,...,1.000,1.0,20.0,21.0,3.0,1.0,0.0,0.0,2.0,28.0
390364,2017-04-12,21601224,1610612750,MIN,Minnesota,201575,Brandon Rush,24:19,3.0,3.0,...,0.000,1.0,1.0,2.0,2.0,0.0,0.0,2.0,0.0,8.0
390365,2017-04-12,21601224,1610612750,MIN,Minnesota,1627739,Kris Dunn,32:16,5.0,13.0,...,0.000,0.0,2.0,2.0,16.0,1.0,2.0,3.0,4.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419035,2016-10-01,11600002,1610612740,NOP,New Orleans,203093,Terrence Jones,29:47,5.0,8.0,...,0.833,1.0,4.0,5.0,3.0,0.0,2.0,2.0,1.0,17.0
419036,2016-10-01,11600002,1610612740,NOP,New Orleans,1627767,Cheick Diallo,12:00,1.0,2.0,...,0.000,0.0,1.0,1.0,0.0,0.0,2.0,1.0,2.0,2.0
419037,2016-10-01,11600002,1610612740,NOP,New Orleans,203142,Chris Copeland,2:30,0.0,1.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
419038,2016-10-01,11600002,1610612740,NOP,New Orleans,1627873,Shawn Dawson,2:30,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
419039,2016-10-01,11600002,1610612740,NOP,New Orleans,1626188,Quinn Cook,2:30,1.0,1.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [82]:
Season_18 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2017-09-01') & (Reg_season_df['GAME_DATE'] <= '2018-08-01')]

Season_18

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
360413,2018-04-15,41700131,1610612754,IND,Indiana,202711,Bojan Bogdanovic,38:46,5.0,17.0,...,1.00,0.0,6.0,6.0,1.0,3.0,0.0,1.0,3.0,15.0
360414,2018-04-15,41700131,1610612754,IND,Indiana,201152,Thaddeus Young,31:19,3.0,4.0,...,0.50,2.0,1.0,3.0,1.0,0.0,1.0,0.0,0.0,7.0
360415,2018-04-15,41700131,1610612754,IND,Indiana,1626167,Myles Turner,33:32,6.0,9.0,...,0.75,1.0,7.0,8.0,2.0,0.0,1.0,1.0,3.0,16.0
360416,2018-04-15,41700131,1610612754,IND,Indiana,203506,Victor Oladipo,36:52,11.0,19.0,...,0.50,0.0,6.0,6.0,4.0,4.0,1.0,4.0,3.0,32.0
360417,2018-04-15,41700131,1610612754,IND,Indiana,201954,Darren Collison,30:44,2.0,9.0,...,0.50,1.0,4.0,5.0,6.0,2.0,0.0,2.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388619,2017-09-30,11700002,1610612747,LAL,Los Angeles,1628398,Kyle Kuzma,26:15,9.0,12.0,...,0.00,0.0,5.0,5.0,0.0,1.0,0.0,0.0,2.0,19.0
388620,2017-09-30,11700002,1610612747,LAL,Los Angeles,203898,Tyler Ennis,11:56,3.0,4.0,...,0.00,0.0,0.0,0.0,6.0,1.0,0.0,2.0,2.0,6.0
388621,2017-09-30,11700002,1610612747,LAL,Los Angeles,1627936,Alex Caruso,6:41,0.0,2.0,...,0.00,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0
388622,2017-09-30,11700002,1610612747,LAL,Los Angeles,203505,Vander Blue,6:41,1.0,2.0,...,1.00,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,5.0
388623,2017-09-30,11700002,1610612747,LAL,Los Angeles,1628418,Thomas Bryant,6:41,1.0,1.0,...,0.50,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,3.0

In [83]:
Season_19 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2018-09-01') & (Reg_season_df['GAME_DATE'] <= '2019-08-01')]

Season_19

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
330918,2019-04-10,21801220,1610612754,IND,Indiana,203926,Doug McDermott,31:39,4.0,12.0,...,1.0,1.0,4.0,5.0,2.0,1.0,0.0,0.0,2.0,13.0
330919,2019-04-10,21801220,1610612754,IND,Indiana,1628388,TJ Leaf,34:12,12.0,19.0,...,0.8,5.0,5.0,10.0,2.0,2.0,2.0,0.0,2.0,28.0
330920,2019-04-10,21801220,1610612754,IND,Indiana,203124,Kyle O'Quinn,10:29,2.0,5.0,...,1.0,0.0,2.0,2.0,2.0,0.0,2.0,1.0,2.0,6.0
330921,2019-04-10,21801220,1610612754,IND,Indiana,201936,Tyreke Evans,26:11,9.0,14.0,...,0.8,0.0,2.0,2.0,5.0,0.0,0.0,3.0,4.0,27.0
330922,2019-04-10,21801220,1610612754,IND,Indiana,201954,Darren Collison,16:09,1.0,3.0,...,1.0,0.0,1.0,1.0,4.0,1.0,0.0,1.0,3.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358850,2018-09-28,11800002,1610612766,CHA,Charlotte,1628970,Miles Bridges,23:31,4.0,10.0,...,0.0,2.0,6.0,8.0,0.0,0.0,0.0,0.0,2.0,10.0
358851,2018-09-28,11800002,1610612766,CHA,Charlotte,2225,Tony Parker,9:09,0.0,3.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,2.0,0.0
358852,2018-09-28,11800002,1610612766,CHA,Charlotte,1626163,Frank Kaminsky,15:45,0.0,4.0,...,1.0,2.0,3.0,5.0,0.0,0.0,0.0,0.0,0.0,2.0
358853,2018-09-28,11800002,1610612766,CHA,Charlotte,1626195,Willy Hernangomez,18:16,3.0,7.0,...,0.3,2.0,6.0,8.0,2.0,0.0,0.0,2.0,3.0,9.0
358854,2018-09-28,11800002,1610612766,CHA,Charlotte,1628984,Devonte' Graham,17:21,3.0,5.0,...,0.0,0.0,2.0,2.0,1.0,1.0,0.0,1.0,2.0,7.0

In [84]:
Season_20 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2019-09-01') & (Reg_season_df['GAME_DATE'] <= '2020-10-31')]

Season_20

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
51642,2020-08-15,51900111,1610612763,MEM,Memphis,203937,Kyle Anderson,27:10,4.0,6.0,...,1.000,1.0,5.0,6.0,9.0,2.0,1.0,6.0,3.0,10.0
51643,2020-08-15,51900111,1610612763,MEM,Memphis,201229,Anthony Tolliver,23:26,2.0,4.0,...,1.000,1.0,2.0,3.0,0.0,0.0,1.0,0.0,6.0,7.0
51644,2020-08-15,51900111,1610612763,MEM,Memphis,202685,Jonas Valanciunas,34:02,8.0,16.0,...,1.000,4.0,13.0,17.0,6.0,0.0,0.0,1.0,3.0,22.0
51645,2020-08-15,51900111,1610612763,MEM,Memphis,1628415,Dillon Brooks,37:41,7.0,18.0,...,0.667,1.0,1.0,2.0,2.0,1.0,0.0,0.0,3.0,20.0
51646,2020-08-15,51900111,1610612763,MEM,Memphis,1629630,Ja Morant,41:52,13.0,28.0,...,0.750,1.0,3.0,4.0,8.0,0.0,0.0,8.0,1.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
329152,2019-10-04,11900003,1610612758,SAC,Sacramento,203992,Bogdan Bogdanovic,28:06,5.0,7.0,...,0.500,1.0,1.0,2.0,7.0,0.0,0.0,4.0,3.0,14.0
329153,2019-10-04,11900003,1610612758,SAC,Sacramento,202357,Nemanja Bjelica,22:03,4.0,9.0,...,0.800,2.0,3.0,5.0,2.0,1.0,0.0,3.0,1.0,14.0
329154,2019-10-04,11900003,1610612758,SAC,Sacramento,1626158,Richaun Holmes,19:35,4.0,6.0,...,1.000,0.0,4.0,4.0,0.0,2.0,2.0,1.0,3.0,10.0
329155,2019-10-04,11900003,1610612758,SAC,Sacramento,202709,Cory Joseph,16:27,1.0,2.0,...,0.667,0.0,1.0,1.0,3.0,1.0,0.0,3.0,4.0,5.0
329156,2019-10-04,11900003,1610612758,SAC,Sacramento,1627812,Yogi Ferrell,3:28,1.0,2.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0

In [85]:
Season_21 = Reg_season_df[(Reg_season_df['GAME_DATE'] >= '2020-12-01') & (Reg_season_df['GAME_DATE'] <= '2021-08-01')]

Season_21

,GAME_DATE,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,MIN,2pointer_MADE,2pointer_ATTEMPTS,...,FreeThrow_PCT,OFFENSIVE_REBOUNDS,DEFENSIVE_REBOUNDS,REBOUNDS_TOTAL,ASSISTS,STEALS,BLOCKS,TURNOVERS,PERSONAL_FOULS,POINTS
25155,2021-05-21,52000211,1610612763,MEM,Memphis,203937,Kyle Anderson,39:01,2.0,7.0,...,1.000,2.0,8.0,10.0,6.0,1.0,2.0,0.0,1.0,9.0
25156,2021-05-21,52000211,1610612763,MEM,Memphis,1628991,Jaren Jackson Jr.,14:56,1.0,6.0,...,0.875,2.0,0.0,2.0,0.0,0.0,2.0,1.0,4.0,10.0
25157,2021-05-21,52000211,1610612763,MEM,Memphis,202685,Jonas Valanciunas,25:33,3.0,6.0,...,0.500,6.0,6.0,12.0,3.0,0.0,0.0,3.0,6.0,9.0
25158,2021-05-21,52000211,1610612763,MEM,Memphis,1628415,Dillon Brooks,45:04,7.0,22.0,...,0.000,1.0,1.0,2.0,3.0,2.0,0.0,1.0,5.0,14.0
25159,2021-05-21,52000211,1610612763,MEM,Memphis,1629630,Ja Morant,45:45,14.0,29.0,...,1.000,2.0,4.0,6.0,6.0,4.0,0.0,5.0,2.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49943,2020-12-11,12000005,1610612757,POR,Portland,1629018,Gary Trent Jr.,27:57,6.0,13.0,...,1.000,0.0,3.0,3.0,2.0,1.0,0.0,0.0,2.0,18.0
49944,2020-12-11,12000005,1610612757,POR,Portland,1629014,Anfernee Simons,8:37,1.0,3.0,...,0.000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0
49945,2020-12-11,12000005,1610612757,POR,Portland,1628385,Harry Giles III,25:21,8.0,13.0,...,0.500,4.0,10.0,14.0,1.0,3.0,2.0,2.0,3.0,18.0
49946,2020-12-11,12000005,1610612757,POR,Portland,1629604,CJ Elleby,29:20,2.0,8.0,...,0.000,0.0,4.0,4.0,0.0,0.0,1.0,1.0,3.0,4.0
49947,2020-12-11,12000005,1610612757,POR,Portland,1629833,Keljin Blevins,7:33,1.0,2.0,...,0.000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0